.colorNavbar {
  background: -webkit-repeating-linear-gradient(right, #2a4c75, #ff6500, #2a4c75, #ff6500);

}

.encabezado {
  font-size: large;
  color: white;
}




.catalogo-tiendas a {
  display: block;
  overflow: hidden;
  margin-bottom: 2rem;

}






.catalogo-tiendas img {
  transition: all 0.5s ease;
    cursor: pointer;
}

.catalogo-tiendas img:hover {
  transform: scale(1.5);

}

.contairner-tiendas {

  overflow: auto;
}

@media (max-width: 764px) {
  .mensaje-mascota {

    width: 40%;

  }

}

.titulo-mensaje{
  font-size: 1.5rem;
  color: blue;
}

.titulo-submensaje{
  font-size: 1rem;
  color: black;
}

.link:hover{
  color: #1a56e9;
  cursor: pointer;

}

.link{
  font-size: medium;
  font-weight: normal;
  color: black;
}
