.colorNavbar{
  background-color: #2a4c75;

}

.encabezado{
  font-size: larger;
  color: white;

}
.catalogo-tiendas{

  background-color: #f1f3f4;
  display: block;
  max-height: 79%;
 overflow: auto;
}

.otra{
  position: absolute;
  z-index: 100;
  padding: o%; margin: 2px;

}

.catalogo-tiendas a{
  display: block;
  overflow: hidden;
  margin-bottom: 2rem;

}
.catalogo-tiendas img{
  transition: all 1s ease;
}
.catalogo-tiendas img:hover {
 transform: scale(1.5);
}





