
<div class=" border-bottom colorNavbar col-12 py-2" >
 <p class="container encabezado"> Catalogo de tiendas</p>
  </div> <!-- container .// -->

<section class="catalogo-tiendas  pr-lg-5 pl-lg-5">
  <div class="container bg-white pr-lg-5 pl-lg-5  shadow">
<div class="row pt-5 pr-lg-5 pl-lg-5 shadow" >
<div class="col-md-4">
  <a href=""> <img src="./../assets/images/tienda1.png"  width="100%" class="img-fluid m-x-auto"></a>
</div>

  <div class="col-md-4">
    <a href="">
    <img src="./../assets/images/tienda1.png"   width="100%" class="img-fluid m-x-auto  ">
    </a>
  </div>
  <div class="col-md-4">
    <a href=""> <img src="./../assets/images/tienda1.png"   width="100%"  class="img-fluid m-x-auto ">  </a>
  </div>
  <div class="col-md-4">
    <a href="">  <img src="./../assets/images/tienda1.png"  width="100%"  class="img-fluid m-x-auto  ">  </a>
  </div>
  <div class="col-md-4">
    <a href="">   <img src="./../assets/images/tienda1.png"   width="100%"  class="img-fluid m-x-auto  ">  </a>
  </div>
  <div class="col-md-4">
    <a href=""> <img src="./../assets/images/tienda1.png"   width="100%"  class="img-fluid m-x-auto">  </a>
  </div>
  <div class="col-md-4">
    <a href=""> <img src="./../assets/images/tienda1.png"   width="100%"  class="img-fluid m-x-auto">  </a>
  </div>
  <div class="col-md-4">
    <a href=""> <img src="./../assets/images/tienda1.png"   width="100%"  class="img-fluid m-x-auto">  </a>
  </div>
  <div class="col-md-4">
    <a href=""> <img src="./../assets/images/tienda1.png"   width="100%"  class="img-fluid m-x-auto">  </a>
  </div>


</div>
  </div>
</section>

