<div class=" border-bottom colorNavbar col-12 py-2">
  <p class=" encabezado ml-4"> Catalogo de tiendas</p>
</div> <!-- container .// -->

<div class="container-fluid mt-5">
  <div class="row  justify-content-center">
    <h4 class=" col-10  ">Cátalogo de tiendas</h4>
    <hr class="col-10  ">
  </div>
  <div class="row justify-content-center  ">
    <!--<ngb-pagination [collectionSize]="70"  [pageSize]="2" >
      http://www.techtutorhub.com/article/Simple-Pagination-with-Angular-8-and-ng-bootstrap/64
    </ngb-pagination>-->

    <div class=" col-md-3 col-lg-2   mt-3     mt-md-0">
      <div class=" card card-body container jackInTheBox  animated alert alert-warning  fade show "
           role="alert">

        <h4 class="alert-heading">Empecemos!</h4>
        <hr class="mb-0">
        <label class="">Selecciona una de tus tiendas para empezar a configurarla </label>
        <img class="mx-auto  pt-md-4  mensaje-mascota " src="../../../assets/images/mascota-condero.png" width="100%">

      </div>


    </div>

    <div class=" col-12 col-md-8  catalogo-tiendas  ">
      <div class=" container contairner-tiendas bg-white px-lg-5  shadow ">
        <div class="row pt-5  ">


          <div class="col-md-4 mx-auto" *ngFor="let tienda of misTiendas">
            <a href="" class="mb-0">
              <img class=" mx-auto " [src]="this.url + 'obtenerImagenTienda/'+tienda.LOGO" width="100%" height="190px" > </a>
            <a class="text-center  "><strong>{{tienda.RAZON_SOCIAL}}</strong></a>
          </div>


        </div>


      </div>
    </div>


  </div>
</div>
