
<body id="body">

<div class="container mt-5 ">

  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11  ">Cupones de Descuento</h4>
    <hr class="col-11  ">
  </div>

  <div  class="row justify-content-center   ">
    <div class=" col-md-9  ml-md-5 ">
      <div class=" container  bg-white  shadow ">
        <br><br><br>
        <div class="mx-auto">
          <p class=" iconos-pagos "><span class="  fas fa-tags fa-5x" style="color: #2a4c75"></span> &nbsp;<label
            style="font-size: large">Descuentos</label></p>

        </div>
        <br><br>
        <div class="mx-auto">
          <h5 class="text-center">Gestiona tus descuentos</h5>
          <br>
          <div class=" mx-md-5  mx-auto">
            <p class="text-center mx-md-5">Aquí es donde agregarás descuentos y los  gestionarás. También puedes
              importar y exportar tus cupones de descuentos</p>
          </div>
        </div>

        <br> <br>
        <div class="mx-auto text-center">
          <button class="btn btn-primary  px-5" style="font-size: small"> Crear cupón de descuento</button>
          <br> <br>
        </div>
        <br>
      </div>
    </div>


    <div class=" col-md-2   mt-5 mt-md-0   jackInTheBox   animated px-0 ">
      <div class="container card  card-body  shadow  ">
        <h5>Empecemos!</h5>
        <hr class="mb-0">
        <br>
        <p class=" iconos-pagos ">
          <img class="mx-auto  pt-md-4  mensaje-mascota " src="../../../assets/images/mascota-condero.png" width="100%">
        </p>
        <br><br><br>
        <button class="btn btn-primary" style="font-size: small"> Crear cupón de descuento</button>
      </div>
    </div>
  </div>

</div>
<br><br>
</body>
