.encabezado {
  font-size: larger;
  color: white;
}

.colorNavbar {
  background: -webkit-repeating-linear-gradient(right, #2a4c75, #ff6500, #2a4c75, #ff6500);
}

.colorNavbar i {
  color: white;
}

.imagenFondo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;

}

::selection {
  background-color: #12345f;
  color: #fff;
}

a {
  color: #12345f;
  text-decoration: none;
  font-size: small;
}
.subOpcion{
  font-size: 1rem;
}
i{
  color: #fca147;
}
a:hover {
  color: #ff6500;

  font-size: large;
}

::ng-deep aside {

  padding: 2em 1em;

  border-right: 1px solid  #ca6900 ;
  border-top: none;
  width: 280px;

}


.demo-header__toggle:after {
  background: #fff;
  content: '';
  height: 0.15rem;
  left: 0;
  margin-top: -0.075rem;
  position: absolute;
  top: 50%;
  width: 100%;
}

.demo-contents {
  padding: 0 2em;
}


@media (max-width: 500px) {
  ::ng-deep aside {
    width: 100%;
  }

  .imagenFondo {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
  }
}

h5{
  font-size: medium;
}


