<body class="bg">
<div class="container-fluid mt-2">

  <div class="row justify-content-center mb-5">
    <div class="col-md-10" id="panelUno">
      <form class="shadow-lg ">
        <div class=" alert card  backInDown animated mb-0 rounded-0 py-0 " role="alert">
          <div class="row  alinear-bienvenida ">
            <div class=" col-xl-2 col-8 col-md-4 ">
              <img src="assets/images/mascota-condero.png" width="80%">
            </div>
            <div class="col-md-10 text-xl-left text-center">
              <h4> SUPER COMDERO TE DA LA BIENVENIDA A SU PLATAFORMA</h4>
              <label  class="mt-2">
                Este es el panel de personalización de tu tienda donde podrás gestionar sus productos, envíos, ventas y
                muchas
                otras cosas más que ayudaran a que toda la web conozca tu negocio, ¡empieza ahora!</label>
            </div>
          </div>
        </div>


        <div class=" bounce animated alert alert-warning alert-dismissible fade show  text-center mb-0 rounded-0" role="alert">
          <strong><i class="fa fa-info-circle "></i> &nbsp; ¿Necesitas ayuda?</strong> Deberias revisar nuestro tutorial dando click  <a  target="_blank" href="https://www.youtube.com/watch?v=W---rQHKqqs&t=1">aquí</a>.

        </div>


        <div class="jumbotron alert alert-primary bg-white  rounded-0 backInUp animated">
          <h5 class="bold  ">Herramientas</h5>
          <div class="row justify-content-center">
            <div class="card-group col-xl-3 col-md-6 ">
              <div class="card mt-2 ">
                <img src="./../assets/images/money.png" class=" mt-2 mx-auto" alt="..." width="40%">
                <hr class="mb-0">
                <div class="card-body  px-2 text-center">
                  <h5 class="card-title">Métodos de pago</h5>
                  <p class="card-text text-justify">Configura los métodos de pago
                    que son aceptados por tu tienda para que los clientes
                    puedan realizar sus compras de lo contrario tus productos
                    no se podrán comprar a través de la plataforma y
                    solo serán visualizados.</p>

                </div>

                <div class="mx-auto pb-4 ">
                  <button class="card-text  btn btn-outline-primary" routerLink="../metodos-pago"><i class="fa fa-cog"></i> &nbsp;Configurar ahora
                  </button>
                </div>
              </div>

            </div>


            <div class="card-group col-xl-3 col-md-6  ">
              <div class="card  mt-2">
                <img src="./../assets/images/delivery.png" class="mt-3  mx-auto" alt="..." width="38%">
                <hr class="mb-0">
                <div class="card-body  px-2 text-center">
                  <h5 class="card-title ">Métodos de envío</h5>
                  <p class="card-text text-justify">Configura los métodos de envió que son aceptados por tu tienda para brindar un
                    mejor y cómodo servicio a tus clientes, además este será un factor decisivo para que los clientes
                    escojan tu tienda al momento de comprar.</p>


                </div>

                <div class="mx-auto pb-4">
                  <button class="card-text  btn btn-outline-primary" routerLink="../metodos-envio"><i class="fa fa-cog"></i> &nbsp;Configurar ahora
                  </button>
                </div>
              </div>
            </div>

            <div class="card-group col-xl-3 col-md-6  ">
              <div class="card  mt-2">
                <img src="./../assets/images/time.png" class=" mx-auto mt-2" alt="..." width="40%">
                <hr class="mb-0">
                <div class="card-body px-2 text-center">
                  <h5 class="card-title  ">Horario de atención</h5>
                  <p class="card-text text-justify">Configura tus horarios de atención para que los clientes conozca la
                    disponibilidad de tu tienda y puedan planificar su visita a tu local, este es un factor muy
                    importante para los clientes al momento de realizar sus compras.</p>
                  <br>

                </div>
                <div class="mx-auto  pb-4">
                  <button class="card-text  btn btn-outline-primary " routerLink="../general-tienda"><i class="fa fa-cog"></i> &nbsp;Configurar
                    ahora
                  </button>
                </div>
              </div>
            </div>
            <div class="card-group col-xl-3 col-md-6 ">
              <div class="card  mt-2">
                <img src="./../assets/images/boxes.png" class=" mx-auto mt-2" alt="..." width="40%">
                <hr class="mb-0">
                <div class="card-body px-2 text-center">
                  <h5 class="card-title "  >Agregar Productos</h5>
                  <p class="card-text text-justify">Publica tus productos y has que sean visibles a través de toda la web,
                    recuerda subir siempre material multimedia para que los usuarios puedan elegir más fácilmente tus
                    productos y estar seguros de su compra.</p>
                </div>

                <div class="mx-auto pb-4">
                  <button class="card-text  btn btn-outline-primary" routerLink="../productos"><i class="fa fa-cog"></i> &nbsp;Configurar ahora
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
</body>
