
textarea{
  font-size: smaller;
  resize: none;
}


.file {
  display: none
}

.borde-imagenes {
  border: rgba(0, 0, 0, 0.3) 2px dashed;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

.borde-imagenes:hover {
  border: #2a4c75 2px dashed;
  background-color: rgba(18, 52, 95, 0.2);
}

.borde-imagenes1 {
  border: rgba(0, 0, 0, 0.3) 2px dashed;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
}

.borde-imagenes1:hover {
  border: #2a4c75 2px dashed;
  background-color: white
}

.boton-cerrar {
  display: block;
  font-size: 0.9rem;
  width: 80%;
  margin-left: 10%;
  border-radius: 15px;
}

.estilo-boton-cerrar {
  display: flex;
  text-decoration: none;
  align-content: flex-end;
  width: 20px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 3px;
}

.color-imagen img {
  opacity: 1;
  transition: opacity 3s;
  cursor: pointer;
}

.color-imagen label img:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.color-imagen label img {

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.link-agregar-imagenes {
  text-align: center;
}

.link-agregar-imagenes2 {
  font-size: 0.85rem;
  text-align: center;

}

.imagen-agregar {
  opacity: 0.7;

}

.imagen-agregar:hover {
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
  color: #2a4c75;
}


.fondoAnimacionCarga {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.imagenCarga {
  width: 60%;
  margin-left: 18px;
  z-index: 150;
}

.fondo-animacion-carga-video {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.video-carga {
  width: 100%;
  height: 380px;
  display: block;
  position: center;


}

label
{
  font-size: small;
  font-weight: normal;
}

input{
  font-size: small;
}
.unidades{
  font-size: small;
}

.alert{
  font-size: smaller;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ccc;

}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity:  1;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;

}


.agregar{
  color: #1a56e9;
  cursor: pointer;
  border-bottom: #1a56e9 solid 1.5px;
}

#agregarProducto:hover{
  opacity: 0.8;

}
#agregarProducto span{
 font-size: 12px;

}

#selectUnidades{
  font-size: small;
}


.chip {
  border-radius: 25px;
  color: #102350;
  font-weight: bold;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color:rgba(35,35,35,0.05);
}
.chip:hover{

  background-color: #2a4c75;
  color: white;
}

.chip2 {
  border-radius: 25px;
  color: #102350;
  font-size: 11px;
  font-weight: normal;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-color: #1da1f2;
}
.chip2:hover{
  background-color: #2a4c75;
  color: white;
}


.categoria{
  color: #2a4c75;
  font-size: small;
  font-weight: normal;

}

.categoria:focus{

  font-size: 16px;
  font-weight: bold;

}
.container-categoria{

  height: fit-content;
  max-height: 150vh;
  overflow: auto;
 background-color: #f9fafb;

}

.container-categoria::-webkit-scrollbar {
  width:6px;
}
.container-categoria::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);

}
.container-categoria::-webkit-scrollbar-thumb {
  background-color: rgba(35, 35, 35, 0.15);
  border-radius: 40px;

}


app-ngx-editor{
  font-size:smaller;
}

.iconos-categoria{
  font-size: 1.2rem;
  align-content: center;
}

.input-colores{

  width:40px;
  height:40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;



}
