<div class="container mt-5">
  <div class="row  justify-content-md-center">
    <h5 class="card-title col-5  ">Agregar Producto</h5>
    <hr class="col-10">
  </div>


  <div class="row  justify-content-md-center">
    <div class="col-7">
      <article>
        <form class=" card card-body  shadow">
          <div class="form-row">
            <div class="col  input-group-sm ">
              <p><strong>Nombre </strong></p>
              <input class="form-control py-3 " placeholder="Ej: Refrigeradora Mabe" type="text">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div>
              <p><strong>Descripción </strong></p>
              <app-ngx-editor [(ngModel)]="this.htmlcomponent" [config]="editorConfig"
                              [placeholder]="'Inserte el texto aquí...'"
                              [spellcheck]="true" name="CorreoA"></app-ngx-editor>

              <!--<div [innerHTML]=this.htmlcomponent>
              </div>  para cuando quieras mostrar con stilos-->
            </div>
          </div> <!-- form-group end.// -->
        </form>

        <br>

        <form  name="form" #form class="card card-body  shadow">

          <div class="form-group ">
            <a class="ml-2 mt-5"><strong>Imagenes del producto </strong></a>


            <div class="row borde-imagenes  mt-3 mx-2 ">

              <div  *ngFor='let url of images; let i = index ' class="ml-2" >
                <div class="col-auto  card  color-imagen   mt-2 px-0 pb-2" >
                  <label  style="border: none;  " >
                    <img [src]="url"   height="140px" width="140px" class="px-0">
                    <input #files  name="files" (change)="onFileChange($event)" class="file" multiple type="file">
                  </label>
                  <button (click)="quitar(i)"  class="boton-cerrar btn-outline-danger px-0 py-0 ">Eliminar</button>
                </div>
              </div>
              <div class="py-2" *ngIf="!banderaAgregarImagen">
                <div class="col-auto  py-4 card  ml-2  color-imagen">
                  <label class="imagen-agregar">
                    <i class="fa fa-picture-o fa-4x ml-4"   ></i>
                    <i class="fa fa-plus-circle fa-2x ml-1"   ></i>
                    <input (change)="onFileChange($event)" class="file" multiple type="file">
                    <a class="link-agregar-imagenes ml-3 ">Click para Agregar imagenes</a>
                  </label>
                </div>
              </div>

              <div class="py-2" *ngIf="banderaAgregarImagen">
              <div class="col-auto  py-4  card  ml-2  color-imagen">
                <label class="imagen-agregar">
                  <i class="fa fa-picture-o fa-4x ml-4"   ></i>
                  <i class="fa fa-plus-circle fa-2x ml-1"   ></i>
                  <input (change)="onFileChange($event)" class="file" multiple type="file">
                  <br>
                  <p class=" pb-4 pt-3 link-agregar-imagenes2">Agregar imagenes </p>
                </label>
              </div>
              </div>

            </div>


            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <input (change)="fileChangeListener($event)" multiple type="file">
            <video *ngIf="data.video" controls width="200px">
              <source [src]="data.video" type="{{ data.type }}">
            </video>


          </div>


          <button class="btn btn-primary" type="submit">Submit</button>


          <br>
          <div class="form-group">
            <div>

            </div>
          </div> <!-- form-group end.// -->
        </form>
      </article> <!-- card-body end .// -->
    </div>
    <div class="card   shadow col-3 ml-3">

    </div>
  </div>
</div>
