<body class="h-100 bg">
<p class="text-center text-md-left pb-0 ">
  <img src="../../../assets/images/logoValid4.png" class="p-3 p-md-5 comdero"></p>
<div class="container-fluid alto mt-md-5">

  <div class="row  justify-content-between h-100">
    <div class="col-md-7 align-self-center text-center">


      <h1 class="display-3  ">ERROR DE CONEXIÓN</h1>
      <p class="letras px-md-5 lead container">Verifica tu conexión a internet o  intenta nuevamente más tarde </p>

      <div class="container  mt-5 boton-inicio px-0">
        <div class="wrap-login100-form-btn ">
          <div class="login100-form-bgbtn "></div>
          <button class="login100-form-btn " >
            Regresar al Inicio
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5 align-self-center   ">
      <div class="container">
        <p class=" iconos-pagos ">
          <img class="mx-auto    mensaje-mascota " src="../../../assets/images/mascota-condero-pensativo.png"
               width="90%">
        </p>
      </div>
    </div>
  </div>

</div>
</body>
