<div class="" >

<div class="container-fluid   ">
  <p class="text-center text-md-left pb-0 ">
    <img src="../../../assets/images/logoValid4.png" class="p-3 p-md-5 comdero"></p>
  <div class="row  justify-content-between ">
    <div class="col-md-7 align-self-center text-center">


      <h1 class="display-3  ">ERROR DE CONEXIÓN</h1>
      <p class="letras px-md-5 lead container">Verifica tu conexión a internet o  intenta nuevamente más tarde </p>

      <div class="container  mt-2 mt-md-5 boton-inicio px-0">
        <div class="wrap-login100-form-btn ">
          <div class="login100-form-bgbtn "></div>
          <a href="/principales/menu/principal"> <button   class="login100-form-btn " >
            Regresar al Inicio
          </button></a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-md-0 mt-2   ">

          <div class=" mx-auto "><img class="mx-auto dis-block" src="../../../assets/images/mascota-condero-pensativo.png"
               width="60%"></div>

    </div>
  </div>

</div>
</div>
