<body class="h-100 bg">
<p class="text-center text-md-left pb-0 ">
<img src="../../../assets/images/logoValid4.png" class="p-3 p-md-5 comdero"></p>
<div class="container-fluid h-auto mt-md-5">

  <div class="row  justify-content-between h-auto">
    <div class="col-md-7 align-self-center text-center">


      <h1 class="display-1 ">ERROR 404</h1>
      <p class="letras">Al parecer el elemento que estas buscando ya no esta disponible</p>

      <div class="container  mt-5 boton-inicio px-0">
        <div class="wrap-login100-form-btn ">
          <div class="login100-form-bgbtn "></div>
          <button class="login100-form-btn " >
            Regresar al Inicio
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5 align-self-md-center   ">
      <div class="container">
        <p class=" iconos-pagos ">
          <img class="mx-auto  pt-md-4  mensaje-mascota " src="../../../assets/images/mascota-condero-pensativo.png"
               width="100%">
        </p>
      </div>
    </div>
  </div>

</div>
</body>
