
.comdero {
  width: 280px
}

.letras {
  font-size: x-large;
}

button {
  font-size: larger;

}
.boton-inicio{
  width: 70%;
}


@media (max-width: 720px) {

  .comdero {
    width: 200px
  }

  .letras {
    font-size: large;
  }

  button {
    font-size: small;
  }

  .display-3 {
    font-size: 4em;
    margin-bottom: 30px;
  }

  .boton-inicio{
    width: 100%;

  }


}
