label {
  font-size: small;
  font-weight: normal;
}

.tamanioInputs {
  font-size: small;
}

.alert {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #bd2130;
  margin-left: 4px;
}


.errorSelect {
  border: 1px solid red;
}

.satisfactorioSelect {
  border: 1px solid limegreen;
}
