<ng-template #modalEditarCorreo let-modal>

  <div *ngIf="banderaPasoUnoCambiarCorreo">
    <div class="modal-header ">
      <h4 class="modal-title">Ingrese el nuevo correo</h4>
      <button type="button" class="close" style="font-size: medium" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="text" #CambiarCorreo="ngModel" [(ngModel)]="this.Correo" class="form-control tamanioInputs">

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="pasoDosCambiarCorreo()">Enviar Código</button>
      </div>

    </div>
  </div>
  <div *ngIf="banderaPasoDosCambiarCorreo">
    <div class="modal-header ">
      <h4 class="modal-title">Ingrese el código que enviamos a su correo</h4>
      <button type="button" class="close" style="font-size: medium" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Coodigo</label>
        <input type="text" #Codigo="ngModel" [(ngModel)]="this.codigo"
               class="form-control tamanioInputs">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="retroceder()">Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Ok click');cambioCorreoAgente()">Comprobar
        </button>
      </div>

    </div>
  </div>

</ng-template>
<div *ngIf="loading" class="fondoAnimacionCarga">
  <div class="pulse animated infinite" style="position: absolute;z-index: 150;">
    <img id="imagenCarga" src="./../assets/images/cargando.png">
    <br><br>
    <div>
      <label style="color: white; text-align: center">Espere por favor..</label>
    </div>
  </div>
</div>

<body [ngClass]="{'body-con-animacion': loading}">
<article class="card mb-3">
  <div class="card-body">

    <figure class="icontext">
      <div class="icon">
        <a href="#" class="icon icon-lg rounded-circle border"><i class="fa fa-user"></i></a>
      </div>
      <div class="">
        <h5 class="card-title"> Datos personales </h5>
      </div>
    </figure>
    <hr>
    <!--<p class="alert3 justify-content-center pb-2 text-primary small"><i class='fa fa-exclamation-circle'> </i> &nbsp;
      Los campos marcados con <strong>*</strong> son obligatorios.</p>-->
    <form #FormActualizarDatos id="formActualizarDatos" class="validate-form">
      <div class="form-row ">
        <div class=" col-md-6 form-group">
          <label>Tipo de persona</label>
          <select (change)="cambiarTipo($event.target.value)" type="text" class="form-control tamanioInputs "
                  [disabled]="banderaEdicionDeshabilitada">
            <option [selected]="banderaTipo" value="Persona">Persona Natural</option>
            <option [selected]="!banderaTipo" value="Empresa">Empresa</option>
          </select>
        </div>
        <div *ngIf="banderaTipo" class="col-md-6 form-group">
          <label>* Nombres y Apellidos</label>
          <input [disabled]="banderaEdicionDeshabilitada" #NombreA="ngModel" style="text-transform: uppercase;"
                 [(ngModel)]="this.EditarAgente.Nombre" [ngClass]="{'is-invalid': NombreA.invalid && (NombreA.dirty || NombreA.touched),
                 'is-valid': NombreA.valid &&  (NombreA.touched || NombreA.dirty)}"
                 [pattern]='this.soloLetrasPattern'
                 class="tamanioInputs form-control " name="nombreA" placeholder="" required
                 type="text"> <!--form-control-sm-->
          <div *ngIf="NombreA.invalid && (NombreA.dirty || NombreA.touched)">
            <div *ngIf="NombreA.errors.required">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
            </div>
            <div *ngIf="NombreA.errors.pattern">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                Utilice solo letras.</p>
            </div>
          </div>
        </div>

        <div *ngIf="!banderaTipo" class=" col form-group">
          <label>* Razon Social</label>
          <input [disabled]="banderaEdicionDeshabilitada" #Razon_Social="ngModel" style="text-transform: uppercase;"
                 [(ngModel)]="this.EditarAgente.Nombre" [ngClass]="{'is-invalid': Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched),
                 'is-valid': Razon_Social.valid && (Razon_Social.dirty || Razon_Social.touched)}"
                 [pattern]='this.LetrasNumerosPattern'
                 class="tamanioInputs form-control" name="razon_Social" placeholder=""
                 required type="text">
          <div *ngIf="Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched)">
            <div *ngIf="Razon_Social.errors.required">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
            </div>
            <div *ngIf="Razon_Social.errors.pattern">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                numeros.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label>* Correo electrónico</label>
        <div class="input-group mb-3">
          <input disabled #Email="ngModel" [(ngModel)]="this.EditarAgente.Correo" style="text-transform: lowercase"
                 [ngClass]="{
          'is-invalid': Email.invalid && (Email.dirty || Email.touched),
          'is-valid': Email.valid && (Email.touched || Email.dirty )}" [pattern]='this.emailPattern'
                 class="form-control tamanioInputs"
                 name="email" placeholder="" required type="email"
                 type="email">
          <div class="input-group-append ">
            <button class="btn  btn-light" type="button" (click)="editarCorreo(modalEditarCorreo)"><span
              class="fa fa-edit"></span></button>
          </div>
        </div>


        <div *ngIf="Email.invalid && (Email.touched||Email.dirty)">
          <div *ngIf="Email.errors.required">
            <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
              Campo requerido.</p>
          </div>
          <div *ngIf="Email.errors.pattern">
            <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
              Debe cumplir con el formato</p>
          </div>
        </div>
      </div>
      <div class="form-group">

        <div class="form-row">
          <div *ngIf="banderaTipo" class="form-group col-lg-6">
            <label>* Cédula</label>
            <input [disabled]="banderaEdicionDeshabilitada" #Cedula="ngModel" [(ngModel)]="this.EditarAgente.Id_Agente"
                   [ngClass]="{'is-invalid': Cedula.invalid && (Cedula.dirty || Cedula.touched),
                 'is-valid': Cedula.valid && (Cedula.dirty || Cedula.touched)}" [pattern]='this.soloNumerosPattern'
                   class="tamanioInputs form-control" maxlength="10"
                   minlength="10" name="cedula" placeholder=""
                   type="text">
            <div *ngIf="Cedula.invalid && (Cedula.dirty || Cedula.touched)">
              <div *ngIf="Cedula.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                  requerido.</p>
              </div>
              <div *ngIf="Cedula.errors.minlength">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Minimo 10 digitos.</p>
              </div>
              <div *ngIf="Cedula.errors.maxlength">
                <p class="alert alert-danger"> &nbsp; <i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Maximo 10 digitos.</p>
              </div>
              <div *ngIf="Cedula.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Utilice solo numeros. </p>

              </div>
            </div>
          </div>

          <div *ngIf="!banderaTipo" class="form-group col-lg-6">
            <label>* RUC</label>
            <input [disabled]="banderaEdicionDeshabilitada" #Ruc="ngModel" [(ngModel)]="this.EditarAgente.Id_Agente"
                   [ngClass]="{'is-invalid': Ruc.invalid && (Ruc.dirty || Ruc.touched),
                 'is-valid': Ruc.valid && (Ruc.dirty || Ruc.touched)}" [pattern]='this.soloNumerosPattern'
                   class="tamanioInputs form-control" maxlength="13"
                   minlength="13" name="ruc" placeholder="" type="text">
            <div *ngIf="Ruc.invalid && (Ruc.dirty || Ruc.touched)">
              <div *ngIf="Ruc.errors.required">
                <p class="alert alert-danger"> &nbsp; <i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Campo requerido.</p>
              </div>
              <div *ngIf="Ruc.errors.minlength">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Minimo 13 digitos.</p>

              </div>
              <div *ngIf="Ruc.errors.maxlength">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Maximo 13 digitos.</p>
              </div>
              <div *ngIf="Ruc.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Use solo numeros.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group col-lg-6">
            <label>* Celular / Convencional</label>
            <input [disabled]="banderaEdicionDeshabilitada" #Telefono="ngModel" [(ngModel)]="this.EditarAgente.Telefono"
                   [ngClass]="{'is-invalid': Telefono.invalid && (Telefono.dirty || Telefono.touched),
                 'is-valid': Telefono.valid && (Telefono.dirty || Telefono.touched)}"
                   [pattern]='this.soloNumerosPattern' class="tamanioInputs form-control" name="telefono"
                   type="tel">
            <div *ngIf="Telefono.invalid && (Telefono.dirty|| Telefono.touched) ">
              <div *ngIf="Telefono.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Campo requerido.</p>
              </div>

              <div *ngIf="Telefono.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Utilice solo numeros.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>* Provincia</label>
            <select [disabled]="banderaEdicionDeshabilitada" #Provincia="ngModel"
                    (change)="getDpaCiudades($event.target.value)"
                    [(ngModel)]="this.provincia"
                    [ngClass]="{
          'errorSelect': Provincia.invalid && (Provincia.dirty || Provincia.touched),
          'satisfactorioSelect': Provincia.valid && (Provincia.dirty || Provincia.touched)}"
                    class=" tamanioInputs form-control  " data-size="4" name="provincia"
            >
              <option disabled *ngIf="!this.ciudades || banderaEdicionDeshabilitada">{{this.provincia}}</option>
              <option *ngFor="let provincia of this.provincias"
                      value="{{provincia.COD_DPA}}"> {{provincia.NOMBRE }}</option>
            </select>
            <div *ngIf="Provincia.invalid && (Provincia.touched||Provincia.dirty)">
              <div *ngIf="Provincia.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Campo equerido</p>
              </div>

            </div>
          </div>

          <div class="form-group col-md-6">
            <label>* Ciudad</label>

            <select (change)="seleccionarCiudad($event.target.value)" [disabled]="banderaEdicionDeshabilitada"
                    #Ciudad="ngModel" [(ngModel)]="this.ciudad" [ngClass]="{
          'errorSelect': Ciudad.invalid && (Ciudad.dirty || Ciudad.touched),
          'satisfactorioSelect': Ciudad.valid && (Ciudad.dirty || Ciudad.touched)}"
                    class="tamanioInputs form-control" name="ciudad" placeholder=""
            >
              <option disabled *ngIf="!this.ciudades || banderaEdicionDeshabilitada">{{this.ciudad}}</option>
              <option *ngFor="let ciudad of this.ciudades" value="{{ciudad.COD_DPA}} "> {{ciudad.NOMBRE }}</option>
            </select>
            <div *ngIf="Ciudad.invalid && (Ciudad.touched||Ciudad.dirty)">
              <div *ngIf="Ciudad.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Campo requerido.</p>
              </div>
            </div>
          </div>

        </div>

        <label>* Calle Principal</label>
        <input [disabled]="banderaEdicionDeshabilitada" (keyup)="buscadorDirecciones()" #CallePrincipal="ngModel"
               [(ngModel)]="this.EditarAgente.Calle_Principal_Agente"
               [ngClass]="{
          'errorSelect': CallePrincipal.invalid && (CallePrincipal.dirty || CallePrincipal.touched),
          'satisfactorioSelect': CallePrincipal.valid && (CallePrincipal.dirty || CallePrincipal.touched)}"
               class="tamanioInputs form-control"
               name="callePrincipal" placeholder="" id="CallePrincipal">
        <div *ngIf="CallePrincipal.invalid && (CallePrincipal.touched||CallePrincipal.dirty)">
          <div *ngIf="CallePrincipal.errors.required">
            <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
              Campo requerido.</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>* Calle Secundaria</label>
        <input [disabled]="banderaEdicionDeshabilitada" #CalleSecundaria="ngModel"
               [(ngModel)]="this.EditarAgente.Calle_Secundaria_Agente"
               [ngClass]="{
          'errorSelect': CalleSecundaria.invalid && (CalleSecundaria.dirty || CalleSecundaria.touched),
          'satisfactorioSelect': CalleSecundaria.valid && (CalleSecundaria.dirty || CalleSecundaria.touched)}"
               class="tamanioInputs form-control"
               name="calleSecundaria" placeholder="" id="calleSecundaria">
        <div *ngIf="CalleSecundaria.invalid && (CalleSecundaria.touched||CalleSecundaria.dirty)">
          <div *ngIf="CalleSecundaria.errors.required">
            <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
              Campo requerido.</p>
          </div>

        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-6 form-group">
          <label>Número de referencia</label>
          <input [disabled]="banderaEdicionDeshabilitada" #NumCasaAgente="ngModel"
                 [(ngModel)]="this.EditarAgente.Num_Casa_Agente" class="tamanioInputs form-control"
                 name="numCasaAgente" placeholder="" type="text">
          <div>
          </div>
        </div>
        <div class=" col-lg-6 form-group">
          <label>Codigo Postal</label>
          <input [disabled]="banderaEdicionDeshabilitada" #CodigoPostal="ngModel"
                 [(ngModel)]="this.EditarAgente.Num_Cod_Postal" class="tamanioInputs form-control"
                 name="codigoPostal" type="text">

        </div>
      </div>
    </form>
  </div>
</article>
<article class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-2">Acciones</h5>
    <div class="form-row justify-content-end">
      <button *ngIf="banderaEdicionDeshabilitada" (click)="habilitarEdicion()" href="#"
              class="btn btn-warning text-white "><span class="fa fa-edit"></span> Modificar
      </button> &nbsp;
      <button [disabled]="!FormActualizarDatos.checkValidity()" *ngIf="!banderaEdicionDeshabilitada"
              (click)="actualizarAgente()" href="#"
              class="btn btn-primary text-white "><span class="fa fa-save"></span> Guardar
      </button> &nbsp;
      <button *ngIf="!banderaEdicionDeshabilitada" href="#" (click)="cancelarEdicion()" class="btn btn-light  "><span
        class="fa fa-close"></span> Cancelar
      </button>
    </div>
  </div>
</article>
</body>
