<section>
  <h5 class="font-weight-bold text-lg-left text-center py-3 px-5">Información <span
    class="fa fa- fa-info-circle"></span></h5>
  <hr>

  <div class="row justify-content-center ">
    <div class=" col-12">
      <div class="card bg-white text-white">
        <img class="card-img" src="assets/images/fondo-info-valid2.png" height="600px" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title black text-center">¿ Quienes somos ?</h3>
          <div class="card-body">

            <p class="lead black text-center "> {{this.Tienda?.DESCRIPCION_TIENDA}}</p>

          </div>
        </div>

      </div>
    </div>
  </div>

  <br><br><br>


  <div class="row justify-content-center ">
    <div class=" col-12 color-fondo">
      <div class="card text-white   "  >
        <br><br><br>
        <img class="mx-auto pt-5 pt-md-0 banner-pago" src="assets/images/banner-pagos.png"  width="100%" alt="Card image">
        <div class="card-img-overlay " >
          <h3 class="card-title black text-center">Metodos de págo</h3>
          <div class="card-body">

            <p class=" lead black text-center ">Tenemos algunos métodos de pago para facilitar la compra de tus productos </p>

          </div>
        </div>

      </div>
      <div class="card-group col-md-4 col-8 "  *ngIf="this.objEfectivo.Tipo_Pago!=null">
        <div class=" ">
          <img src="assets/images/pago-efectivo.png" class="mt-3  mx-auto" alt="..." width="80%" >
          <hr>
          <div class="card-body">
            <h5 class="card-title">Efectivo</h5>
            <p class="card-text">Ud puede pagar con efectivo en nuestra tienda, realiza la compra en la plataforma y puedes pagarlo al momento de la entrega.</p>
            <br>
            <div class="mx-auto">
              <button class="card-text  btn btn-outline-primary ">Porcentaje de descuento:{{objEfectivo.Descuento}}%</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-group col-md-4 col-8 "  *ngIf="this.objTransferencia.Tipo_Pago!=null">
        <div class=" ">
          <img src="assets/images/pago-efectivo.png" class="mt-3  mx-auto" alt="..." width="80%" >
          <hr>
          <div class="card-body">
            <h5 class="card-title">Transferencia Bancaria</h5>
            <p class="card-text">Ud puede pagar con transferencia bancaria luego de realizar la compra en la plataforma .</p>
            <p class="card-text">Banco:{{this.objTransferencia.Banco_Pertenece}}</p>
            <p class="card-text">Tipo de cuenta:{{this.objTransferencia.Tipo_Cuenta}}</p>
            <p class="card-text">#Cuenta:{{this.objTransferencia.Numero_cuenta}}</p>
            <br>
            <div class="mx-auto">
              <button class="card-text  btn btn-outline-primary ">Porcentaje de descuento:{{objTransferencia.Descuento}}%</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-group col-md-4 col-8 "  *ngIf="this.objElectronico.Tipo_Pago!=null">
        <div class=" ">
          <img src="assets/images/pago-efectivo.png" class="mt-3  mx-auto" alt="..." width="80%" >
          <hr>
          <div class="card-body">
            <h5 class="card-title">Pago Electrónico</h5>
            <p class="card-text">Ud puede pagar todas sus compras a traves de la plataforma Paypal quien asegura la transferencia al momento de tu compra .</p>
            <br>
            <div class="mx-auto">
              <button class="card-text  btn btn-outline-primary ">Porcentaje de recargo:{{objElectronico.Recargo}}%</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>
