<body class="">
<section class="section-pagetop bg">
  <div class="container bg">
    <h2 class="title-page">Carrito de compras</h2>
  </div> <!-- container //  -->
</section>

<section class="section-content ">
  <div *ngIf="vTiendas.size==0" class="container mt-5">
    <p>No tienes productos agregados</p>
  </div>

  <div class="container bg p-4  mt-4" *ngFor="let tienda of vTiendas; let i = index">
    <div class="media">
      <img class="mr-3 rounded-circle"
           [src]="getImagen(tienda.producto_carrito[0].VARIANTE.PRODUCTO.OFERTum.TIENDA.LOGO)" alt="logo tienda"
           width="50px">

      <div class="media-body">
        <h5 class="mt-3">{{tienda.producto_carrito[0].VARIANTE.PRODUCTO.OFERTum.TIENDA.NOMBRE_COMERCIAL}}</h5>

      </div>

      <button class="btn btn-primary" type="button" data-toggle="collapse"
              [attr.data-target]="'#multiCollapseExample'+i"><i class="fa fa-shopping-cart"></i> &nbsp;<i
        class="fa fa-chevron-down"></i></button>

    </div>

    <br>

    <div class="row  collapse show" id="multiCollapseExample{{i}}">
      <aside class="col-lg-9 ">
        <div class="card">
          <div class="card-body ">

            <div class="row justify-content-center mb-5 " *ngFor="let producto of tienda.producto_carrito">
              <div class="col-12 col-md-5 text-center text-md-left  mb-md-0 mb-4">
                <p class="text-uppercase ">Producto</p>
                <div class="itemside">
                  <div class="aside"><img [src]="getImagen(producto.IMAGEN_MOSTRAR)" height="125px" width="125px">
                  </div>
                  <figcaption class="info text-left">

                    <a href="#" class=" price">{{producto.VARIANTE.PRODUCTO.NOMBRE_PRODUCTO}}</a>
                    <p class="text-muted small "
                       *ngIf="producto.VARIANTE.MATERIAL">Material:&nbsp;&nbsp; {{producto.VARIANTE.MATERIAL}}
                    </p>
                    <p class="text-muted small" *ngIf="producto.VARIANTE.COLOR">Color:<span
                      class="px-2 py-0 ml-2 border border-dark"
                      [style.background-color]="producto.VARIANTE.COLOR"></span></p>
                    <p class=" small"
                       *ngIf="producto.VARIANTE.TALLA">Talla:&nbsp;&nbsp;&nbsp;{{producto.VARIANTE.TALLA}}</p>
                  </figcaption>
                </div>
              </div>
              <div class="col-12 col-md-3  mb-3 mb-md-0 text-center text-md-left   ">
                <p class="text-uppercase mb-0 mb-md-3">Cantidad</p>
                <div *ngIf="producto.VARIANTE.STOCK!=0"
                     class="input-group input-spinner justify-content-center justify-content-md-start">
                  <div class="input-group-prepend">
                    <button class="btn btn-light " style="border-color: darkgray" type="button" id="button-minus"
                            (click)="decrementar(producto.CANTIDAD_PRODUCTO_CARRITO,producto.VARIANTE.STOCK,producto.NUM_VARIANTE,producto.ID_CARRITO);">
                      −
                    </button>

                  </div>
                  <input type="text" class="form-control" style="border-color: darkgray" ngModel="piker"
                         [(ngModel)]="producto.CANTIDAD_PRODUCTO_CARRITO">
                  <div class="input-group-append">

                    <button class="btn btn-light" style="border-color: darkgray" type="button" id="button-plus"
                            (click)="incrementar(producto.CANTIDAD_PRODUCTO_CARRITO, producto.VARIANTE.STOCK,producto.NUM_VARIANTE,producto.ID_CARRITO)">
                      +
                    </button>
                  </div>
                </div> <!-- input-group.// -->
                <p *ngIf="producto.VARIANTE.STOCK==0" class="text-danger"> No disponible </p>

              </div>
              <div class="col-12 col-md-3  text-center text-md-left   ">
                <p class="text-uppercase mb-0 mb-md-3">Precio</p>
                <div class="price-wrap">
                  <var class="price">{{producto.precio_productos | currency}} </var>
                  <small class="text-muted">  {{producto.VARIANTE.PRECIO_UNITARIO + producto.VARIANTE.PRECIO_UNITARIO*producto.VARIANTE.PRODUCTO.OFERTum.IVA/100 | currency}} c/u </small>
                </div> <!-- price-wrap .// -->
              </div>
              <div class="col-6 col-md-1 text-center text-md-left   ">
                <p class="text-uppercase  white"></p>
                <a style="color: red" (click)="deleteProductoCarrito(producto.VARIANTE.NUM_VARIANTE)"> <i
                  class="fa fa-close"></i></a>
              </div>
            </div>
          </div>

          <div class="card-body border-top">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
          </div> <!-- card-body.// -->

        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <aside class="col-lg-3">

        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label>Tienes un cupon?</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="" placeholder="Código">
                  <span class="input-group-append">
				<button class="btn btn-primary">Aplicar</button>
			</span>
                </div>
              </div>
            </form>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Sub total:</dt>
              <dd class="text-right">{{tienda.cuentas.subTotal | currency}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Iva:</dt>
              <dd class="text-right text-danger">{{tienda.cuentas.iva | currency}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total con Iva:</dt>
              <dd class="text-right text-dark b"><strong>{{tienda.cuentas.totalConIva | currency}}</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img src="../images/misc/payments.png" height="26">
            </p>
            <a (click)="calcularPrecios(2)" class="btn btn-primary btn-block"> Comprar</a>
            <a href="#" class="btn btn-light btn-block">Continuar comprando</a>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->


    </div> <!-- row.// -->

  </div>

</section>
</body>
