body{
  max-height: 100%;
  overflow: auto;
}

a{
  font-size: small;
}

.active2{
  display: none;
}

.active{
  display: block;
}


@media (max-width:720px){
  .title-page{
    font-size: larger;
    font-weight: bold;
  }
}
