<!-- ========================= SECTION PAGETOP ========================= -->
<body >
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Mi Cuenta</h2>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT VISION GENERAL ========================= -->

<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <ul class="list-group">
          <a class="list-group-item active" href="#"> Visión General </a>
          <a class="list-group-item" href="#"> Datos personales </a>
          <a class="list-group-item" href="#"> Datos de facturcion</a>
          <a class="list-group-item" href="#"> Cambiar contraseña</a>
          <a class="list-group-item" href="#"> Lista de deseos</a>
          <a class="list-group-item" href="#"> Ordenes realizadas </a>
          <a class="list-group-item" href="#"> A la espera de la entrega </a>
          <a class="list-group-item" href="#"> Articulos entregados </a>

        </ul>
      </aside> <!-- menu -->

      <!--paneles-->
      <main class="col-md-9"  >

        <router-outlet></router-outlet>


      </main>
      <!--fin paneles-->
    </div>

  </div> <!-- container .//  -->
</section>



</body>
