<!-- ========================= SECTION PAGETOP ========================= -->
<body >
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Mi Cuenta</h2>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT VISION GENERAL ========================= -->

<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <ul class="list-group text">
          <a class="list-group-item" routerLink="vision-general" routerLinkActive="active" > Visión General </a>
          <a class="list-group-item" routerLink="datos-personales" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"> Datos personales </a>
          <a class="list-group-item" routerLink="cambiar-contrasenia" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"> Cambiar contraseña</a>
          <a class="list-group-item" routerLink="pedidos-realizados" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"> Pedidos realizadas </a>
          <a class="list-group-item" href="#"> A la espera de la entrega </a>
          <a class="list-group-item" href="#"> Articulos entregados </a>

        </ul>
      </aside> <!-- menu -->

      <!--paneles-->
      <main class="col-md-9"  >

        <router-outlet></router-outlet>


      </main>
      <!--fin paneles-->
    </div>

  </div> <!-- container .//  -->
</section>



</body>
