<ng-template #modalVideoYoutube let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Subir video de Youtube</h4>
    <button type="button" class="close" style="font-size: medium" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Pegar URL de Youtube</label>
      <input type="text" #DireccionVideoYoutube="ngModel" [(ngModel)]="this.direccionVideoYoutube" class="form-control"
             placeholder="https://">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');getVideoIframe()">Subir Video de
        youtube <span class="fab fa-youtube"></span></button>
    </div>

  </div>


</ng-template>


<ng-template #modalCategorias let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Categorias</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" style="font-size: x-large">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <label class="">Seleccione las categorias a las cuales pertenece el producto</label>
    <div class="container">


      <div *ngFor="let c11 of this.c1; let i = index">
        <hr class="mb-1 mt-1">

        <div class="dropdown justify-content-center">
          <button (click)="busquedaCategoria2(c11.ID_CATEGORIA)" [attr.data-target]="'#myModal'+i"
                  aria-expanded="false" aria-haspopup="true" class="categoria dropdown-toggle  dropdown-toggle-split"
                  data-toggle="collapse"><span class="{{this.vectorIconos[i]}} iconos-categoria"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{c11.NOMBRE}}
          </button>
          <div class="form-row mb-3 collapse justify-content-center" id="myModal{{i}}">
            <div *ngFor="let c22 of this.categoriaEncontrada2; let i = index">
              <div class="checkbox">
                <label
                  *ngIf="c11.ID_CATEGORIA==c22.CAT_ID_CATEGORIA" class="chip  col btn" for="checkCategoria{{i}}"
                  id="labelcheckCategoria2{{i}}">{{c22.NOMBRE}}
                  <input (change)="busquedaCategoria3(c22.ID_CATEGORIA,$event,c22,i)" id="checkCategoria{{i}}"
                         style="display: none" type="checkbox">
                </label>
              </div>
              <div class="form-row  justify-content-center">
                <div *ngFor="let c33 of this.categoriaEncontrada; let i =index">
                  <label *ngIf="c11.ID_CATEGORIA==c22.CAT_ID_CATEGORIA && c22.ID_CATEGORIA==c33.CAT_ID_CATEGORIA"
                         class="chip2 col btn btn-light"
                         for="checkCategoria3{{i}}" id="labelcheckCategoria3{{i}}">{{c33.NOMBRE}}
                    <input (change)="seleccionarCategoria3($event,c33,i)" id="checkCategoria3{{i}}"
                           style="display: none"
                           type="checkbox">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <button (click)="cc($event)" class="col btn btn-light clicked">asd</button>-->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>


</ng-template>

<body id="body">

<div class="container-fluid mt-5 ">

  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11  ">Modificar Producto</h4>
    <hr class="col-11  ">
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10" id="panelUno">
      <form #FormInformacion id="formInformacion" class="card card-body validate-form">
        <h6>Información</h6>
        <hr>
        <div class="container">
          <div class="form-row ">
            <div class="col-md-3 ">
              <label>Nombre</label>
              <input #NombreProducto="ngModel" [(ngModel)]="this.Producto.Nombre_Producto"
                     class=" form-control py-3 "
                     name="nombreProducto" required
                     type="text" [ngClass]="{'is-invalid': NombreProducto.invalid && banderaValidaciones}">
              <div *ngIf="NombreProducto.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
            <div class="col-md-3 ">
              <label>Codigo</label>
              <input #CodigoProducto="ngModel" [(ngModel)]="this.Producto.Cod_Producto"
                     class=" form-control py-3 "
                     name="codigoProducto"
                     type="text">
            </div>
            <div class="col-md-3 ">
              <label>Marca </label>
              <input #Marca="ngModel" [(ngModel)]="this.Producto.Marca" class="form-control py-3 "
                     name="marca"
                     type="text">
            </div>
            <div class="col-md-3 ">

              <div class="form-group">
                <label for="selectCondicion">Condición</label>
                <select class="form-control" id="selectCondicion"  [(ngModel)]="this.Producto.Condicion" #SelectCondicion="ngModel" name="selectCondicion">
                  <option value="Nuevo" [selected]="this.Producto.Condicion=='Nuevo'">Nuevo</option>
                  <option value="Como nuevo" [selected]="this.Producto.Condicion=='Como nuevo'">Como nuevo
                  </option>
                  <option value="Usado como nuevo" [selected]="this.Producto.Condicion=='Usado como nuevo'">Usado
                    como nuevo
                  </option>
                  <option value="Usado" [selected]="this.Producto.Condicion=='Usado'">Usado</option>

                </select>

              </div>


            </div>

          </div>
          <div class="form-group mt-2">
            <label>Descripción del producto </label>
            <textarea #DescripcionProducto="ngModel" [(ngModel)]="this.Producto.Descripcion_Producto"
                      class="form-control" name="descripcionProducto" required
                      rows="2" type="text"></textarea>
          </div>
          <div class="form-group">
            <label>Detalles del producto </label>
            <app-ngx-editor #DetalleProducto="ngModel" [(ngModel)]="this.Producto.Detalle_Producto"
                            [config]="editorConfig" name="detalleProducto"></app-ngx-editor>

            <!--<div [innerHTML]=this.htmlcomponent>
            </div>  para cuando quieras mostrar con stilos-->
          </div> <!-- form-group end.// -->
        </div>

        <div class="container">
          <div class="form-row mt-2 ">

            <div class="col-md-6">
              <div class="form-group">
                <label>Porcentaje de Iva </label>
                <div class="input-group mb-3">
                  <input #Iva="ngModel" [(ngModel)]="this.Oferta.Iva" class="form-control" name="iva" placeholder="12"
                         min="0" step="0.01" oninput="validity.valid||(value='');"
                         type="number">
                  <div class="input-group-append">
                    <span class="input-group-text unidades">%</span>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-0">
                <label>Peso aproximado <span style="font-size: x-small" class="ml-2">(El peso de los productos ayudará a calcular el precio de
                  envío)</span></label>
                <div class="input-group mb-0">
                  <input #Peso="ngModel" [(ngModel)]="this.Producto.Peso_Producto" class="form-control" name="peso"
                         placeholder="120" min="0" step="0.01" oninput="validity.valid||(value='');"
                         type="number" required [ngClass]="{'is-invalid': Peso.invalid && banderaValidaciones}">
                  <div class="input-group-append">
                    <span class="input-group-text unidades">Kg</span>
                  </div>


                </div>

              </div>


              <div *ngIf="Peso.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <form class="card card-body ">
        <h6>Garantia</h6>
        <hr>
        <div class="container">
          <label>Seleccione el tipo de garantia ofrecida por este producto</label>
          <br>
          <div class="form-group">
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia"
                     type="radio" value="Garantia del vendedor" id="GarantiaVendedor"
                     [checked]="this.Oferta.Garantia=='Garantia del vendedor'">
              <label for="GarantiaVendedor">&nbsp;&nbsp;Garantia del vendedor</label>
            </div>
            <br>
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia"
                     type="radio" value="Garantia de fabrica" id="GarantiaFabrica"
                     [checked]="this.Oferta.Garantia=='Garantia de fabrica'">
              <label for="GarantiaFabrica">&nbsp;&nbsp;Garantia de fabrica </label>
            </div>
            <br>
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia"
                     type="radio" value="Sin garantia" id="SinGarantia"
                     [checked]="this.Oferta.Garantia=='Sin garantia'">
              <label for="SinGarantia">&nbsp;&nbsp; Sin garantia </label>
            </div>
          </div>
          <br>
        </div>
      </form>
      <br>
      <form class=" card card-body">

        <h6>Inventario</h6>
        <hr>
        <div class="container">


          <div class="form-group ml-2">
            <div class="checkbox-item">
              <input (click)="opcionRastrearStock($event)" id="rastrearCantidad" type="checkbox"
                     [checked]="this.Producto.Rastrear_Stock==0">
              <label for="rastrearCantidad">&nbsp;&nbsp;Rastrear la cantidad</label>
            </div>
          </div>


          <div class="form-group ml-2">
            <div class="checkbox-item">
              <input (click)="opcionVenderSinStock($event)" id="venderDespuesAgotado"
                     type="checkbox" [checked]="this.Producto.Vender_Sin_Stock==0">
              <label for="venderDespuesAgotado">&nbsp;&nbsp;Continuar vendiendo cuando se haya
                agotado</label>
            </div>
          </div>


          <br>
        </div>
      </form>
      <br>
      <form class=" card card-body ">

        <div class="row justify-content-between mx-2">
          <h6>Categorias seleccionadas </h6>

          <div ngbDropdown class="d-inline-block justify-content-end text-right">
            <button id="btnCategorias" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="btnCategorias">
              <button ngbDropdownItem class="btnOpcTarifaLocal" (click)="abrirModalCategorias(modalCategorias)">
                Agregar Categorias
              </button>

            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="form-row ">
            <div *ngIf="this.categoriasSeleccionadas.size==0 &&!banderaValidaciones" class="form-group">
              <div class="alert alert-primary col-12" role="alert">
                <a><span class="fa fa-exclamation fa-1x"></span></a>
                No existe categorias seleccionadas
              </div>
            </div>
            <div *ngIf="this.categoriasSeleccionadas.size==0 && banderaValidaciones" class="form-group">
              <div class="alert alert-danger col-12" role="alert">
                <a><span class="fa fa-exclamation fa-1x"></span></a>
                Debe seleccionar almenos una categoria
              </div>
            </div>

            <div *ngFor="let cs of categoriasSeleccionadas">

              <div class="mr-2 btn-group">
                <button class="col chip mt-2" style="font-size: smaller">{{cs.NOMBRE}}
                  <button (click)="eliminarCategoria(cs)" class="chip-resumen-categorias"> &nbsp; | x
                  </button>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div class=" card card-body " >
        <h6>Variantes</h6>
        <hr>
        <div class="container">
          <div *ngFor="let item of this.Variantes; index as i" class="form-row justify-content-center px-0 ">
            <div class="form-group col-11  mt-4 mb-0">
              <p style="font-weight: bolder; font-size: medium">Opcion {{i + 1}}</p>
            </div>
            <div class="form-group  col-1 mt-4 mb-0">
              <button (click)="borrarOpcionesProducto(i)" class="form-control " style=" border: none; color: red">
                <span class="fa fa-trash "></span>
              </button>
            </div>
            <hr class="col-12 mt-0">
            <div class="form-group col-md-2 offset-lg-1 justify-content-center">
              <label>Color</label>
              <input (colorPickerChange)="cambiarColor($event,i)" [(colorPicker)]=this.Variantes[i].Color
                     [style.background]=this.Variantes[i].Color
                     class="form-control input-colores"/>
            </div>
            <div class="form-group  col-md-4">
              <label> Talla </label>
              <input #Talla="ngModel" [(ngModel)]="this.Variantes[i].Talla" class="form-control " name="talla{{i}}"
                     placeholder="Ej. xl o 34 o etc" type="text">
            </div>
            <div class="form-group  col-md-4">
              <label>Material</label>
              <input #Material="ngModel" [(ngModel)]="this.Variantes[i].Material" class="form-control  "
                     name="material{{i}}"
                     placeholder="Ej. Gamusa/algodon" type="text">
            </div>

            <div class="form-group col-12 ">
             <form name="form">
              <a class=" mt-5">
                <label>Imagenes de la opcion {{i}} </label>
                <span *ngIf="banderaMensajeMaximoImagenes" style="color: red"> *Recuerda máximo 6 imagenes </span></a>
              <div
                [ngClass]="{'borde-imagenes':vectorBanderaAgregarImagen[i]==false,'borde-imagenes1':vectorBanderaAgregarImagen[i]==true }"
                class="row  mt-3 ">
                <div *ngFor='let url of imagenes[i]; index as j ' class="ml-1">
                  <div class="col-auto card mt-2 px-0 pb-0">
                    <label style="border: none;  ">
                      <img [src]="url" class="px-0" height="140px" width="140px">
                      <input (change)="subirImagenes($event,(i))" accept="image/*" class="file" multiple name="files"
                             type="file">
                    </label>
                    <button (click)="quitarImagenes((i),j)" class="boton-cerrar  btn-outline-danger px-0 py-0 ">

                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </div>
                <div *ngIf="vectorBanderaAgregarImagen[i]==false" class="mx-auto ">
                  <div class="col-auto pt-4">
                    <label class="imagen-agregar ">
                      <i class="fa fa-cloud-upload-alt fa-4x"></i>
                      <!--   <i class="fa fa-plus-circle fa-2x ml-1"></i>-->
                      <input (change)="subirImagenes($event,i)" accept="image/*" class="file" multiple type="file">
                    </label>
                  </div>
                </div>
                <div *ngIf="vectorBanderaAgregarImagen[i]==false" class=" col-12 pb-5 mx-auto ">
                  <p class="link-agregar-imagenes ">Click para Agregar imagenes</p>
                </div>

                <div *ngIf="vectorBanderaAgregarImagen[i]==true && imagenes[i].length<6" class="py-2">
                  <div class=" px-2 py-4  card  ml-2 ">
                    <label class="imagen-agregar">
                      <i class="fa fa-picture-o fa-4x ml-4"></i>
                      <i class="fa fa-plus-circle fa-2x ml-1"></i>
                      <input (change)="subirImagenes($event,i)" accept="image/*" class="file" multiple type="file">
                      <br>
                      <p class="pb-1 pt-3 link-agregar-imagenes2">Agregar imagenes </p>
                      <p class=" link-agregar-imagenes2">maximo 6</p>

                    </label>
                  </div>
                </div>
              </div>
             </form>
            </div> <!-- form-group end.// -->

            <div class="form-group col-lg-7">
              <label> Stock y unidad de medida del producto</label>
              <div class="input-group">

                <input #Stock="ngModel" [(ngModel)]="this.Variantes[i].Stock" class="form-control" name="stock{{i}}"
                       placeholder="200" type="number" min="0" step="0.01" oninput="validity.valid||(value='');"
                       required [ngClass]="{'is-invalid': Stock.invalid && banderaValidaciones}">

                <select #Unidad="ngModel" [(ngModel)]="this.Variantes[i].Cod_Unidad" class=" form-control col-lg-5 "
                        id="selectUnidades" name="unidad{{i}}"

                        [ngClass]="{'errorSelect': Stock.invalid && banderaValidaciones}">

                  <option *ngFor="let unidad of this.unidades"
                          [selected]="unidad.COD_UNIDAD_MEDIDA==this.Variantes[i].Cod_Unidad">{{unidad.COD_UNIDAD_MEDIDA}}</option>
                </select>

              </div>
              <div *ngIf="Stock.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>

            <div class="form-group  col-md-4">
              <label>Precio</label>
              <div class="input-group">
                <input #PrecioUnitario="ngModel" [(ngModel)]="this.Variantes[i].Precio_Unitario"
                       aria-label="Amount (to the nearest dollar)" class="form-control"
                       name="precioUnitario{{i}}" placeholder="20" (focusout)="formatear($event)"
                       type="number" min="0" step="0.01" oninput="validity.valid||(value='');" required
                       [ngClass]="{'is-invalid': PrecioUnitario.invalid && banderaValidaciones}">
                <div class="input-group-append">
                  <span class="input-group-text unidades">$</span>
                </div>

              </div>
              <div *ngIf="PrecioUnitario.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>


          </div>
          <div class="form-group col-md-12">
            <p (click)="agregarOpcionesProducto()" class="agregar">
              <span class="fa fa-plus "></span> &nbsp;Agregar opcion
            </p>
          </div>
        </div>
      </div>
      <br>
      <form class=" card card-body ">
        <h6>Video promocional</h6>
        <hr>
        <div class="container">
          <div class="form-row">

            <span *ngIf="banderaMensajeMaximoVideo" class=" col-md-5" style="color: red;font-size: small">* Recuerda Maximo 150MB</span>
            <a (click)="abrirModalVideoYoutube(modalVideoYoutube)" class="agregarVideoYoutube ml-2 col-md-5 ">
              Agregar video de youtube &nbsp; <span class="fab fa-youtube "></span>
            </a>
          </div>


          <div class="form-group ">


            <div [ngClass]="{'borde-imagenes':!data.video,'borde-imagenes1':data.video }" class="row mt-3 mx-1 ">
              <div class="  mx-auto">
                <div *ngIf="this.banderaAnimacionVideo==true">
                  <div class="fondoAnimacionCarga py-5">
                    <div class="pulse animated infinite py-5  ">
                      <img class="imagenCarga" src="assets/images/cargando.png">
                      <br><br>
                      <div>
                      </div>
                    </div>
                    <label style="color: white; text-align: center">Cargando previsualización, espere
                      porfavor....</label>
                  </div>

                </div>
              </div>
              <div class=" col-12 mx-auto">
                <div *ngIf="this.videoYoutube">
                  <iframe width="100%" height="315" [src]="this.videoYoutube" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>

                <div *ngIf="data.video">

                  <div class="mx-auto fondo-animacion-carga-video">
                    <video class="video-carga" controls height="auto" width="auto">
                      <source [src]="data.video" type="{{ data.type }}">
                    </video>
                  </div>
                </div>
              </div>
              <div *ngIf="!this.videoYoutube" class=" col-auto  mx-auto">
                <div class=" pt-4 ml-2  ">
                  <label class="imagen-agregar ">
                    <i class="fa fa-film fa-4x  "></i>
                    <i class="fa fa-upload fa-2x ml-1 "></i>
                    <input (change)="subirVideo($event)" accept="video/*" class="file" type="file">
                  </label>
                </div>
              </div>
              <div *ngIf="!this.videoYoutube" class=" col-12 mx-auto ">
                <p class="link-agregar-imagenes pb-5">Click para subir un video promocional del producto </p>
              </div>
            </div>
            <a *ngIf="this.videoYoutube" (click)="resetearVideoYoutube()" class="agregarVideoYoutube ml-2 col-md-5 ">
              Agregar video desde el ordenador &nbsp; <span class="fa fa-laptop "></span>
            </a>
          </div>
        </div>
      </form>
      <br>
      <form class=" card card-body ">
        <h5 class="card-title mb-2">Acciones</h5>
        <button class="btn btn-primary" (click)="iniciarModificarProducto()"> cancelar</button>
        <button class="btn btn-light" (click)="guardarProducto()"> guardar</button>
        <!--  <div class="form-row justify-content-end">
            <button *ngIf="banderaEdicionDeshabilitada" (click)="habilitarEdicion()" href="#"
                    class="btn btn-warning text-white "><span class="fa fa-edit"></span> Modificar
            </button> &nbsp;
            <button [disabled]="!FormActualizarDatos.checkValidity()" *ngIf="!banderaEdicionDeshabilitada"
                    (click)="actualizarAgente()" href="#"
                    class="btn btn-primary text-white "><span class="fa fa-save"></span> Guardar
            </button> &nbsp;
            <button *ngIf="!banderaEdicionDeshabilitada" href="#" (click)="iniciarEdicion()" class="btn btn-light  "><span
              class="fa fa-close"></span> Cancelar
            </button>
          </div>-->
      </form>
    </div>
  </div>
</div>
<br><br>
</body>
