<ng-template #modalVideoYoutube let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Subir video de Youtube</h4>
    <button type="button" class="close" style="font-size: medium" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Pegar URL de Youtube</label>
      <input type="text" #DireccionVideoYoutube="ngModel" [(ngModel)]="this.direccionVideoYoutube" class="form-control"
             placeholder="https://">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');getVideoIframe()">Subir Video de
        youtube <span class="fab fa-youtube"></span></button>
    </div>

  </div>


</ng-template>

<body id="body">

<div class="container-fluid mt-5 ">

  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11  ">Modificar Producto</h4>
    <hr class="col-11  ">
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10" id="panelUno">
      <form #FormInformacion id="formInformacion" class="card card-body validate-form">
        <h6>Información</h6>
        <hr>
        <div class="container">
          <div class="form-row ">
            <div class="col">
              <label>Nombre</label>
              <input #NombreProducto="ngModel" [(ngModel)]="this.Producto.Nombre_Producto"
                     class=" form-control py-3 "
                     name="nombreProducto" required
                     type="text" [ngClass]="{'is-invalid': NombreProducto.invalid && banderaValidaciones}">
              <div *ngIf="NombreProducto.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
            <div class="col">
              <label>Codigo</label>
              <input #CodigoProducto="ngModel" [(ngModel)]="this.Producto.Cod_Producto"
                     class=" form-control py-3 "
                     name="codigoProducto"
                     type="text">
            </div>
            <div class="col">
              <label>Marca </label>
              <input #Marca="ngModel" [(ngModel)]="this.Producto.Marca" class="form-control py-3 "
                     name="marca"
                     type="text">
            </div>
            <div class="col">

              <div class="form-group">
                <label for="selectCondicion">Condición</label>
                <select class="form-control"
                        id="selectCondicion">

                  <option value="{{this.Producto.Condicion}}" selected
                          disabled>{{this.Producto.Condicion}} (actual)
                  </option>
                  <option value="Nuevo">Nuevo</option>
                  <option value="Como nuevo">Como nuevo</option>
                  <option value="Usado como nuevo">Usado como nuevo</option>
                  <option value="Usado">Usado</option>

                </select>
              </div>
            </div>

          </div>
          <div class="form-group mt-2">
            <label>Descripción del producto </label>
            <textarea #DescripcionProducto="ngModel" [(ngModel)]="this.Producto.Descripcion_Producto"
                      class="form-control" name="descripcionProducto" required
                      rows="2" type="text"></textarea>
          </div>
          <div class="form-group">
            <label>Detalles del producto </label>
            <app-ngx-editor #DetalleProducto="ngModel" [(ngModel)]="this.Producto.Detalle_Producto"
                            [config]="editorConfig" name="detalleProducto"></app-ngx-editor>

            <!--<div [innerHTML]=this.htmlcomponent>
            </div>  para cuando quieras mostrar con stilos-->
          </div> <!-- form-group end.// -->
        </div>

        <div class="container">
          <div class="form-row mt-2 ">

            <div class="col">
              <div class="form-group">
                <label>Porcentaje de Iva </label>
                <div class="input-group mb-3">
                  <input #Iva="ngModel" [(ngModel)]="this.Oferta.Iva" class="form-control" name="iva" placeholder="12"
                         min="0" step="0.01" oninput="validity.valid||(value='');"
                         type="number">
                  <div class="input-group-append">
                    <span class="input-group-text unidades">%</span>
                  </div>

                </div>

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Peso aproximado</label>
                <div class="input-group mb-3">
                  <input #Peso="ngModel" [(ngModel)]="this.Producto.Peso_Producto" class="form-control" name="peso"
                         placeholder="120" min="0" step="0.01" oninput="validity.valid||(value='');"
                         type="number" required [ngClass]="{'is-invalid': Peso.invalid && banderaValidaciones}">
                  <div class="input-group-append">
                    <span class="input-group-text unidades">Kg</span>
                  </div>

                  <p style="font-size: x-small" class="ml-2">El peso de los productos ayudará a calcular el precio de
                    envío</p>


                  <div *ngIf="Peso.errors?.required && banderaValidaciones">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>

      <form class="card card-body ">
        <h6>Garantia</h6>
        <hr>
        <div class="container">
          <label>Seleccione el tipo de garantia ofrecida por este producto</label>
          <br>
          <div class="form-group">
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia"
                     type="radio" value="Garantia del vendedor" id="GarantiaVendedor" [checked]="this.Oferta.Garantia=='Garantia del vendedor'">
              <label for="GarantiaVendedor">&nbsp;&nbsp;Garantia del vendedor</label>
            </div>
            <br>
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia"
                     type="radio" value="Garantia de fabrica" id="GarantiaFabrica"  [checked]="this.Oferta.Garantia=='Garantia de fabrica'">
              <label for="GarantiaFabrica">&nbsp;&nbsp;Garantia de fabrica </label>
            </div>
            <br>
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia"
                     type="radio" value="Sin garantia" id="SinGarantia" [checked]="this.Oferta.Garantia=='Sin garantia'">
              <label for="SinGarantia">&nbsp;&nbsp; Sin garantia </label>
            </div>
          </div>
          <br>
        </div>
      </form>

   <form class=" card card-body " >

        <h6>Inventario</h6>
        <hr>
        <div class="container">


          <div class="form-group ml-2">
            <div class="checkbox-item">
              <input (click)="opcionRastrearStock($event)" id="rastrearCantidad" type="checkbox" [checked]="this.Producto.Rastrear_Stock==0">
              <label for="rastrearCantidad">&nbsp;&nbsp;Rastrear la cantidad</label>
            </div>
          </div>


          <div class="form-group ml-2">
            <div class="checkbox-item">
              <input (click)="opcionVenderSinStock($event)" id="venderDespuesAgotado"
                     type="checkbox" [checked]="this.Producto.Rastrear_Stock==0">
              <label for="venderDespuesAgotado">&nbsp;&nbsp;Continuar vendiendo cuando se haya
                agotado</label>
            </div>
          </div>


          <br>
        </div>
      </form>
      <form class=" card card-body ">
        <h6>Categorias seleccionadas</h6>
        <hr>
        <div class="form-row ">
          <div *ngIf="this.categoriasSeleccionadas.size==0 &&!banderaValidaciones" class="form-group">
            <div class="alert alert-primary col-12" role="alert">
              <a><span class="fa fa-exclamation fa-1x"></span></a>
              No existe categorias seleccionadas
            </div>
          </div>
          <div *ngIf="this.categoriasSeleccionadas.size==0 && banderaValidaciones" class="form-group">
            <div class="alert alert-danger col-12" role="alert">
              <a><span class="fa fa-exclamation fa-1x"></span></a>
              Debe seleccionar almenos una categoria
            </div>
          </div>

          <div *ngFor="let cs of categoriasSeleccionadas">

            <div class="mr-2 btn-group">
              <button class="col chip mt-2" style="font-size: smaller">{{cs.NOMBRE}}
                <button (click)="eliminarCategoria(cs)" class="chip-resumen-categorias"> &nbsp; | x
                </button>
              </button>
            </div>
          </div>
        </div>

      </form>

     <!-- <form class="card card-body" name="form">
        <h6>Multimedia</h6>
        <hr>
        <div class="form-group ">
          <a class="ml-2 mt-5">
            <label>Imagenes del producto </label>
            <span *ngIf="banderaMensajeMaximoImagenes" style="color: red"> *Recuerda máximo 6 imagenes </span></a>
          <div
            [ngClass]="{'borde-imagenes':vectorBanderaAgregarImagen[0]==false,'borde-imagenes1':vectorBanderaAgregarImagen[0]==true,'borde-error': (imagenes[0].length==0 && banderaValidaciones) }"
            class="row  mt-3 mx-0 ">
            <div *ngFor='let url of imagenes[0]; let i = index ' class="ml-1">
              <div class="col-auto card mt-2 px-0 pb-0">
                <label style="border: none;  ">
                  <img [src]="url" class="px-0" height="140px" width="140px">
                  <input (change)="subirImagenes($event,0)" accept="image/*" class="file" multiple name="files"
                         type="file">
                </label>
                <button (click)="quitarImagenes(0,i)" class="boton-cerrar btn-outline-danger px-0 py-0 "><span
                  class="fa  fa-trash"></span>
                </button>
              </div>
            </div>
            <div *ngIf="vectorBanderaAgregarImagen[0]==false" class="mx-auto ">
              <div class="col-auto pt-4">
                <label class="imagen-agregar ">
                  <i class="fas fa-cloud-upload-alt fa-4x"></i>
                  &lt;!&ndash; <i class="fas fa-cloud-upload-alt fa-2x ml-1"></i>&ndash;&gt;
                  <input (change)="subirImagenes($event,0)" accept="image/*" class="file" multiple type="file"
                         (drop)="subirImagenes($event,0)">
                </label>
              </div>
            </div>
            <div *ngIf="vectorBanderaAgregarImagen[0]==false" class=" col-12 pb-5 mx-auto ">
              <p class="link-agregar-imagenes ">Click para Agregar imagenes </p>
            </div>

            <div *ngIf="vectorBanderaAgregarImagen[0]==true && imagenes[0].length<6" class="py-2">
              <div class=" py-4  card  ml-1 px-2">
                <label class="imagen-agregar">
                  <i class="fa fa-picture-o fa-4x ml-4"></i>
                  <i class="fa fa-plus-circle fa-2x ml-1"></i>
                  <input (change)="subirImagenes($event,0)" accept="image/*" class="file" multiple type="file">
                  <br>
                  <p class="pb-1 pt-3 link-agregar-imagenes2">Agregar imagenes </p>
                  <p class=" link-agregar-imagenes2">maximo 6</p>
                </label>
              </div>
            </div>
          </div>

          <div *ngIf="(imagenes[0].length==0 && banderaValidaciones)">
            <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Debes ingresar al menos una
              imagen.</p>
          </div>


        </div>

        <br>


        <div class="form-row">
          <a class="ml-2 col-md-5"><label>Video promocional del producto </label> </a>
          <span *ngIf="banderaMensajeMaximoVideo" class=" col-md-5" style="color: red;font-size: small">* Recuerda Maximo 150MB</span>
          <a (click)="abrirModalVideoYoutube(modalVideoYoutube)" class="agregarVideoYoutube ml-2 col-md-5 ">
            Agregar video de youtube &nbsp; <span class="fab fa-youtube "></span>
          </a>
        </div>


        <div class="form-group ">


          <div [ngClass]="{'borde-imagenes':!data.video,'borde-imagenes1':data.video }" class="row mt-3 mx-1 ">
            <div class="  mx-auto">
              <div *ngIf="this.banderaAnimacionVideo==true">
                <div class="fondoAnimacionCarga py-5">
                  <div class="pulse animated infinite py-5  ">
                    <img class="imagenCarga" src="assets/images/cargando.png">
                    <br><br>
                    <div>
                    </div>
                  </div>
                  <label style="color: white; text-align: center">Cargando previsualización, espere
                    porfavor....</label>
                </div>

              </div>
            </div>
            <div class=" col-12 mx-auto">
              <div *ngIf="this.videoYoutube">
                <iframe width="100%" height="315" [src]="this.videoYoutube" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>

              <div *ngIf="data.video">

                <div class="mx-auto fondo-animacion-carga-video">
                  <video class="video-carga" controls height="auto" width="auto">
                    <source [src]="data.video" type="{{ data.type }}">
                  </video>
                </div>
              </div>
            </div>
            <div *ngIf="!this.videoYoutube" class=" col-auto  mx-auto">
              <div class=" pt-4 ml-2  ">
                <label class="imagen-agregar ">
                  <i class="fa fa-film fa-4x  "></i>
                  <i class="fa fa-upload fa-2x ml-1 "></i>
                  <input (change)="subirVideo($event)" accept="video/*" class="file" type="file">
                </label>
              </div>
            </div>
            <div *ngIf="!this.videoYoutube" class=" col-12 mx-auto ">
              <p class="link-agregar-imagenes pb-5">Click para subir un video promocional del producto </p>
            </div>
          </div>
          <a *ngIf="this.videoYoutube" (click)="resetearVideoYoutube()" class="agregarVideoYoutube ml-2 col-md-5 ">
            Agregar video desde el ordenador &nbsp; <span class="fa fa-laptop "></span>
          </a>
        </div>
      </form>-->


    </div>
  </div>
</div>
<br><br>
</body>
