<ng-template #modalVideoYoutube let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Subir video de Youtube</h4>
    <button type="button" class="close" style="font-size: medium" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Pegar URL de Youtube</label>
      <input type="text" #DireccionVideoYoutube="ngModel" [(ngModel)]="this.direccionVideoYoutube" class="form-control"
             placeholder="https://">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');getVideoIframe()">Subir Video de
        youtube <span class="fab fa-youtube"></span></button>
    </div>
  </div>
</ng-template>

<ng-template #modalCategorias let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Categorías </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" style="font-size: x-large">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <label class="">Seleccione las categorías a las cuales pertenece el producto</label>
    <div class="container">

      <div *ngFor="let c11 of this.c1; let i = index">
        <hr class="mb-1 mt-1">

        <div class="dropdown justify-content-center">
          <button (click)="busquedaCategoria2(c11.ID_CATEGORIA)" [attr.data-target]="'#myModal'+i"
                  aria-expanded="false" aria-haspopup="true" class="categoria dropdown-toggle  dropdown-toggle-split"
                  data-toggle="collapse"><span class="{{this.vectorIconos[i]}} iconos-categoria"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{c11.NOMBRE}}
          </button>
          <div class="form-row mb-3 collapse justify-content-center" id="myModal{{i}}">
            <div *ngFor="let c22 of this.categoriaEncontrada2; let i = index">
              <div class="checkbox">
                <label
                  *ngIf="c11.ID_CATEGORIA==c22.CAT_ID_CATEGORIA" class="chip  col btn" for="checkCategoria{{i}}"
                  id="labelcheckCategoria2{{i}}">{{c22.NOMBRE}}
                  <input (change)="busquedaCategoria3(c22.ID_CATEGORIA,$event,c22,i)" id="checkCategoria{{i}}"
                         style="display: none" type="checkbox">
                </label>
              </div>
              <div class="form-row  justify-content-center">
                <div *ngFor="let c33 of this.categoriaEncontrada; let i =index">
                  <label *ngIf="c11.ID_CATEGORIA==c22.CAT_ID_CATEGORIA && c22.ID_CATEGORIA==c33.CAT_ID_CATEGORIA"
                         class="chip2 col btn btn-light"
                         for="checkCategoria3{{i}}" id="labelcheckCategoria3{{i}}">{{c33.NOMBRE}}
                    <input (change)="seleccionarCategoria3($event,c33,i)" id="checkCategoria3{{i}}"
                           style="display: none"
                           type="checkbox">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <button (click)="cc($event)" class="col btn btn-light clicked">asd</button>-->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<body id="body" class="bg">
<div class="container mt-md-5 mt-3">

  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11  text-md-left text-center">Modificar Producto</h4>
    <hr class="col-11 mb-md-1 mb-0 ">



    <form class="col-md-11 py-md-2 py-3 px-2">


      <div class="text-md-right text-center">
        <button *ngIf="banderaModificar" [disabled]="loading" (click)="this.publicarProducto()"
                class="btn btn-primary text-nowrap   col-auto mr-md-2"
                type="button">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
          Guardar Cambios &nbsp;&nbsp;
          <span class="fa fa-save"></span>
        </button>

        <button *ngIf="banderaModificar" class="btn btn-light text-nowrap   col-auto mr-md-2"
                (click)="iniciarModificarProducto()">
          Cancelar &nbsp;&nbsp;
          <span class="fa fa-close"></span></button>

        <button *ngIf="!banderaModificar && identidadProducto?.ESTADO_OFERTA==0"
                class="btn btn-warning text-nowrap   col-auto mr-md-2" (click)="iniciarEdicion()">
          Modificar &nbsp;&nbsp;
          <span class="fa fa-edit"></span></button>

        <button [disabled]="loading" *ngIf="!banderaModificar && identidadProducto?.ESTADO_OFERTA==0"
                class="btn btn-light text-nowrap   col-auto mr-md-2" (click)="guardarCambiarEstadoProducto(1)">
          Ocultar &nbsp;&nbsp;
          <span class="fa fa-eye-slash"></span></button>

        <button [disabled]="loading" *ngIf="!banderaModificar && identidadProducto?.ESTADO_OFERTA==1"
                class="btn btn-light text-nowrap   col-auto mr-md-2" (click)="guardarCambiarEstadoProducto(0)">
          Mostrar &nbsp;&nbsp;
          <span class="fa fa-eye"></span></button>

        <button [disabled]="loading" *ngIf="!banderaModificar" class="btn btn-danger text-nowrap   col-auto mr-md-2"
                (click)="guardarCambiarEstadoProducto(2)">
          Eliminar &nbsp;&nbsp;
          <span class="fa fa-trash"></span></button>
      </div>

    </form>
  </div>



  <div class="row justify-content-center">
    <div class="col-md-11" id="panelUno">
      <h6>Información</h6>
      <form #FormInformacion id="formInformacion" name="formInformacion" class="mt-3 card card-body validate-form">

        <div class="container">
          <div class="form-row ">
            <div class="col-md-3 ">
              <label>Nombre</label>
              <input #NombreProducto="ngModel" [(ngModel)]="this.Producto.Nombre_Producto"
                     [disabled]="!banderaModificar"
                     class=" form-control py-3 "
                     name="nombreProducto" required
                     type="text" [ngClass]="{'is-invalid': NombreProducto.invalid && banderaValidaciones}">
              <div *ngIf="NombreProducto.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
            <div class="col-md-3 ">
              <label>Codigo</label>
              <input #CodigoProducto="ngModel" [(ngModel)]="this.Producto.Cod_Producto"
                     class=" form-control py-3 "
                     name="codigoProducto"
                     type="text" disabled>
            </div>
            <div class="col-md-3 ">
              <label>Marca </label>
              <input #Marca="ngModel" [(ngModel)]="this.Producto.Marca" class="form-control py-3 "
                     [disabled]="!banderaModificar"
                     name="marca"
                     type="text">
            </div>
            <div class="col-md-3 ">

              <div class="form-group">
                <label for="selectCondicion">Condición</label>
                <select class="form-control" id="selectCondicion" [(ngModel)]="this.Producto.Condicion"
                        [disabled]="!banderaModificar"
                        #SelectCondicion="ngModel" name="selectCondicion">
                  <option value="Nuevo" [selected]="this.Producto.Condicion=='Nuevo'">Nuevo</option>
                  <option value="Como nuevo" [selected]="this.Producto.Condicion=='Como nuevo'">Como nuevo
                  </option>
                  <option value="Usado como nuevo" [selected]="this.Producto.Condicion=='Usado como nuevo'">Usado
                    como nuevo
                  </option>
                  <option value="Usado" [selected]="this.Producto.Condicion=='Usado'">Usado</option>

                </select>

              </div>


            </div>

          </div>
          <div class="form-group mt-2">
            <label>Descripción del producto </label>
            <textarea #DescripcionProducto="ngModel" [(ngModel)]="this.Producto.Descripcion_Producto"
                      [disabled]="!banderaModificar"
                      class="form-control" name="descripcionProducto" required
                      [ngClass]="{'is-invalid': DescripcionProducto.invalid && banderaValidaciones}"
                      rows="2" type="text"></textarea>
            <div *ngIf="DescripcionProducto.errors?.required && banderaValidaciones">
              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
            </div>
          </div>
          <div class="form-group">
            <label>Detalles del producto </label>
            <app-ngx-editor #DetalleProducto="ngModel" [(ngModel)]="this.Producto.Detalle_Producto"
                            [config]="editorConfig" name="detalleProducto"></app-ngx-editor>

            <!--<div [innerHTML]=this.htmlcomponent>
            </div>  para cuando quieras mostrar con stilos-->
          </div> <!-- form-group end.// -->
        </div>

        <div class="container">
          <div class="form-row mt-2 ">

            <div class="col-md-6">
              <div class="form-group">
                <label>Porcentaje de IVA </label>
                <div class="input-group mb-3">
                  <input #Iva="ngModel" [(ngModel)]="this.Oferta.Iva" class="form-control" name="iva" placeholder="12"
                         [disabled]="!banderaModificar"
                         min="0" step="0.01" oninput="validity.valid||(value='');"
                         type="number">
                  <div class="input-group-append">
                    <span class="input-group-text unidades">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-0">
                <label>Peso aproximado <span style="font-size: x-small" class="ml-2">(Esto ayuda a calcular el precio de
                  envío)</span></label>
                <div class="input-group mb-0">
                  <input #Peso="ngModel" [(ngModel)]="this.Producto.Peso_Producto" class="form-control" name="peso"
                         [disabled]="!banderaModificar"
                         placeholder="120" min="0" step="0.01" oninput="validity.valid||(value='');"
                         type="number" required [ngClass]="{'is-invalid': Peso.invalid && banderaValidaciones}">
                  <div class="input-group-append">
                    <span class="input-group-text unidades">Kg</span>
                  </div>
                </div>
              </div>
              <div *ngIf="Peso.errors?.required && banderaValidaciones">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
          </div>
        </div>
      </form>

      <hr>
      <h6>Garantía</h6>
      <form class="card card-body mt-3">

        <div class="container">
          <label>Seleccione el tipo de garantía ofrecida por este producto</label>
          <br>
          <div class="form-group">
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia" [disabled]="!banderaModificar"
                     type="radio" value="Garantia del vendedor" id="GarantiaVendedor"
                     [checked]="this.Oferta.Garantia=='Garantia del vendedor'">
              <label for="GarantiaVendedor">&nbsp;&nbsp;Garantía del vendedor</label>
            </div>
            <br>
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia" [disabled]="!banderaModificar"
                     type="radio" value="Garantia de fabrica" id="GarantiaFabrica"
                     [checked]="this.Oferta.Garantia=='Garantia de fabrica'">
              <label for="GarantiaFabrica">&nbsp;&nbsp;Garantía de fábrica </label>
            </div>
            <br>
            <div class="radio-item">
              <input (click)="opcionGarantia($event.target.value)" name="garantia" [disabled]="!banderaModificar"
                     type="radio" value="Sin garantia" id="SinGarantia"
                     [checked]="this.Oferta.Garantia=='Sin garantia'">
              <label for="SinGarantia">&nbsp;&nbsp; Sin garantía </label>
            </div>
          </div>
          <br>
        </div>
      </form>
      <!-- inventario-->
      <!--<hr>
      <h6>Inventario</h6>
      <form class=" card card-body mt-3">

        <div class="container">


          <div class="form-group ml-2">
            <div class="checkbox-item">
              <input (click)="opcionRastrearStock($event)" id="rastrearCantidad" type="checkbox"
                     [disabled]="!banderaModificar"
                     [checked]="this.Producto.Rastrear_Stock==0">
              <label for="rastrearCantidad">&nbsp;&nbsp;Rastrear la cantidad</label>
            </div>
          </div>


          <div class="form-group ml-2">
            <div class="checkbox-item">
              <input (click)="opcionVenderSinStock($event)" id="venderDespuesAgotado" [disabled]="!banderaModificar"
                     type="checkbox" [checked]="this.Producto.Vender_Sin_Stock==0">
              <label for="venderDespuesAgotado">&nbsp;&nbsp;Continuar vendiendo cuando se haya
                agotado</label>
            </div>
          </div>


          <br>
        </div>
      </form>-->
      <hr>
      <div>

        <div class="row justify-content-between mx-1">
          <h6>Categorías seleccionadas </h6>

          <div ngbDropdown class="d-inline-block justify-content-end text-right mr-3">
            <button id="btnCategorias" ngbDropdownToggle [disabled]="!banderaModificar"><i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="btnCategorias">
              <button ngbDropdownItem class="btnOpcTarifaLocal" (click)="abrirModalCategorias(modalCategorias)"
                      [disabled]="!banderaModificar">
                Agregar Categorías
              </button>

            </div>
          </div>
        </div>
      </div>
      <form class=" card card-body mt-3">

        <div class="container">
          <div class="form-row ">
            <div *ngIf="this.categoriasSeleccionadas.size==0 &&!banderaValidaciones" class="form-group">
              <div class="alert alert-primary col-12" role="alert">
                <a><span class="fa fa-exclamation fa-1x"></span></a>
                No existe categorías seleccionadas
              </div>
            </div>
            <div *ngIf="this.categoriasSeleccionadas.size==0 && banderaValidaciones" class="form-group">
              <div class="alert alert-danger col-12" role="alert">
                <a><span class="fa fa-exclamation fa-1x"></span></a>
                Debe seleccionar al menos una categoria
              </div>
            </div>

            <div *ngFor="let cs of categoriasSeleccionadas">

              <div class="mr-2 btn-group">
                <button class="col chip mt-2" style="font-size: smaller">{{cs.NOMBRE}}
                  <button (click)="eliminarCategoria(cs)" class="chip-resumen-categorias"
                          [disabled]="!banderaModificar"> &nbsp; | x
                  </button>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <h6>Variantes</h6>
      <div class="mt-3 card card-body ">


        <div class="container">
          <div *ngFor="let item of this.Variantes; index as i" class="form-row justify-content-center px-0 ">
            <div *ngIf="this.Variantes[i].Estado_Variante==0 || this.Variantes[i].Estado_Variante==1"
                 class="form-row justify-content-center px-0 ">
              <div class="form-group col-11  mt-4 mb-0">
                <p style="font-weight: bolder; font-size: medium">Opción {{i + 1}}</p>
              </div>
              <div class="form-group  col-1 mt-4 mb-0">
                <button (click)="borrarOpcionesProducto(i)" class="form-control " style=" border: none; color: red"
                        [hidden]="!banderaModificar">
                  <span class="fa fa-trash "></span>
                </button>
              </div>
              <hr class="col-12 mt-0">
              <div class="form-group col-md-2 offset-lg-1 justify-content-center">
                <label>Color</label>
                <input (colorPickerChange)="cambiarColor($event,i)" [(colorPicker)]=this.Variantes[i].Color
                       [style.background]=this.Variantes[i].Color [disabled]="!banderaModificar"
                       class="form-control input-colores"/>
              </div>
              <div class="form-group  col-md-4">
                <label> Talla </label>
                <input #Talla="ngModel" [(ngModel)]="this.Variantes[i].Talla" class="form-control " name="talla{{i}}"
                       placeholder="Ej. xl o 34 o etc" type="text" maxlength="2" [disabled]="!banderaModificar">
              </div>
              <div class="form-group  col-md-4">
                <label>Material</label>
                <input #Material="ngModel" [(ngModel)]="this.Variantes[i].Material" class="form-control"
                       [disabled]="!banderaModificar"
                       name="material{{i}}"
                       placeholder="Ej. Gamusa/algodon" type="text">
              </div>
              <div class="form-group col-12 ">
                <form name="form">
                  <a class=" mt-5">
                    <label>Imágenes de la opción {{i}} </label>
                    <span *ngIf="vbanderaMensajeMaximoImagenes[i]"
                          style="color: red"> *Recuerda máximo 6 imágenes {{this.vbanderaMensajeMaximoImagenes[i]}}</span></a>
                  <div
                    [ngClass]="{'borde-imagenes1':vectorBanderaAgregarImagen[i]==true||vectorBanderaAgregarImagen[i]==false     ,'borde-error':(!vectorBanderaHabilitante[0] && i==0) || this.vbanderaMensajeMaximoImagenes[i] }"
                    class="row  mt-3 ">
                    <div *ngFor='let url of imagenes[i]; index as j ' class="ml-1">

                      <div
                        *ngIf="(this.Imagenes_Producto[i][j].Estado_Imagen==0 || this.Imagenes_Producto[i][j].Estado_Imagen==1) && (this.Imagenes_Producto[i][j].Tipo_Imagen!='video' && this.Imagenes_Producto[i][j].Tipo_Imagen!='youtube') ">
                        <div class="col-auto card mt-2 px-0 pb-0">
                          <label style="border: none;  ">
                            <img [src]="url" class="px-0" height="140px" width="135px">
                            <input (change)="subirImagenes($event,(i))" accept="image/*" class="file" multiple
                                   name="files" [disabled]="!banderaModificar"
                                   type="file">
                          </label>
                          <button (click)="quitarImagenes((i),j)" class="boton-cerrar  btn-outline-danger px-0 py-0 "
                                  [disabled]="!banderaModificar">

                            <span class="fa fa-trash"></span>
                          </button>
                        </div>
                      </div>
                    </div>


                    <div
                      *ngIf="(vectorBanderaAgregarImagen[i]==true && vectorBanderaHabilitante[i]==true) || vectorBanderaAgregarImagen[i]==false"
                      class="py-2">
                      <div class=" px-2 py-4  card  ml-2 ">
                        <label class="imagen-agregar">
                          <i class="fa fa-picture-o fa-4x ml-4"></i>
                          <i class="fa fa-plus-circle fa-2x ml-1"></i>
                          <input (change)="subirImagenes($event,i)" accept="image/*" class="file" multiple type="file"
                                 [disabled]="!banderaModificar">
                          <br>
                          <p class="pt-1 link-agregar-imagenes2">Agregar imágenes </p>
                          <p class=" link-agregar-imagenes2">Máximo 6</p>

                        </label>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="!vectorBanderaHabilitante[0] && i==0">
                    <p class="alert1 alert-info"><i class='fa fa-exclamation-circle'> </i> &nbsp; Debes ingresar al
                      menos una imagen.</p>
                  </div>
                </form>
              </div> <!-- form-group end.// -->
              <form name="formVariaciones{{i}}" class="container row">
                <div class="form-group col-lg-7">
                  <label> Stock y unidad de medida del producto</label>
                  <div class="input-group">

                    <input #Stock="ngModel" [(ngModel)]="this.Variantes[i].Stock" class="form-control" name="stock{{i}}"
                           placeholder="200" type="number" min="0" step="0.01" oninput="validity.valid||(value='');"
                           required [ngClass]="{'is-invalid': Stock.invalid && banderaValidaciones}"
                           [disabled]="!banderaModificar">

                    <select #Unidad="ngModel" [(ngModel)]="this.Variantes[i].Cod_Unidad" class=" form-control col-lg-5 "
                            [disabled]="!banderaModificar"
                            id="selectUnidades" name="unidad{{i}}"

                            [ngClass]="{'errorSelect': Stock.invalid && banderaValidaciones}">

                      <option *ngFor="let unidad of this.unidades"
                              [selected]="unidad.COD_UNIDAD_MEDIDA==this.Variantes[i].Cod_Unidad">{{unidad.COD_UNIDAD_MEDIDA}}</option>
                    </select>

                  </div>
                  <div *ngIf="Stock.errors?.required && banderaValidaciones">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                </div>
                <div class="form-group  col-md-4">
                  <label>Precio</label>
                  <div class="input-group">
                    <input #PrecioUnitario="ngModel" [(ngModel)]="this.Variantes[i].Precio_Unitario"
                           [disabled]="!banderaModificar"
                           aria-label="Amount (to the nearest dollar)" class="form-control"
                           name="precioUnitario{{i}}" placeholder="20" (focusout)="formatear($event)"
                           type="number" min="0" step="0.01" oninput="validity.valid||(value='');" required
                           [ngClass]="{'is-invalid': PrecioUnitario.invalid && banderaValidaciones}">
                    <div class="input-group-append">
                      <span class="input-group-text unidades">$</span>
                    </div>

                  </div>
                  <div *ngIf="PrecioUnitario.errors?.required && banderaValidaciones">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="form-group col-md-12 mt-3">
          <p (click)="agregarOpcionesProducto()" class="agregar" [hidden]="!banderaModificar">
            <span class="fa fa-plus "></span> &nbsp;Agregar opción
          </p>
        </div>
      </div>
      <hr>
      <div class="form-row justify-content-between mx-1">
        <h6>Video promocional</h6>
        <div ngbDropdown class="d-inline-block justify-content-end text-right mr-3">
          <button [disabled]="!banderaModificar" id="btnVideo" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="btnVideo">
            <button ngbDropdownItem (click)="abrirModalVideoYoutube(modalVideoYoutube)" class="text-primary">
              Agregar video youtube &nbsp; <span class="fab fa-youtube "></span>
            </button>
            <button ngbDropdownItem *ngIf="this.videoYoutube" (click)="resetearVideoYoutube()" class="text-dark">
              Agregar desde ordenador &nbsp; <span class="fa fa-laptop "></span>
            </button>

            <button ngbDropdownItem *ngIf="videoYoutube || data.video" (click)="borrarVideo()"
                    style=" border: none; color: red">
              Eliminar
            </button>

          </div>
        </div>
      </div>
      <form class=" card card-body mt-3 ">


        <div class="container">
          <div class="form-row justify-content-between">

            <span *ngIf="banderaMensajeMaximoVideo" class=" col-md-5 " style="color: red;font-size: small">* Recuerda Máximo 150MB</span>


          </div>


          <div class="form-group ">
            <div [ngClass]="{'borde-imagenes':!data.video,'borde-imagenes1':data.video }" class="row mt-3 mx-1 ">
              <div class="  mx-auto">
                <div *ngIf="this.banderaAnimacionVideo==true">
                  <div class="fondoAnimacionCarga py-5">
                    <div class="pulse animated infinite py-5  ">
                      <img class="imagenCarga" src="assets/images/cargando.png">
                      <br><br>
                      <div>
                      </div>
                    </div>
                    <label style="color: white; text-align: center">Cargando previsualización, espere
                      por favor....</label>
                  </div>

                </div>
              </div>
              <div class=" col-12 mx-auto">
                <div *ngIf="this.videoYoutube">
                  <iframe width="100%" height="315" [src]="this.videoYoutube" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div *ngIf="data.video">
                  <div class="mx-auto fondo-animacion-carga-video">
                    <video class="video-carga" controls height="auto" width="auto">
                      <source [src]="data.video" type="{{ data.type }}">
                    </video>
                  </div>
                </div>
              </div>
              <div *ngIf="!this.videoYoutube" class=" col-auto  mx-auto">
                <div class=" pt-4 ml-2  ">
                  <label class="imagen-agregar ">
                    <i class="fa fa-film fa-4x  "></i>
                    <i class="fa fa-upload fa-2x ml-1 "></i>
                    <input (change)="subirVideo($event)" accept="video/*" class="file" type="file"
                           [disabled]="!banderaModificar">
                  </label>
                </div>
              </div>
              <div *ngIf="!this.videoYoutube" class=" col-12 mx-auto ">
                <p class="link-agregar-imagenes pb-5">Click para subir un video promocional del producto </p>
              </div>
            </div>
            <a *ngIf="this.videoYoutube" [hidden]="!banderaModificar" (click)="resetearVideoYoutube()"
               class="agregarVideoYoutube ml-2 col-md-5 ">
              Agregar video desde el ordenador &nbsp; <span class="fa fa-laptop "></span>
            </a>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <form class="col-md-11 py-md-2 py-3 px-2">


      <div class="text-md-right text-center">
        <button *ngIf="banderaModificar" [disabled]="loading" (click)="this.publicarProducto()"
                class="btn btn-primary text-nowrap mb-4  col-auto mr-md-2"
                type="button">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
          Guardar Cambios &nbsp;&nbsp;
          <span class="fa fa-save"></span>
        </button>

        <button *ngIf="banderaModificar" class="btn btn-light text-nowrap mb-4  col-auto mr-md-2"
                (click)="iniciarModificarProducto()">
          Cancelar &nbsp;&nbsp;
          <span class="fa fa-close"></span></button>

        <button *ngIf="!banderaModificar && identidadProducto?.ESTADO_OFERTA==0"
                class="btn btn-warning text-nowrap mb-4  col-auto mr-md-2" (click)="iniciarEdicion()">
          Modificar &nbsp;&nbsp;
          <span class="fa fa-edit"></span></button>

        <button [disabled]="loading" *ngIf="!banderaModificar && identidadProducto?.ESTADO_OFERTA==0"
                class="btn btn-light text-nowrap mb-4  col-auto mr-md-2" (click)="guardarCambiarEstadoProducto(1)">
          Ocultar &nbsp;&nbsp;
          <span class="fa fa-eye-slash"></span></button>

        <button [disabled]="loading" *ngIf="!banderaModificar && identidadProducto?.ESTADO_OFERTA==1"
                class="btn btn-light text-nowrap mb-4  col-auto mr-md-2" (click)="guardarCambiarEstadoProducto(0)">
          Mostrar &nbsp;&nbsp;
          <span class="fa fa-eye"></span></button>

        <button [disabled]="loading" *ngIf="!banderaModificar" class="btn btn-danger text-nowrap mb-4  col-auto mr-md-2"
                (click)="guardarCambiarEstadoProducto(2)">
          Eliminar &nbsp;&nbsp;
          <span class="fa fa-trash"></span></button>
      </div>

    </form>
  </div>

</div>

</body>
