
@import '../node_modules/angular-archwizard/archwizard.css';
/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
  width:8px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);
}
body::-webkit-scrollbar-thumb {
  background-color: #2a4c75;

}


.scrollbar{
  max-height: 1000px;
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width:8px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);

}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 101, 0, 0.8);

}
