@import '../node_modules/angular-archwizard/archwizard.css';
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

/* You can add global styles to this file, and also import other style files */
/*scroll bar general*/
body::-webkit-scrollbar {
  width:6px;
  height: 6px;

}
body::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);
}
body::-webkit-scrollbar-thumb {
  background-color: #2a4c75;
  border-radius: 50px;
}

/*scroll bar general*/
.scrollbar{
  max-height: 1000px;
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width:6px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);

}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 101, 0, 0.8);
  border-radius: 50px;
}

body{
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body{
    max-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
  }
}

.LetrasToastInfo{
  color: white;
  font-size: smaller;
}

select {
  font-size: small;
  max-height: 32.7px;
}
