<body id="body" class="bg">

<div class="container mt-5 ">
  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11  ">Pedido No {{compra.NUM_COMPRA}} </h4>
    <hr class="col-11  ">
  </div>

  <div class="p-md-5    mx-auto">


      <div class="form-row justify-content-between mb-4 no-gutters  "
           *ngFor="let producto of compra?.COMPRA_PRODUCTOs; let i= index">
        <div class="col-5 col-md-4    mb-md-0 mb-4 ">
          <p class="text-uppercase text-center mb-0 ">Producto</p>
          <div class="itemside mx-auto">
            <div class="aside"><img [src]="getImagen(producto.IMAGEN_MOSTRAR)" height="50px" width="50px">
            </div>
            <figcaption class="info">
              <a href="#" class=" price">{{producto.VARIANTE.PRODUCTO.NOMBRE_PRODUCTO}}</a>
              <p class="text-muted small text-left ">Condición:
                &nbsp;{{producto.VARIANTE.PRODUCTO.CONDICION}}</p>
              <p *ngIf="producto.VARIANTE.PRODUCTO.MARCA" class="text-muted small text-left ">Marca:
                &nbsp;{{producto.VARIANTE.PRODUCTO.MARCA}}</p>
              <p class="text-muted small text-left "
                 *ngIf="producto.VARIANTE.MATERIAL">Material:&nbsp;&nbsp; {{producto.VARIANTE.MATERIAL}}
              </p>
              <p class="text-muted small text-left" *ngIf="producto.VARIANTE.COLOR">Color:<span
                class="px-2 py-0 ml-2 border border-dark"
                [style.background-color]="producto.VARIANTE.COLOR"></span></p>
              <p class=" small text-left"
                 *ngIf="producto.VARIANTE.TALLA">Talla:&nbsp;&nbsp;&nbsp;{{producto.VARIANTE.TALLA}}</p>
            </figcaption>
          </div>
        </div>
        <div class="col-3 col-md-4  mb-3 mb-md-0 text-center     ">
          <p class="text-uppercase mb-0 ">Cantidad </p>
          <p class="price mb-0 ">{{producto.CANTIDAD_PRODUCTO}}</p>
          <a style="font-size: x-small; text-transform: lowercase">({{producto.VARIANTE.MEDIDA}})</a>

        </div>
        <div class="col-3 col-md-4  text-md-right text-center   ">
          <p class="text-uppercase mb-0 ">Precio</p>
          <div class="price-wrap">
            <p
              class="price">{{(producto.SUBTOTAL)  | currency}} </p>

          </div> <!-- price-wrap .// -->
        </div>

        <hr class="col-12">

      </div> <!-- card.// -->

      <div class="small">
        <dl class="dlist-align">
          <dt>Productos:</dt>
          <dd class="text-right">{{compra.productos | currency}}</dd>
        </dl>
        <dl class="dlist-align">
          <dt>Impuestos</dt>
          <dd class="text-right text-danger">{{compra.impuestos | currency}} </dd>

        </dl>

        <dl class="dlist-align">
          <dt>Subtotal:</dt>
          <dd class="text-right text-dark b"><strong>{{compra.subtotal | currency}}</strong></dd>
        </dl>

        <dl class="dlist-align">
          <dt>Descuento</dt>
          <dd class="text-right text-dark b">(-) &nbsp; <strong>{{compra.descuento | currency}}</strong></dd>
        </dl>
        <dl class="dlist-align">
          <dt>Descuento Cupón</dt>
          <dd class="text-right text-dark b">(-) &nbsp; <strong>{{compra.cupon | currency}}</strong></dd>
        </dl>

        <dl class="dlist-align">
          <dt><i class="icon text-success fa fa-truck"></i> &nbsp;Método de envio:</dt>
          <dd class="text-center">
            <strong *ngIf="compra?.METODO_ENVIO=='Acordar'">Acordar con el vendedor</strong>
            <strong *ngIf="compra?.METODO_ENVIO=='Retiro'">Retiro desde la tienda</strong>
            <strong *ngIf="compra?.METODO_ENVIO=='Domicilio'">Envío a domicilio</strong>
          </dd>
          <dd class="text-right text-dark b"> {{compra.COSTO_ENVIO | currency}}</dd>
        </dl>
        <dl class="dlist-align">
          <dt><i class="icon text-success fa fa-cash-register"></i> &nbsp;Método de pago:</dt>
          <dd class="text-center">
            <strong *ngIf="compra?.METODO_PAGO=='Efectivo'">Efectivo</strong>
            <strong *ngIf="compra?.METODO_PAGO=='Transferencia'">Transferencia bancaria</strong>
            <strong *ngIf="compra?.METODO_PAGO=='Electrónico'">PayPal</strong>
          </dd>
          <dd class="text-right text-dark b"> {{compra.RECARGO_PAYPAL | currency}}</dd>
        </dl>

        <hr>
        <button href="#" class="btn btn-light btn-block font-weight-bold">Total del
          pedido:{{compra.total_final| currency}} </button>
        <br>

        <div *ngIf="compra.METODO_ENVIO=='Domicilio'" class=" " id="entrega">
          <h5 class="font-weight-bold"><i class="fa fa-truck text-success"></i> &nbsp;Enviar a</h5>
          <div class="row  justify-content-between  letras-minusculas">

            <label class="col-md-4 text-md-left text-left "><strong>Tipo de persona:</strong></label>
            <label class="col-md-7 text-md-right text-left" *ngIf="compra.TIPO_IDENTIFICACION_ENTREGA=='Persona'">Persona
              Natural</label>
            <label class="col-md-7 text-md-right text-left" *ngIf="compra.TIPO_IDENTIFICACION_ENTREGA=='Empresa'">Empresa</label>
            <label class="col-md-4 text-md-left text-left"><strong>Idetentificación:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.IDENTIFICACION_ENTREGA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Nombres y Apellidos:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.NOMBRE_PERSONA_ENTREGA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Telefono:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.TELEFONO_ENTREGA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Provincia:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.DPA?.DPAP.NOMBRE}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Ciudad:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.DPA?.NOMBRE}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Calle pricipal:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.CALLE_PRINCIPAL_ENTREGA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Calle secundaria:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.CALLE_SECUNDARIA_ENTREGA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Número de referencia:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.NUM_CASA_ENTREGA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Código postal:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.NUM_COD_POSTAL_ENTREGA}}</label>
          </div>
        </div>
        <hr>
        <div class=" " id="factura">
          <h5 class="font-weight-bold"><i class="fa fa-receipt text-success"></i>&nbsp; Facturar a</h5>
          <div class="row  justify-content-between   letras-minusculas">

            <label class="col-md-4 text-md-left text-left"><strong>Tipo de persona:</strong></label>
            <label class="col-md-7 text-md-right text-left" *ngIf="compra.TIPO_IDENTIFICACION_FACTURA=='Persona'">Persona
              Natural</label>
            <label class="col-md-7 text-md-right text-left" *ngIf="compra.TIPO_IDENTIFICACION_FACTURA=='Empresa'">Empresa</label>
            <label class="col-md-4 text-md-left text-left"><strong>Idetentificación:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.IDENTIFICACION_FACTURA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Nombres y Apellidos:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.NOMBRE_FACTURA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Telefono:</strong></label>
            <label class="col-md-7 text-md-right text-left">{{compra.TELEFONO_FACTURA}}</label>
            <label class="col-md-4 text-md-left text-left"><strong>Dirección:</strong></label>
            <label class="col-md-8 text-md-right text-left">{{compra.DIRECCION_FACTURA}}</label>
          </div>
        </div>


      </div> <!-- card-body.// -->


  </div>
  <div class="mt-3" *ngIf="compra.ESTADO_COMPRA==0">
    <button class="btn btn-primary dis-block w-100 " [disabled]="loading" (click)="updatePedido(1)">Tramitar ahora
    </button>
    <p class="text-danger small ">Debes dar click en "Tramitar ahora" cuando tengas listo el pedido</p>
  </div>
  <div class="container px-md-5 px-0" *ngIf="compra.ESTADO_COMPRA==1">
    <button class="btn btn-success dis-block w-100  ">Tramitado el {{compra.FECHA_ENVIO}}
    </button>
  </div>

</div>

<br><br><br>
</body>
