body {
  height: 100vh !important;
  overflow: auto;
}

.letras-minusculas >p{
  font-size:smaller;
  margin-bottom: 0;
  font-weight: normal;
  color: black;
}

dd, dt, p, label{
  font-size: small;
}
