<div id="detalle" *ngIf="bandera" >
  <button class="text-right btn btn-link w-100" style="font-size: medium" (click)="bandera=!bandera">Recibo</button>
<h5 class="text-center mb-0">Detalles  del pedido No {{compra?.NUM_COMPRA}}</h5>
<br>
<div class="card card-body">

<div class="row justify-content-between mb-4 no-gutters "
     *ngFor="let producto of compra?.COMPRA_PRODUCTOs; let i= index">
  <div class="col-12 col-md-4 mb-md-0 mb-4">
    <p class="text-uppercase text-center price ">Producto</p>
    <div class="itemside mx-auto ">
      <div class="aside"><img [src]="getImagen(producto.IMAGEN_MOSTRAR)" height="50px" width="50px"
                              routerLink="../../../detalle-producto/{{producto.VARIANTE.PRODUCTO.OFERTum.ID_OFERTA}}">
      </div>
      <figcaption class="info">

        <a class=" price"
           routerLink="../../../detalle-producto/{{producto.VARIANTE.PRODUCTO.OFERTum.ID_OFERTA}}">{{producto.VARIANTE.PRODUCTO.NOMBRE_PRODUCTO}}</a>
        <p class="text-muted small text-left ">Condición:
          &nbsp;{{producto.VARIANTE.PRODUCTO.CONDICION}}</p>
        <p *ngIf="producto.VARIANTE.PRODUCTO.MARCA" class="text-muted small text-left ">Marca:
          &nbsp;{{producto.VARIANTE.PRODUCTO.MARCA}}</p>
        <p class="text-muted small text-left "
           *ngIf="producto.VARIANTE.MATERIAL">Material:&nbsp;&nbsp; {{producto.VARIANTE.MATERIAL}}
        </p>
        <p class="text-muted small text-left" *ngIf="producto.VARIANTE.COLOR">Color:<span
          class="px-2 py-0 ml-2 border border-dark"
          [style.background-color]="producto.VARIANTE.COLOR"></span></p>
        <p class=" smal text-left"
           *ngIf="producto.VARIANTE.TALLA">Talla:&nbsp;&nbsp;&nbsp;{{producto.VARIANTE.TALLA}}</p>
      </figcaption>
    </div>
  </div>
  <div class="col-6 col-md-3  mb-3 mb-md-0 text-center    ">
    <p class="text-uppercase mb-0 price">Cantidad </p>
    <p class="price">{{producto.CANTIDAD_PRODUCTO}}</p>
    <a style="font-size: small; text-transform: lowercase">({{producto.VARIANTE.MEDIDA}})</a>

  </div>
  <div class="col-6 col-md-3 ">
    <p class="text-uppercase mb-0 price">Precio</p>
    <div class="price-wrap">
      <p style="font-size: medium">{{(producto.SUBTOTAL)  | currency}} </p>

    </div> <!-- price-wrap .// -->
  </div>



</div> <!-- card.// -->


<div class="">
  <dl class="dlist-align">
    <dd>Productos:</dd>
    <dd class="text-right">{{compra?.productos | currency}}</dd>
  </dl>
  <dl class="dlist-align">
    <dd>Impuestos</dd>
    <dd class="text-right text-danger">{{compra?.impuestos | currency}} </dd>

  </dl>

  <dl class="dlist-align">
    <dd>Subtotal:</dd>
    <dd class="text-right text-dark b"><strong>{{compra?.subtotal | currency}}</strong></dd>
  </dl>

  <dl class="dlist-align">
    <dd>Descuento</dd>
    <dd class="text-right text-dark b">(-) &nbsp; <strong>{{compra?.descuento | currency}}</strong></dd>
  </dl>
  <dl class="dlist-align">
    <dd>Descuento Cupón</dd>
    <dd class="text-right text-dark b">(-) &nbsp; <strong>{{compra?.cupon | currency}}</strong></dd>
  </dl>

  <dl class="dlist-align">
    <dd><i class="icon text-success fa fa-truck">: &nbsp;</i>

      <label *ngIf="compra?.METODO_ENVIO=='Acordar'">Acordar con el vendedor</label>
      <label *ngIf="compra?.METODO_ENVIO=='Retiro'">Retiro desde la tienda</label>
      <label *ngIf="compra?.METODO_ENVIO=='Domicilio'">Envío a domicilio</label>
    </dd>
    <dd class="text-right text-dark b"> {{compra?.COSTO_ENVIO | currency}}</dd>
  </dl>
  <dl class="dlist-align">
    <dd><i class="icon text-success fa fa-cash-register">: &nbsp;</i>

      <label *ngIf="compra?.METODO_PAGO=='Efectivo'">Efectivo</label>
      <label *ngIf="compra?.METODO_PAGO=='Transferencia'">Transferencia bancaria</label>
      <label *ngIf="compra?.METODO_PAGO=='Electrónico'">PayPal</label>
    </dd>
    <dd class="text-right text-dark b"> {{compra?.RECARGO_PAYPAL | currency}}</dd>
  </dl>

  <hr>
  <button href="#" class="btn btn-light btn-block font-weight-bold text-center">Total del
    pedido:{{compra?.total_final| currency}} </button>
  <br>

</div> <!-- card-body.// -->

<div *ngIf="compra?.IDENTIFICACION_ENTREGA">
  <label class="font-weight-bold">Enviado a</label>


  <div class="row  justify-content-between mx-md-auto">

    <label class="col-md-6 text-md-left text-left"><strong>Tipo de persona:</strong></label>
    <label class="col-md-6 text-md-right text-left" *ngIf="compra?.TIPO_IDENTIFICACION_ENTREGA=='Persona'">Persona
      Natural</label>
    <label class="col-md-6 text-md-right text-left" *ngIf="compra?.TIPO_IDENTIFICACION_ENTREGA=='Empresa'">
      Empresa</label>
    <label class="col-md-6 text-md-left text-left"><strong>Idententificación:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.IDENTIFICACION_ENTREGA}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Nombres y Apellidos:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.NOMBRE_PERSONA_ENTREGA}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Teléfono:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.TELEFONO_ENTREGA}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Provincia:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra.DPA?.DPAP.NOMBRE}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Ciudad:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra.DPA?.NOMBRE}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Calle pricipal:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.CALLE_PRINCIPAL_ENTREGA}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Calle secundaria:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.CALLE_SECUNDARIA_ENTREGA}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Número de referencia:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.NUM_CASA_ENTREGA}}</label>
    <label class="col-md-6 text-md-left text-left"><strong>Código postal:</strong></label>
    <label class="col-md-6 text-md-right text-left">{{compra?.NUM_COD_POSTAL_ENTREGA}}</label>
  </div>
</div>
<hr>
<label class="font-weight-bold">Facturado a</label>
<div class="row  justify-content-between  mx-md-auto">

  <label class="col-md-6 text-md-left text-left"><strong>Tipo de persona:</strong></label>
  <label class="col-md-6 text-md-right text-left" *ngIf="compra?.TIPO_IDENTIFICACION_FACTURA=='Persona'">Persona
    Natural</label>
  <label class="col-md-6 text-md-right text-left" *ngIf="compra?.TIPO_IDENTIFICACION_FACTURA=='Empresa'">
    Empresa</label>
  <label class="col-md-6 text-md-left text-left"><strong>Idententificación:</strong></label>
  <label class="col-md-6 text-md-right text-left">{{compra?.IDENTIFICACION_FACTURA}}</label>
  <label class="col-md-6 text-md-left text-left"><strong>Nombres y Apellidos:</strong></label>
  <label class="col-md-6 text-md-right text-left">{{compra?.NOMBRE_FACTURA}}</label>
  <label class="col-md-6 text-md-left text-left"><strong>Teléfono:</strong></label>
  <label class="col-md-6 text-md-right text-left">{{compra?.TELEFONO_FACTURA}}</label>
  <label class="col-md-6 text-md-left text-left"><strong>Dirección:</strong></label>
  <label class="col-md-6 text-md-right text-left">{{compra?.DIRECCION_FACTURA}}</label>
</div>

</div>
<br>
</div>


<div id="recibo" #recibo *ngIf="!bandera">
  <button class="text-right btn btn-link w-100" style="font-size: medium" (click)="bandera=!bandera">Detalle</button>
  <h5 class="text-center mb-0">Detalles del pedido No {{compra.NUM_COMPRA}}</h5>
  <p>
    <button class="text-center btn btn-link py-0 " style="font-size: small" (click)="pdf(compra)">Imprimir recibo</button>
  </p>


  <div class="encabezado_recivo">
    <p><strong>Pedido realizado:</strong>&nbsp;&nbsp;{{compra.FECHA_COMPRA | date}}</p>
    <p><strong>Pedido COMDERO No:</strong>&nbsp;&nbsp;{{compra.NUM_COMPRA}}</p>
    <p ><strong>Total del pedido:</strong>&nbsp;&nbsp;{{compra.total_final | currency}}</p>
  </div>
  <div class="card ">
    <div class="card-body p-0 encabezado_recivo" style="border: 1px solid #000000">
      <p class="border-bottom border-dark text-center"><strong> Enviado
        el {{compra.FECHA_ENVIO| date}}</strong></p>
      <div class="encabezado_recivo">
        <p class="pt-2 "><strong>&nbsp;&nbsp;Productos comprados</strong></p>
        <hr class="mt-1">
        <div class="encabezado_recivo" *ngFor="let producto of compra.COMPRA_PRODUCTOs; let i= index">
          <p>&nbsp;&nbsp;{{producto.VARIANTE.PRODUCTO.NOMBRE_PRODUCTO}}
            &nbsp;{{producto.VARIANTE.PRODUCTO.MARCA}} x {{producto.CANTIDAD_PRODUCTO}}
            <a> &nbsp;{{producto.VARIANTE.MEDIDA}},</a> <a
              *ngIf="producto.VARIANTE.MATERIA">&nbsp; {{producto.VARIANTE.MATERIAL}},</a>
            <a *ngIf="producto.VARIANTE.TALLA">&nbsp;{{producto.VARIANTE.TALLA}},</a>&nbsp; <a
              *ngIf="producto.VARIANTE.COLOR" [style.background-color]="producto.VARIANTE.COLOR"
              class=" px-2"></a>
            <strong> &nbsp;&nbsp;Estado:</strong>&nbsp;{{producto.VARIANTE.PRODUCTO.CONDICION}}</p>
          <hr>
        </div>
        <p><strong>&nbsp;&nbsp;Vendido
          por:</strong>&nbsp;{{compra.COMPRA_PRODUCTOs[0].VARIANTE.PRODUCTO.OFERTum.TIENDA.NOMBRE_COMERCIAL}}
        </p>
        <div class="border-top border-dark encabezado_recivo mt-2 ">
          <p class="border-bottom border-dark text-center"><strong>Información de envío</strong></p>
          <p><strong>&nbsp;&nbsp;Método de envío:</strong>&nbsp;
            <label *ngIf="compra.METODO_ENVIO=='Acordar'">Acordar con el vendedor</label>
            <label *ngIf="compra.METODO_ENVIO=='Retiro'">Retiro desde la tienda</label>
            <label *ngIf="compra.METODO_ENVIO=='Domicilio'">Envío a domicilio</label></p>
          <div *ngIf="compra.METODO_ENVIO=='Domicilio'" class="encabezado_recivo">
            <p><strong>&nbsp;&nbsp;Enviado a:</strong>&nbsp;
            <p *ngIf="compra.TIPO_IDENTIFICACION_ENTREGA=='Persona'">&nbsp;&nbsp;Persona Natural</p>
            <p *ngIf="compra.TIPO_IDENTIFICACION_ENTREGA=='Empresa'">&nbsp;&nbsp;Empresa</p>
            <p>&nbsp;&nbsp;{{compra.IDENTIFICACION_ENTREGA}}</p>
            <p>&nbsp;&nbsp;{{compra.NOMBRE_PERSONA_ENTREGA}}</p>
            <p>&nbsp;&nbsp;{{compra.TELEFONO_ENTREGA}}</p>
            <p>&nbsp;&nbsp;{{compra.DPA?.DPAP.NOMBRE}}</p>
            <p>&nbsp;&nbsp;{{compra.DPA?.NOMBRE}}</p>
            <p>&nbsp;&nbsp;{{compra.CALLE_PRINCIPAL_ENTREGA}},&nbsp;{{compra.CALLE_SECUNDARIA_ENTREGA}}
              ,&nbsp;{{compra.NUM_CASA_ENTREGA}}</p>
            <p>&nbsp;&nbsp;<strong>Cod postal</strong> &nbsp;{{compra.NUM_COD_POSTAL_ENTREGA}}</p>
          </div>
        </div>
        <div class="border-top border-dark encabezado_recivo mt-2 ">
          <p class="border-bottom border-dark text-center"><strong>Información de pago</strong></p>
          <p><strong>&nbsp;&nbsp;Método de pago:</strong>&nbsp;
            <label *ngIf="compra.METODO_PAGO=='Efectivo'">Efectivo</label>
            <label *ngIf="compra.METODO_PAGO=='Transferencia'">Transferencia bancaria</label>
            <label *ngIf="compra.METODO_PAGO=='Electrónico'">PayPal</label>
          <p><strong>&nbsp;&nbsp;Facturado a:</strong>&nbsp;
          <p *ngIf="compra.TIPO_IDENTIFICACION_FACTURA=='Persona'">&nbsp;&nbsp;Persona
            Natural</p>
          <p *ngIf="compra.TIPO_IDENTIFICACION_FACTURA=='Empresa'">&nbsp;&nbsp;Empresa</p>
          <p>&nbsp;&nbsp;{{compra.IDENTIFICACION_FACTURA}}</p>
          <p>&nbsp;&nbsp;{{compra.NOMBRE_FACTURA}}</p>
          <p>&nbsp;&nbsp;{{compra.TELEFONO_FACTURA}}</p>
          <p>&nbsp;&nbsp;{{compra.DIRECCION_FACTURA}}</p>
        </div>
        <div class="border-top border-dark mt-2 ">
          <div class=" encabezado_recivo  px-2">
            <dl class="dlist-align">
              <dt>Productos:</dt>
              <dd class="text-right">{{compra.productos | currency}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Impuestos</dt>
              <dd class="text-right ">{{compra.impuestos | currency}} </dd>
            </dl>

            <dl class="dlist-align">
              <dt>Subtotal:</dt>
              <dd class="text-right ">{{compra.subtotal | currency}}</dd>
            </dl>

            <dl class="dlist-align">
              <dt>Descuento</dt>
              <dd class="text-right ">(-) &nbsp;{{compra.descuento | currency}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Descuento Cupón</dt>
              <dd class="text-right ">(-) &nbsp;{{compra.cupon | currency}}</dd>
            </dl>

            <dl class="dlist-align">
              <dt> &nbsp;Método de envio:</dt>
              <dd class="text-right "> {{compra.COSTO_ENVIO | currency}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt> &nbsp;Método de pago:</dt>
              <dd class="text-right "> {{compra.RECARGO_PAYPAL | currency}}</dd>
            </dl>

            <dl class="dlist-align ">
              <dt> &nbsp;Total del pedido:
              </dt>
              <dd class="text-right"><strong> {{compra.total_final| currency}}</strong></dd>
            </dl>


          </div> <!-- card-body.// -->
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
