<div class=" border-bottom colorNavbar  py-1  ">
  <p class=" encabezado ">
    <button (click)="_toggleOpened()"><i class=" col-sm-1  fa fa-bars px-3  "></i></button>
    Gestion de tienda
  </p>
</div>


<ng-sidebar-container>
  <ng-sidebar

    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    [(opened)]="_opened"
    [animate]="_animate"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [mode]="_MODES[_modeNum]"
    [position]="_POSITIONS[_positionNum]"
  >


    <ul class="navbar-nav navbar-sidenav ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" routerLink="/">
          <i class="fa fa-fw fa-home "></i>
          <span class="nav-link-text ml-2">Inicio</span>
        </a>

      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#producto">
          <i class="fa fa-fw fa-tags "></i>
          <span class="nav-link-text ml-2">Productos</span>
        </a>
        <ul class="sidenav-second-level collapse" id="producto">
          <li>
            <a  class="ml-4  nav-item nav-link opcion-interna "  [routerLink]="['productos']"
               routerLinkActive="active"> &nbsp; &nbsp; - Nuevo</a>
          </li>

          <br>
          <li>  <a  class="ml-4  nav-item nav-link opcion-interna "> &nbsp; &nbsp; - Listado</a>
          </li>
        </ul>


      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#pedidos">
          <i class="fa fa-fw fa-truck "></i>

          <span class="nav-link-text ml-2">Pedidos</span>
        </a>
        <ul class="sidenav-second-level collapse" id="pedidos">
          <li (click)="apareceIngreseUsuario()" class="ml-4 opcion-interna" style="cursor:pointer "> &nbsp; &nbsp; Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#clientes">
          <i class="fa fa-fw fa-users "></i>
          <span class="nav-link-text ml-2">Clientes</span>
        </a>
        <ul class="sidenav-second-level collapse" id="clientes">
          <li (click)="apareceIngreseUsuario()" class="ml-4 opcion-interna" style="cursor:pointer "> &nbsp; &nbsp; Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#estadisticas">
          <i class="fa fa-fw fa-bar-chart "></i>
          <span class="nav-link-text ml-2">Estadisticas</span>
        </a>
        <ul class="sidenav-second-level collapse" id="estadisticas">
          <li (click)="apareceIngreseUsuario()" class="ml-4 opcion-interna" style="cursor:pointer "> &nbsp; &nbsp; Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#tienda">
          <i class="fa fa-fw fa-shopping-bag "></i>
          <span class="nav-link-text ml-2">Tienda</span>
        </a>
        <ul class="sidenav-second-level collapse" id="tienda">
          <li (click)="apareceIngreseUsuario()" class="ml-4 subOpcion" style="cursor:pointer "> &nbsp; &nbsp; Nuevo</li>
        </ul>
      </li>
    </ul>

    <hr>
    <p>Configuraciones</p>
    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#puntos-venta">
          <i class="fa fa-fw fa-map  "></i>
          <span class="nav-link-text ml-2">Puntos de venta</span>
        </a>

      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" [routerLink]="['metodos-pago']"
           routerLinkActive="active">
          <i class="fa fa-fw fa-credit-card  "></i>
          <span class="nav-link-text ml-2">Métodos de Pago</span>
        </a>

      </li>
    </ul>
    <ul class="navbar-nav navbar-sidenav mt-2 ml-2">
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#puntos-venta">
          <i class="fa fa-fw fa-truck-moving  "></i>
          <span class="nav-link-text ml-2">Métodos de Envio</span>
        </a>

      </li>
    </ul>

  </ng-sidebar>

  <div class=" demo-contents scrollbar" ng-sidebar-content>


    <!--<div>
      <img class="imagenFondo" src="../../../../assets/images/fondo-administrador.png">
    </div>-->
    <router-outlet  ></router-outlet>

  </div>

</ng-sidebar-container>




