<div class=" row border-bottom colorNavbar  py-2 ">
  <button (click)="_toggleOpened()"><i class=" col-sm-2  container fa fa-bars px-4  "></i></button>
  <p class=" col-10  encabezado  "> Gestion de tienda</p>

</div>

<ng-sidebar-container>
  <ng-sidebar
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    [(opened)]="_opened"
    [animate]="_animate"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [mode]="_MODES[_modeNum]"
    [position]="_POSITIONS[_positionNum]">
    <h5 class="ml-2">Opciones de Administración</h5>
    <br>

    <ul class="navbar-nav navbar-sidenav ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-home "></i>
          <span class="nav-link-text ml-2">Inicio</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-3 ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-tags "></i>
          <span class="nav-link-text ml-2">Productos</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-3 ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-truck " ></i>

          <span class="nav-link-text ml-2">Pedidos</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-3 ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-users "></i>
          <span class="nav-link-text ml-2">Clientes</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-3 ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-bar-chart "></i>
          <span class="nav-link-text ml-2">Estadisticas</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-3 ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-shopping-bag "></i>
          <span class="nav-link-text ml-2">Tienda</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav navbar-sidenav mt-3 ml-2" >
      <li class="nav-item" data-placement="right " data-toggle="tooltip">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#nvusuario">
          <i class="fa fa-fw fa-map  "></i>
          <span class="nav-link-text ml-2">Puntos de venta</span>
        </a>
        <ul class="sidenav-second-level collapse" id="nvusuario">
          <li (click)="apareceIngreseUsuario()" style="cursor:pointer " class="ml-4 subOpcion">  &nbsp;  &nbsp;    Nuevo</li>
        </ul>
      </li>
    </ul>

  </ng-sidebar>

  <div ng-sidebar-content>


    <section class="demo-contents">
      <div>
        <img class="imagenFondo" src="../../../../assets/images/fondo-administrador.png">
      </div>
      <router-outlet></router-outlet>

    </section>
  </div>
</ng-sidebar-container>
