
<div class=" border-bottom colorNavbar  py-1 p-absolute">
  <p class=" encabezado ">
    <button (click)="abrirSideBar()"><i class=" col-sm-1  fa fa-bars px-3  "></i></button>
    Gestion de tienda
  </p>
</div>
<div class="wrapper">
  <!-- Sidebar  -->

  <nav id="sidebar" [ngClass]="{'active':banderaSideBar}">
    <br><br>
    <ul class="list-unstyled  mx-2">
      <li class="mb-2" routerLink="inicio-administracion" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a>
          <i class="fas fa-home mr-2"></i>
          Inicio
        </a>
      </li>

      <li class="mb-3">
        <a href="#producto" data-toggle="collapse" aria-expanded="false" class=" dropdown-toggle ">
          <i class="fa fa-tags mr-2"></i>
          Productos
        </a>
        <ul class="collapse list-unstyled" id="producto">
          <li routerLink="productos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a>Nuevo</a>
          </li>
          <li>
            <a href="#">Listado</a>
          </li>

        </ul>
      </li>

      <li class="mb-3 ">
        <a href="#pedidos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
          <i class="fas fa-truck mr-2"></i>
          Pedidos
        </a>
        <ul class="collapse list-unstyled" id="pedidos">
          <li>
            <a href="#">Home 1</a>
          </li>

        </ul>
      </li>
      <li class="mb-3 ">
        <a href="#clientes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
          <i class="fa fa-users mr-2"></i>
          Clientes
        </a>
        <ul class="collapse list-unstyled" id="clientes">
          <li>
            <a href="#">Listado</a>
          </li>

        </ul>
      </li>
      <li class="mb-3">
        <a href="#estadisticas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
          <i class="fa fa-bar-chart mr-2"></i>
          Estadisticas
        </a>
        <ul class="collapse list-unstyled" id="estadisticas">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>

    </ul>
    <ul class="mx-2">
      <hr>
      <p>Configuraciones &nbsp;<span class="fa fa-cog mb-4"></span></p>

      <li class="mb-2 ">
        <a href="#tienda" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
          <i class="fa fa-store mr-2"></i>
          Tienda
        </a>
        <ul class="collapse list-unstyled" id="tienda">
          <li routerLink="general-tienda" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <a >General</a>
          </li>
          <li routerLink="sucursales-tienda" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a>Sucursales</a>
          </li>
          <li routerLink="personalizacion-tienda" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <a>Personalización</a>
          </li>
        </ul>
      </li>

      <li class="mb-2" routerLink="metodos-pago" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a>
          <i class="fas fa-credit-card mr-2"></i>
          Métodos de Pago
        </a>
      </li>
      <li class="mb-2" routerLink="metodos-envio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a>
          <i class="fa fa-truck-moving mr-2"></i>
          Métodos de envio
        </a>
      </li>

      <li class="mb-2" routerLink="metodos-envioT" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a>
          <i class="fas fa-briefcase mr-2"></i>
          Métodos de envioT
        </a>
      </li>

      <li class="mb-2">
        <a>
          <i class="fas fa-briefcase mr-2"></i>
          Puntos de venta
        </a>
      </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </nav>

  <!-- Page Content  -->

  <div id="content" class="w-100">
    <router-outlet></router-outlet>
  </div>
</div>



