.encabezado {

  font-size: larger;
  color: white;

}

.colorNavbar {
  background: -webkit-repeating-linear-gradient(right, #2a4c75, #ff6500, #2a4c75, #ff6500);

}

.colorNavbar i {
  color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  z-index: 100;

}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;


}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }

}




p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
button{
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  color: #2a4c75;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: white;
  color: #2a4c75;
  transition: all 0.3s;
  font-size: 0.8rem;
 font-family: normal;
  font-weight: bold;
  height: 80vh;
  overflow: auto;
/*  border-right: 0.5px solid black;*/


}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: grey;
  padding: 0;
  font-size: 1rem !important;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 1.1em;
  display: block;
  cursor: pointer;
}
#sidebar ul li a:hover { /*pilas*/
  color: #ca6900;
  background-color: #d3d3d4;
}

.active2{
  color: #ca6900;
  background-color: #d3d3d4;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {/*pilas*/
  color: #ca6900;
  background-color: #d3d3d4;


}
ul ul a {
  font-size: 1em !important;
  padding-left: 30px !important;
  font-weight: normal;
}

a,li:focus{
  outline: none;
}

#content{

  width: 100% !important;


}

i {
  font-size: 1.2rem;
  color:#fca147 ;
}



/*encabezado

 */


.logo {

  max-height: 55px;
  align-items: center;
  position: center;

}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tituloPanelAdministrativo{
  display: block;
}


@media (min-width: 1035px) {
  .container-menu {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}

.celular{
  display: none;
}



@media (max-width:720px) {
  .celular{
    display: flex;
  }

  .computadora{
    display: none;
  }
  .logo{
    width: 65%;
  }
  .tituloPanelAdministrativo{
    display: none;
  }


}

.notificaciones{
  font-family: 'Poppins', "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  color: black;
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
}

.notificaciones >i{
  font-family: 'Poppins', "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  color: black;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}


.scrollbar2 {
  height: 100%;
  overflow: auto;
}

.scrollbar2::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar2::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);
}

.scrollbar2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}


