.alert {
  font-size: smaller;
}

label {
  font-size: small;
  font-weight: normal;
}

p{
  font-size: small;
  font-weight: normal;
}

input {
  font-size: small;
}
.unidades{
  font-size: small;
}
label{
  font-size: small;
}
select{
  font-size: small;
}

.iconos-pagos {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0px auto;
  padding:3%
}
@media (max-width: 764px) {
  .mensaje-mascota {
    width: 40%;
  }
}

.alert-link{
font-size: smaller; font-weight: normal; color: black
}

.alert-link:hover{
   color: #007bff;
    cursor: pointer;
}

.alert-link:active{
  color: #102350;
}
.alert-link:after{
  color: #102350;
}

.btn{
  font-size: small;
}

/*Radio button*/
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 11px;
  border: 2px solid #1a56e9;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 7px;
  left: 10px;
  content: " ";
  display: block;
  background: #1a56e9;
}

body {
  height: 100vh !important;
  overflow: auto;
}
