<body class="bg">
<ng-template #contentComoRecivirPagos let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Como recibir pagos a través de Paypal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>
      <iframe width="100%" height="315" [src]="getVideoIframe('https://www.youtube.com/watch?v=MoBrIn0eQbU')"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </p>
    <h4>Pasos a seguir</h4>
    <br>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <br>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet
      rutrum faucibus dolor auctor.</p>
    <br>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur
      et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
  </div>
</ng-template>

<ng-template #contentBeneficiosRecivirPagos let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Servicios y Beneficios de Implementar el pago electrónico</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <iframe width="100%" height="515" [src]="getVideoIframe('https://www.youtube.com/watch?v=MoBrIn0eQbU')"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </p>
  </div>

</ng-template>


<div class="container mt-5">
  <div class="row  justify-content-center">
    <h4 class=" col-11  ">Métodos de pago</h4>
    <hr class="col-11  ">
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8" id="panelUno">

      <div class="form-group">
        <div class="alert alert-primary col-12" role="alert">
          <a><span class="fa fa-exclamation fa-1x"></span></a>
          Establezca los métodos de pago que desea implementar en su tienda, estas opciones se asignaran a todos
          los productos que agregue en la tienda
        </div>
      </div>
      <hr>
      <div class="form-row mx-1">
        <div class="col-10">
          <h6 class="font-weight-bold">Pagos en efectivo</h6>
          <p class="p">Permite a los clientes la opción de pagar en efectivo.</p>
        </div>

        <div class="col-2 text-right">
          <label class="switch mt-2">
            <input type="checkbox" (click)="opcionPagoEfectivo($event)" [disabled]="!banderaModificar"
                   id="slidePagoEfectivo">
            <span class="slider round"></span>
          </label>


        </div>
      </div>
      <br>
      <form #formMetodoPagoEfectivo name="formMetodoPagoEfectivo" class="card card-body mb-md-5 ">
        <div class="container">
          <div class="form-row ">
            <div class="col-md-8 mx-auto d-flex align-items-center  ">
              <p>Los pagos en efectivo estarán disponibles para los clientes que elijan la opción de retirar los productos desde la tienda o quines acuerden la entrega con el vendedor</p>
            </div>

            <div class=" mx-auto d-flex align-items-center col-md-2 ">
              <div class="mx-auto">
                <p class=" iconos-pagos "><span class="  fa fa-money-bill-wave fa-4x" style="color: #2a4c75"></span></p>
              </div>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <div class="form-row mx-2">
        <div class="col-10">
          <h6 class="font-weight-bold">Pagos con transferencia bancaria</h6>
          <p class="p">Permite a los clientes la opción de pago por transferencia bancaria .</p>
        </div>

        <div class="col-2 text-right">
          <label class="switch mt-2">
            <input type="checkbox" (click)="opcionPagoTransferencia($event)" [disabled]="!banderaModificar"
                   id="slidePagoTransferencia">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <br>
      <form #formMetodoPagoTransferenciaBancaria name="formMetodoPagoTransferenciaBancaria"
            class="card card-body mb-md-5 ">
        <div class="container">
          <div class="form-row ">

            <div class="col-md-8">
              <div class="form-row">
                <div class="form-group  col-md-12">
                  <p>Número de cuenta </p>
                  <input class="form-control" name="numeroCuenta" type="number" #NumeroCuenta="ngModel"
                         [(ngModel)]="this.Metodo_Pago_Transferencia.Numero_Cuenta"
                         [disabled]="!this.banderaPagoTransferencia || !banderaModificar" required
                         [ngClass]="{'is-invalid': NumeroCuenta.invalid && banderaModificar}" min="0" step="1"
                         oninput="validity.valid||(value='');">
                  <div *ngIf="NumeroCuenta.errors?.required && banderaModificar">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                </div>
                <div class="form-group  col-md-6">
                  <p>Tipo de cuenta</p>
                  <select (change)="opcionTipoCuenta($event.target.value)" class="browser-default form-control "
                          id="tipoCuenta" name="tipoCuenta"
                          [disabled]="!this.banderaPagoTransferencia || !banderaModificar">
                    <option value="Ahorros" [selected]="Metodo_Pago_Transferencia.Tipo_Cuenta=='Ahorros'">Ahorros
                    </option>
                    <option value="Corriente" [selected]="Metodo_Pago_Transferencia.Tipo_Cuenta=='Corriente'">
                      Corriente
                    </option>
                  </select>
                </div>

                <div class="form-group  col-md-6">
                  <p>Banco al que pertenece</p>
                  <input style="text-transform: uppercase;" class="form-control" name="bancoPertenece" type="text"
                         #BancoPertenece="ngModel"
                         [(ngModel)]="this.Metodo_Pago_Transferencia.Banco_Pertenece"
                         [disabled]="!this.banderaPagoTransferencia || !banderaModificar" required
                         [ngClass]="{'is-invalid': BancoPertenece.invalid && banderaModificar}">
                  <div *ngIf="BancoPertenece.errors?.required && banderaModificar">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                </div>
                <!--porcentaje de descuento transferencia bancaria-->
                <!--  <div class="form-group col-md-6">
                    <p>Porcentaje de descuento<span class="text-muted" style="font-size: smaller"></span></p>
                    <div class="input-group">
                      <input class="form-control" name="descuentoTransferencia" #DescuentoTransferencia="ngModel"
                             [(ngModel)]="this.Metodo_Pago_Transferencia.Porcentaje_Descuento"
                             type="number" [disabled]="!this.banderaPagoTransferencia || !this.banderaModificar" min="0"
                             step="1" oninput="validity.valid||(value='');"
                             [ngClass]="{'is-invalid': DescuentoTransferencia.invalid && banderaModificar}" required>
                      <div class="input-group-append">
                        <span class="input-group-text unidades">%</span>
                      </div>
                    </div>
                    <div *ngIf="DescuentoTransferencia.errors?.required && banderaModificar">
                      <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                    </div>
                  </div>  -->
              </div>
            </div>
            <div class=" mx-auto d-flex align-items-center col-md-2">
              <div class="mx-auto">
                <p class=" iconos-pagos "><span class="  fa fa-university fa-4x" style="color: #2a4c75"></span></p>
              </div>
            </div>
          </div>


        </div>
      </form>
      <hr>
      <div class="form-row mx-2">
        <div class="col-10">
          <h6 class="font-weight-bold">Pagos electrónicos</h6>
          <p class="p">Permite a los clientes la opción de pagar a traves de metodos electrónicos como paypal.</p>
        </div>

        <div class="col-2 text-right">
          <label class="switch mt-2">
            <input type="checkbox" (click)="opcionPagoElectronico($event)" [disabled]="!banderaModificar"
                   id="slidePagoElectronico">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <br>
      <form #formMetodoPagoElectronico name="formMetodoPagoElectronico" class="card card-body mb-md-5">
        <div class="container">
          <div class="form-row ">
            <div class="form-group col-md-8">

              <div class="form-row">
                <div class="form-group  col-12">
                  <p>Api Key PayPal </p>
                  <input class="form-control" name="apiPayPal" type="text" #ApiPayPal="ngModel"
                         [(ngModel)]="this.Metodo_Pago_Electronico.Api_Key_Paypal"
                         [disabled]="!this.banderaPagoElectronico || !banderaModificar"
                         [ngClass]="{'is-invalid': ApiPayPal.invalid && banderaModificar}" required="">
                  <div *ngIf="ApiPayPal.errors?.required && banderaModificar">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                  <a (click)="abrirContentVideosAyuda(contentComoRecivirPagos)" style="color: #1a56e9"
                     class="alert-link">* Como obtener la Api
                    Key de PayPal ?</a>

                </div>
                <div class="form-group col-12">
                  <p>Porcentaje de recargo <span class="text-muted" style="font-size: smaller"></span></p>
                  <div class="input-group">
                    <input class="form-control" name="recargoElectronico" #RecargoElectronico="ngModel"
                           [(ngModel)]="this.Metodo_Pago_Electronico.Porcentaje_Recargo" required
                           [disabled]="!this.banderaPagoElectronico || !banderaModificar"
                           [ngClass]="{'is-invalid': RecargoElectronico.invalid && banderaModificar}"
                           type="number" min="0" step="1" oninput="validity.valid||(value='');">
                    <div class="input-group-append">
                      <span class="input-group-text unidades">%</span>
                    </div>
                  </div>
                  <div *ngIf="RecargoElectronico.errors?.required && banderaModificar">
                    <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>

                </div>


              </div>

            </div> <!-- form-group end.// -->


            <div class=" mx-auto d-flex align-items-center col-md-2">
              <div class="mx-auto">
                <p class=" iconos-pagos "><span class="  fab fa-cc-paypal fa-4x" style="color: #2a4c75"></span></p>
              </div>
            </div>

          </div>
        </div>

      </form>

      <form class="card card-body  col-md-12  mt-4">
        <div class=" container">
          <h6>Acciones</h6>
          <hr>
          <div class="text-right">
            <button *ngIf="banderaModificar" [disabled]="loading" (click)="saveMetodoPago()"
                    class="btn btn-primary text-nowrap mb-4  col-auto"
                    type="button">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
              Guardar &nbsp;&nbsp;
              <span class="fa fa-save"></span>
            </button>
            &nbsp;&nbsp;
            <button *ngIf="banderaModificar" (click)="banderaModificar=false;iniciarEdicion();"
                    class="btn btn-light text-nowrap mb-4  col-auto">
              Cancelar &nbsp;&nbsp;
              <span class="fa fa-close"></span></button>
            &nbsp;&nbsp;
            <button *ngIf="!banderaModificar" (click)="banderaModificar=true"
                    class="btn btn-warning text-nowrap mb-4  col-auto">
              Modificar &nbsp;&nbsp;
              <span class="fa fa-edit"></span></button>
          </div>
        </div>
      </form>

    </div>
    <div class=" col-md-3  mt-3    mt-md-0" id="panelDos">
      <div class=" card card-body">
        <div class=" card jackInTheBox  animated alert alert-warning  fade show "
             role="alert">


          <h4 class="alert-heading">Recuerda!</h4>
          <hr class="mb-0">
          <label>Configurar un método de pago electrónico como Paypal siempre brindará más seguridad a tus clientes y
            sobre todo es una manera ágil y eficiente de realizar compras por internet</label>
          <img class="mx-auto  pt-md-4  mensaje-mascota" src="assets/images/mascota-condero.png" width="80%">

        </div>
        <button type="button" class="alert alert-warning"
                (click)="abrirContentVideosAyuda(contentBeneficiosRecivirPagos)"><span
          class="fa fa-info fa-1x d-block"></span>Click aqui para más información a cerca de los métodos de pago
          electrónicos
        </button>
      </div>
    </div>
  </div>
</div>
</body>
