<body class="bg">
<div class="container mt-md-5 mt-3">
  <div class="row justify-content-center">
    <h4 class="col-11 text-md-left text-center">Sucursales</h4>
    <hr class="col-11">
    <form *ngIf="this.banderaCasa" class=" col-md-11  px-3">

      <div class="text-md-right text-center ">
        <button *ngIf="!banderaEdicionDeshabilitadaCasa" [disabled]="loading"
                (click)="guardarSucursalesCasa()" class="btn btn-primary text-nowrap   col-auto mr-md-2"
                type="button">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
          Guardar &nbsp;&nbsp;
          <span class="fa fa-save"></span>
        </button>

        <button *ngIf="!banderaEdicionDeshabilitadaCasa" href="#" (click)="cancelarModificacion(); "
                class="btn btn-light text-nowrap   col-auto ">
          Cancelar &nbsp;&nbsp;
          <span class="fa fa-close"></span></button>


        <button *ngIf="banderaEdicionDeshabilitadaCasa" (click)="habilitarEdicionCasa()"
                class="btn btn-warning text-nowrap   col-auto ">
          Modificar &nbsp;&nbsp;
          <span class="fa fa-edit"></span></button>


      </div>

    </form>

    <form *ngIf="this.bandAgregarSuc" class="  col-md-11 px-3">

      <div class="text-md-right text-center">
        <button *ngIf="!banderaEdicionDeshabilitadaNeg"
                (click)="guardarSucursalesNeg()" class="btn btn-primary text-nowrap   col-auto mr-md-2"
                type="button">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
          Guardar &nbsp;&nbsp;
          <span class="fa fa-save"></span>
        </button>

        <button *ngIf="!banderaEdicionDeshabilitadaNeg" href="#" (click)="cancelarModificacion(); "
                class="btn btn-light text-nowrap   col-auto">
          Cancelar &nbsp;&nbsp;
          <span class="fa fa-close"></span></button>


        <button *ngIf="banderaEdicionDeshabilitadaNeg" (click)="habilitarEdicionNeg()"
                class="btn btn-warning text-nowrap   col-auto">
          Modificar &nbsp;&nbsp;
          <span class="fa fa-edit"></span></button>


      </div>


    </form>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-11">

      <h6>¿Su negocio cuenta con un espacio físico?</h6>

      <div class="form-row py-4">
        <div class="col-md-6 form-group ">
          <button [disabled]="btnEspacioFisico"
                  class="btnActivo btn btn-outline-primary px-4 py-3 text-center btn-paso2"
                  type="submit" (click)="desdeNegocio()">
            <i class="fas fa-store fa-lg fa-2x"></i> &nbsp; &nbsp;Mi negocio cuenta con un local comercial
          </button>
        </div>

        <div class="col-md-6 form-group">
          <button [disabled]="btnCasa" class="btnActivo btn btn-outline-primary px-4 py-3 text-center btn-paso2"
                  type="submit" (click)="desdeCasa()">
            <i class="fas fa-home fa-lg fa-2x"></i> &nbsp; &nbsp;Manejo mi negocio desde casa
          </button>
        </div>
      </div>

      <!--INICIO el modulo de Casa -->
      <form #FormCasa id="formCasa" name="formCasa" validate-form>
        <div class="NegocioNoFisico " *ngIf="this.banderaCasa">
          <div class="card card-body">
            <label class="font-weight-bold">Ingrese los datos desde donde opera su negocio</label>

            <div class="form-row">
              <div class="form-group col-sm-6">
                <label>* RUC</label>
                <input [disabled]="banderaEdicionDeshabilitadaCasa" #RucC="ngModel" [(ngModel)]="this.vectorCasa.Ruc"
                       [ngClass]="{'is-invalid': RucC.invalid && banderaValidaciones}" [pattern]='this.soloNumerosPattern'
                       class="tamanioInputs form-control" maxlength="13"
                       minlength="13" name="rucCasa" placeholder="" required type="text">
                <div *ngIf="RucC.invalid && banderaValidaciones">
                  <div *ngIf="RucC.errors.required">
                    <p class="alert alert-danger"> &nbsp; <i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                  <div *ngIf="RucC.errors.minlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Minimo 13 dígitos.</p>
                  </div>
                  <div *ngIf="RucC.errors.maxlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Maximo 13 dígitos.</p>
                  </div>
                  <div *ngIf="RucC.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Use solo números.</p>
                  </div>
                </div>
              </div> <!-- form-group end.-->

              <div class="col-sm-6 form-group">
                <label>* Celular / Convencional</label>
                <input [disabled]="banderaEdicionDeshabilitadaCasa" #TelefonoC="ngModel"
                       [(ngModel)]="this.vectorCasa.Telefono_Sucursal" [ngClass]="{'is-invalid': TelefonoC.invalid && banderaValidaciones}"
                       [pattern]='this.soloNumerosPattern' class="tamanioInputs form-control" name="telefonoCasa"
                       required type="tel">
                <div *ngIf="TelefonoC.invalid &&  banderaValidaciones ">
                  <div *ngIf="TelefonoC.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                  <div *ngIf="TelefonoC.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Utilice solo números.</p>
                  </div>
                </div>
              </div> <!-- form-group end.//-->
            </div> <!-- form-row end.//-->

            <div class="form-row">
              <div class="form-group col-6">
                <label>* Provincia</label>
                <select [disabled]="banderaEdicionDeshabilitadaCasa" #ProvinciaC="ngModel" required=""
                        (change)="getDpaCiudadesCasa($event.target.value)"
                        [(ngModel)]="this.provinciaCasa"
                        [ngClass]="{'errorSelect': ProvinciaC.invalid && banderaValidaciones}"
                        class=" tamanioInputs form-control" data-size="4" name="provinciaCasa">
                  <option disabled
                          *ngIf="!this.ciudadesCasa[0] || banderaEdicionDeshabilitadaCasa">{{this.provinciaCasa}}</option>
                  <option *ngFor="let provincia of this.provinciasCasa"
                          value="{{provincia.COD_DPA}}"> {{provincia.NOMBRE }}</option>
                </select>
                <div *ngIf="ProvinciaC.invalid && banderaValidaciones">
                  <div *ngIf="ProvinciaC.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido</p>
                  </div>
                </div>
              </div> <!--form-group end.-->

              <div class="form-group col-6">
                <label>* Ciudad</label>
                <select (change)="seleccionarCiudad($event.target.value)" [disabled]="banderaEdicionDeshabilitadaCasa" required=""
                        #CiudadC="ngModel" [(ngModel)]="this.ciudadCasa"
                        [ngClass]="{'errorSelect': CiudadC.invalid && banderaValidaciones}"
                        class="tamanioInputs form-control" name="ciudadCasa" placeholder="">
                  <option disabled
                          *ngIf="!this.ciudadesCasa[0] || banderaEdicionDeshabilitadaCasa">{{this.ciudadCasa}}</option>
                  <option value=""> Selecciona una...</option>
                  <option *ngFor="let ciudad of this.ciudadesCasa[0]"
                          value="{{ciudad.COD_DPA}}"> {{ciudad.NOMBRE }}</option>
                </select>
                <div *ngIf="CiudadC.invalid && banderaValidaciones">
                  <div *ngIf="CiudadC.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                </div>
              </div><!--form-group end.-->
            </div><!--form-row.-->
          </div> <!--FIN CASA-->


        </div>
      </form>
      <!--FIN el modulo de CASA -->

      <form *ngIf="this.banderaCasa" class=" col-md-12  mt-4 px-0">

          <div class="text-md-right text-center ">
            <button *ngIf="!banderaEdicionDeshabilitadaCasa" [disabled]="loading"
                    (click)="guardarSucursalesCasa()" class="btn btn-primary text-nowrap mb-4  col-auto mr-md-2"
                    type="button">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
              Guardar &nbsp;&nbsp;
              <span class="fa fa-save"></span>
            </button>

            <button *ngIf="!banderaEdicionDeshabilitadaCasa" href="#" (click)="cancelarModificacion(); "
                    class="btn btn-light text-nowrap mb-4  col-auto">
              Cancelar &nbsp;&nbsp;
              <span class="fa fa-close"></span></button>

            <button *ngIf="banderaEdicionDeshabilitadaCasa" (click)="habilitarEdicionCasa()"
                    class="btn btn-warning text-nowrap mb-4  col-auto">
              Modificar &nbsp;&nbsp;
              <span class="fa fa-edit"></span></button>


          </div>

      </form>


      <!--Empieza el modulo de Tengo Negocio Fisico -->
      <form #FormSucursales id="formSucursales" name="formSucursales" validate-form>
        <div class="NegocioFisico" *ngIf="banderaEspacioFisico && this.bandAgregarSuc">
          <div class="card card-body mb-2" *ngFor="let item of this.Sucursales; index as i">
            <h6 *ngIf="i==0" class="font-weight-bold">MATRIZ</h6>
            <label *ngIf="i==0" class="font-weight-bold">Ingrese los datos de su negocio (Sucursales en caso de
              existir)</label>

            <div *ngIf="i!=0" class="form-row">
              <div class="form-group col-11 mb-0">
                <label style="font-weight: bolder; font-size: small">SUCURSAL&nbsp; {{i}}</label>
              </div>
              <div *ngIf="this.bandAgregarSuc" class="form-group col-1 my-0">
                <button [disabled]="banderaEdicionDeshabilitadaNeg" (click)="borrarOpciones(i)"
                        class="py-0 form-control "
                        style=" border: none; color: red">
                  <span class="fa fa-trash "></span>
                </button>
              </div>
            </div> <!--Fin form-row -->
            <hr *ngIf="i!=0" class="pt-0 mt-0 mb-3">

            <div class="form-row">
              <div class="form-group col-sm-6">
                <label>* RUC</label>
                <input [disabled]="banderaEdicionDeshabilitadaNeg" #RucN="ngModel" [(ngModel)]="this.Sucursales[i].Ruc"
                       [ngClass]="{'is-invalid': RucN.invalid && banderaValidaciones}" [pattern]='this.soloNumerosPattern'
                       class="tamanioInputs form-control" maxlength="13"
                       minlength="13" name="ruc{{i}}" placeholder="" required type="text">
                <div *ngIf="RucN.invalid && banderaValidaciones">
                  <div *ngIf="RucN.errors.required">
                    <p class="alert alert-danger"> &nbsp; <i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                  <div *ngIf="RucN.errors.minlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Minimo 13 dígitos.</p>
                  </div>
                  <div *ngIf="RucN.errors.maxlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Maximo 13 dígitos.</p>
                  </div>
                  <div *ngIf="RucN.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Use solo números.</p>
                  </div>
                </div>
              </div> <!-- form-group end.-->

              <div class="form-group col-sm-6 ">
                <label>* Celular / Convencional</label>
                <input [disabled]="banderaEdicionDeshabilitadaNeg" #TelefonoN="ngModel"
                       [(ngModel)]="this.Sucursales[i].Telefono_Sucursal" [ngClass]="{'is-invalid': TelefonoN.invalid && banderaValidaciones}"
                       [pattern]='this.soloNumerosPattern' class="tamanioInputs form-control" name="telefono{{i}}"
                       required type="tel">
                <div *ngIf="TelefonoN.invalid &&  banderaValidaciones">
                  <div *ngIf="TelefonoN.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                  <div *ngIf="TelefonoN.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Utilice solo números.</p>
                  </div>
                </div>
              </div> <!-- form-group end.//-->
            </div> <!-- form-row end.//-->

            <div class="form-row">
              <div class="form-group col-6">
                <label>* Provincia</label>
                <select [disabled]="banderaEdicionDeshabilitadaNeg" #ProvinciaN="ngModel" required=""
                        (change)="getDpaCiudades($event.target.value, i)"
                        [(ngModel)]="this.provinciaNegocio[i]"
                        [ngClass]="{'errorSelect': ProvinciaN.invalid && banderaValidaciones}"
                        class=" tamanioInputs form-control" data-size="4" name="provincia{{i}}">
                  <option disabled
                          *ngIf="!this.ciudades[i] || banderaEdicionDeshabilitadaNeg">{{this.provinciaNegocio[i]}}</option>
                  <option *ngFor="let provincia of this.provincias"
                          value="{{provincia.COD_DPA}}"> {{provincia.NOMBRE}}</option>
                </select>
                <div *ngIf="ProvinciaN.invalid && banderaValidaciones">
                  <div *ngIf="ProvinciaN.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido</p>
                  </div>
                </div>
              </div> <!--form-group end.-->

              <div class="form-group col-6">
                <label>* Ciudad</label>
                <select (change)="seleccionarCiudadSucursal($event.target.value, i)" required=""
                        [disabled]="banderaEdicionDeshabilitadaNeg"
                        #CiudadN="ngModel" [(ngModel)]="this.ciudadNegocio[i]"
                        [ngClass]="{'errorSelect': CiudadN.invalid &&  banderaValidaciones}"
                        class="tamanioInputs form-control" name="ciudad{{i}}" placeholder="">
                  <option disabled
                          *ngIf="!this.ciudades[i] || banderaEdicionDeshabilitadaNeg">{{this.ciudadNegocio[i]}}</option>
                  <option value="">Selecciona una...</option>
                  <option *ngFor="let ciudad of this.ciudades[i]"
                          value="{{ciudad.COD_DPA}}"> {{ciudad.NOMBRE }}</option>
                </select>
                <div *ngIf="CiudadN.invalid &&  banderaValidaciones">
                  <div *ngIf="CiudadN.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                </div>
              </div><!--form-group end.-->
            </div><!--form-row.-->

            <div class="form-group">
              <label>* Dirección</label>
              <input [disabled]="banderaEdicionDeshabilitadaNeg" #CallePrincipal="ngModel"
                     [(ngModel)]="this.Sucursales[i].Direccion_Sucursal"
                     [ngClass]="{'errorSelect': CallePrincipal.invalid && banderaValidaciones}"
                     class="tamanioInputs form-control"
                     name="direccion{{i}}" placeholder="" required type="text" id="CallePrincipal">
              <div *ngIf="CallePrincipal.invalid &&  banderaValidaciones">
                <div *ngIf="CallePrincipal.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
              </div>
            </div><!-- form-group end.// -->

            <div class="form-row">
              <div class="col-sm-6 form-group">
                <label>Número de referencia</label>
                <input [disabled]="banderaEdicionDeshabilitadaNeg" #NumCasa="ngModel"
                       [(ngModel)]="this.Sucursales[i].Num_Referencia"
                       class="tamanioInputs form-control" name="numCasaSucursal{{i}}" placeholder="" type="text">
              </div>

              <div class=" col-sm-6 form-group">
                <label>Código Postal</label>
                <input [disabled]="banderaEdicionDeshabilitadaNeg" #CodigoPostal="ngModel"
                       [(ngModel)]="this.Sucursales[i].Num_Cod_Postal_Sucursal"
                       class="tamanioInputs form-control" name="codigoPostal{{i}}" type="text">
              </div> <!--form-group end.-->
            </div> <!--form-row end.-->
          </div><!--Fin ngFor-->

          <div *ngIf="this.bandAgregarSuc && this.banderaEdicionDeshabilitadaNeg == false"
               class="form-group col-md-12 px-0 py-2 m-0">
            <p (click)="agregarSucursal()" class="agregar-sucursal">
              <span class="fa fa-plus "></span> &nbsp;Agregar sucursal
            </p>
          </div>

        </div><!--Termina el modulo de Tengo Negocio Fisico -->
      </form>

      <form *ngIf="this.bandAgregarSuc" class="  col-md-12  mt-4 px-0">

          <div class="text-md-right text-center">
            <button *ngIf="!banderaEdicionDeshabilitadaNeg"
                    (click)="guardarSucursalesNeg()" class="btn btn-primary text-nowrap mb-4  col-auto mr-md-2"
                    type="button">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
              Guardar &nbsp;&nbsp;
              <span class="fa fa-save"></span>
            </button>

            <button *ngIf="!banderaEdicionDeshabilitadaNeg" href="#" (click)="cancelarModificacion(); "
                    class="btn btn-light text-nowrap mb-4  col-auto">
              Cancelar &nbsp;&nbsp;
              <span class="fa fa-close"></span></button>


            <button *ngIf="banderaEdicionDeshabilitadaNeg" (click)="habilitarEdicionNeg()"
                    class="btn btn-warning text-nowrap mb-4  col-auto">
              Modificar &nbsp;&nbsp;
              <span class="fa fa-edit"></span></button>


          </div>


      </form>
    </div>
  </div>
</div>
<br>
</body>


