<body>
<section class="section-pagetop bg  py-1 py-md-4">
  <div class="container-fluid px-5">
    <h2 class="title-page text-center text-md-left">Categorías para comprar y vender</h2>
  </div> <!-- container //  -->
</section>
<div class="container-fluid mt-5 ">


  <div class="row justify-content-center mt-5 ">

    <div class="col-md-12" id="panelUno">

      <form #formMetodoPago class=" pt-4">

        <div *ngFor="let c11 of c1; let i = index">
          <div class="px-md-2">
            <div class="form-row ">
              <div class=" mx-auto d-flex align-items-center col-md-4 ">
                <div class="">
                  <p class=" iconos-pagos "><span class="{{this.vectorIconos[i]}} fa-4x" style="color: #2a4c75"></span></p>
                  <h5 class="mb-3  text-center my-3" style="font-weight: bold">{{c11.NOMBRE}}</h5>
                </div>
              </div>
              <div class="col-md-6 col-10">

                <div *ngFor="let c22 of c2"  >
              <div class="" *ngIf="c11.ID_CATEGORIA==c22.CAT_ID_CATEGORIA">
                  <p (click)="verificar(c22.ID_CATEGORIA, c22.NOMBRE)" class="col-auto pl-0"  style="color: black; " >{{c22.NOMBRE}}</p>

                <div  *ngFor="let c33 of c3" >
                  <div class="" *ngIf=" (c11.ID_CATEGORIA==c22.CAT_ID_CATEGORIA) && (c22.ID_CATEGORIA==c33.CAT_ID_CATEGORIA)">
                  <p (click)="verificar(c33.ID_CATEGORIA, c33.NOMBRE)" class="offset-2 offset-md-4 "   style="font-size: smaller; display: block" >{{c33.NOMBRE}}</p>
                  </div>
                </div>

              </div>
              </div>
              </div>

            </div>

          </div>
          <hr>
        </div>



      </form>

    </div>

  </div>


</div>

</body>
