.iconos-pagos {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: #f1f3f4;
  /*background-color: rgba(255,128,0,0.6);*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;

}

p {
  cursor: pointer;
}

p:hover {
  color: #1a56e9;
  text-decoration-line: underline;
}

@media (max-width: 720px) {
  .title-page {
    font-size: larger;
    font-weight: bold;
  }
}
