<body class="bg">

<div class="px-2">
  <section class="section-main">

    <div class="row no-gutters justify-content-center ">

      <div class="col-xl-8 mt-1 mx-auto bg-white ">
        <section class="w-100">

          <div class="section-intro  w-100 mx-auto   bg-white">
            <div class="w-100">
              <img [src]=this.Banner class="w-100 alto-banner  bg-white" style="border-radius: 10px">
            </div>

            <div class="posicion-logo row w-100  justify-content-center justify-content-md-start  ml-md-5 ml-1   ">
              <div class="  centered-content   justify-content-between  mt-n5">
                <div class="row mx-auto">
                  <img [src]="this.Logo" class=" rounded-circle alto-logo bg-white">

                </div>

                <h4 class="text-center  mt-2   ">{{this.Tienda?.NOMBRE_COMERCIAL}}</h4>
              </div>
            </div>


          </div> <!--banner-->

          <div class="bg-white  border-bottom   posicion-iconos">
            <div class="  text-center  d-block">
              <button class='btn btn-lg btn-link ' style='background-color:transparent;'>
                <div style='text-align:center;'>
                  <a #contactanos
                     href="https://api.whatsapp.com/send?phone={{contactoWhatsapp}}&text=Hola!%20Quiero%20conocer%20acerca%20de%20su%20tienda!"
                     target="_blank" class="icon icon-sm rounded-circle border border-primary text-center">
                    <i class="fab fa-whatsapp"></i></a>
                </div>
                <p (click)="contactanos.click()" class="text-primary" style="font-size: small">Contáctanos</p>
              </button>

              <button class='btn btn-lg btn-link ' style='background-color:transparent;'
                      routerLink="encuentranos-tienda" routerLinkActive='active-icon'
                      [routerLinkActiveOptions]="{exact: true} ">
                <div style='text-align:center;'>
                  <a class="icon icon-sm rounded-circle border border-primary text-center"
                     routerLinkActive='active-icon'>
                    <i class="fa fa-directions"></i></a>
                </div>
                <p class="text-primary " style="font-size: small">Encuentranos</p>
              </button>

              <button *ngIf="this.vPaginasWeb.length>0 " class='btn btn-lg btn-link '
                      style='background-color:transparent;' data-toggle="dropdown">
                <div style='text-align:center;'>
                  <a class="icon icon-sm rounded-circle border border-primary text-center">
                    <i class="fa fa-globe-americas"></i></a>
                </div>
                <p class="text-primary" style="font-size: small">Sitio Web</p>

              </button>
              <div class="dropdown-menu ">
                <div *ngFor="let pagina of vPaginasWeb">
                  <a class="dropdown-item   link" *ngIf="pagina.tipo=='facebook'" href="{{pagina.direccion}}"
                     target="_blank"><span
                    class="fab fa-facebook"></span> &nbsp; Link de facebook</a>

                  <a class="dropdown-item   link" *ngIf="pagina.tipo=='pagina'"
                     href="{{pagina.direccion}} " target="_blank"><span
                    class="fas fa-pager "></span> &nbsp;link a página externa</a>
                </div>

              </div>

              <hr>
              <div class="widget-header ">
                <li class="small">
                  <p
                    [ngClass]="{'text-success':(this.Disponibilidad=='Disponible' || this.Disponibilidad=='Siempre abierto'), 'text-danger': (this.Disponibilidad=='Cerrado'|| this.Disponibilidad=='No disponible')}"
                    class=" text-center ml-2"><span class="fa fa-clock"></span> &nbsp; {{this.Disponibilidad}} &nbsp;&nbsp;<a
                    class="text-dark">{{this.JornadaActual}}</a> &nbsp;&nbsp;<span href="#producto"
                                                                                   data-toggle="collapse"
                                                                                   aria-expanded="false"
                                                                                   class=" dropdown-toggle "
                                                                                   class="fa fa-caret-down"></span></p>

                  <ul class="collapse list-unstyled ml-2 w-100" id="producto">
                    <hr class="mb-0">
                    <p class="mb-1"><strong>Horarios</strong></p>
                    <div *ngFor="let jornada of vJornadas " class="text-left">
                      <p class="row">
                        <a class="col-4 "> <strong>{{jornada.dia}}:</strong> </a>
                        <a class="col-8 ">   {{jornada.jornada}}</a>
                      </p>


                    </div>
                  </ul>
                </li>
              </div>


            </div>
          </div> <!--iconos pequenios-->


          <section class="py-0   bg-white slider justify-content-md-center" >


                       <li class="nav-item dis-inline ">
                         <a class="nav-link" routerLink="inicio-tienda" routerLinkActive='active'
                            [routerLinkActiveOptions]="{exact: true} " >Tienda </a>
                       </li>
                       <!--<li class="nav-item dropdown ">
                         <a class="nav-link dropdown-toggle " data-toggle="dropdown"
                            href="#"> Categorias</a>
                         <div class="dropdown-menu ">
                           <a class="dropdown-item " *ngFor="let c of this.categorias" href="#"><span
                             class="fas fa-tag"></span> &nbsp;&nbsp;{{c}}</a>

                         </div>
                       </li>-->

                       <li class="nav-item dis-inline">
                         <a class="nav-link "  routerLink="informacion-tienda" routerLinkActive='active'
                            [routerLinkActiveOptions]="{exact: true} ">Información</a>
                       </li>
                       <li class="nav-item dis-inline ">
                         <a class="nav-link "  id="contenido" routerLink="terminos-y-condiciones-tienda" routerLinkActive='active'
                            [routerLinkActiveOptions]="{exact: true} "> Términos y
                           condiciones </a>
                       </li>



          </section><!-- menu-->
          <br>


        </section>

      </div>

      <div class="col-xl-8  ">

        <router-outlet></router-outlet>
      </div>
    </div> <!-- row.// -->

    <br>
  </section>
  <br>
</div>


</body>

