.posicion-logo {
  margin-top: -100px;
}

.posicion-iconos {
  margin-top: -110px;
}


.colorNavbar {
  background-color: #2a4c75;

}

.colorNavbar2 {
  background: -webkit-repeating-linear-gradient(right, #2a4c75, #ff6500, #2a4c75, #ff6500);

}

.nav-link {

  color:#495057;
  font-size: 1rem;
  width: 100%;

}

.active {
  color: #1a56e9;
  border-bottom: solid 2px;
  border-bottom-color: #1a56e9;
}

.nav-link:hover {

  color: #2a4c75;
  background-color: rgba(244, 246, 246, 1);
  border-radius: 5px;

}

.alto-banner {
  height: 450px;
}


.alto-logo {
  border: rgba(244, 246, 246, 0.8) 4px solid;
  height: 180px;
  width: 180px;
}

.dropdown-menu {
  /*max-height: 25vw;
  overflow: auto;*/
}


@media (max-width: 720px) {
  .alto-banner {
    height: 200px;
  }

  .alto-logo {
    border: rgba(244, 246, 246, 0.8) 4px solid;
    height: 160px;
    width: 160px;
  }

  .posicion-logo {
    margin-top: -60px;
  }

  .posicion-iconos {
    margin-top: 0px;
  }

  .dropdown-menu {
    /*  max-height: 100vw;
      overflow: auto;*/
  }


}

i {
  color: #017bff;
}

.active-icon {
  background-color: #017bff;
  font-weight: bold;


}

.active-icon i {

  color: white;

}

.link {
  color: #495057;

}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #2a4c75;
  border-radius: 50px;
}

.dropdown-menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;

}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #2a4c75;
  border-radius: 50px;
}

.slider{
  display: flex;
  width: 100%;
  overflow:auto ;


}
.slider::-webkit-scrollbar {
  display: none;
}

#contenido {
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
