<body>


<div class=" mt-5" [ngClass]="{'container':misProductos.length==0, 'container-fluid':misProductos.length>0}">
  <div class="row  justify-content-center">
    <h4 class=" col-md-11 text-left">Listado de productos</h4>
    <hr class=" col-md-11  ">
  </div>
  <div *ngIf="misProductos.length==0" class="row justify-content-center   ">
    <div class=" col-md-9  ml-md-5 ">
      <div class=" container  bg-white  shadow ">
        <br><br><br>
        <div class="mx-auto">
          <p class=" iconos-pagos "><span class="  fa fa-box-open fa-5x" style="color: #2a4c75"></span> &nbsp;<label
            style="font-size: large">Productos</label></p>

        </div>
        <br><br>
        <div class="mx-auto">
          <h5 class="text-center">Gestiona tus productos</h5>
          <br>
          <div class=" mx-md-5  mx-auto">
            <p class="text-center mx-md-5">Aquí es donde agregarás productos y gestionarás tus precios. También puedes
              importar y exportar tu inventario de producto</p>
          </div>
        </div>

        <br> <br>
        <div class="mx-auto text-center">
          <button class="btn btn-primary  px-5" routerLink="../productos" style="font-size: small"> Crear producto</button>
          <br> <br>
        </div>
        <br>
      </div>
    </div>


    <div class=" col-md-2   mt-5 mt-md-0   jackInTheBox   animated px-0 ">
      <div class="container card  card-body  shadow  ">
        <h5>Empecemos!</h5>
        <hr class="mb-0">
        <br>
        <p class=" iconos-pagos ">
          <img class="mx-auto  pt-md-4  mensaje-mascota " src="../../../assets/images/mascota-condero.png" width="100%">
        </p>
        <br><br><br>
        <button class="btn btn-primary" style="font-size: small" routerLink="../productos"> Crear producto</button>
      </div>
    </div>
  </div>
</div>


<div  *ngIf="misProductos.length>0" class="container-fluid mx-auto px-md-5 ">


  <div class="row mb-2  ">
    <div class=" input-group col-lg-6 mr-lg-auto pr-0" >
      <input class="form-control " style="font-size: small" type="text" #busquedaasd="ngModel"
             [(ngModel)]="this.busqueda" name="Busquedaasd" (input)="filtrar()"/>

      <div class="input-group-append ">
        <span class="input-group-text  "><li class="fas fa-search"></li></span>
      </div>
      &nbsp;  &nbsp;  &nbsp;

    </div>

    <div class="col-md-auto ">
      <button class="btn btn-primary w-100 mt-md-0 mt-2" style="font-size:small">Nuevo Producto</button>
    </div>

  </div>
  <div *ngIf="loading">
    <label>Buscando  . . .</label>
    &nbsp;  &nbsp;  &nbsp;
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </div>


  <div class="btn-group mb-2 animated  " [ngClass]="{'fadeOut':vectorProductos.size==0,'fadeIn':vectorProductos.size>0 }" *ngIf="vectorProductos.size>0">
    <button class="btn btn-primary mr-1" style="font-size: small; font-weight: normal">
      Seleccionados &nbsp;<span class="badge badge-light">{{vectorProductos.size}}</span>
    </button>
    <button (click)="cambiarEstadoProductos(0)" placement="top" ngbTooltip="Mostrar"
            class="btn btn-secondary  mt-md-0 mt-1" style="font-size: x-small">
      <span class="fa fa-eye"></span>
    </button>

    <button (click)="cambiarEstadoProductos(1)" placement="top" ngbTooltip="Ocultar"
            class="btn btn-dark  mt-md-0 mt-1"
            style="font-size: x-small"
    ><span class="fa fa-eye-slash"></span></button>

    <button (click)="cambiarEstadoProductos(2)" placement="top" ngbTooltip="Borrar"
            class="btn btn-danger   mt-md-0 mt-1"
            style="font-size: x-small"
    ><span class="fa fa-trash"></span></button>


  </div>
  <div  *ngIf="this.result.length==0" class="ml-1"><p>No se encontraron resultados.</p></div>
  <table class="table table-bordered table-responsive-sm bg-white small w-100 text-center" *ngIf="this.result.length>0">
    <thead>
    <tr>
      <th scope="col"><input (click)="agregarTodosProductos($event)" id="rastrearCantidad" type="checkbox"></th>
      <th scope="col">ID_PRODUCTO</th>
      <th scope="col">COD_PRODUCTO</th>
      <th scope="col">ID_OFERTA</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">MARCA</th>
      <th scope="col">CONDICION</th>
      <th scope="col">PESO</th>
      <th scope="col">OPCIÓN</th>
    </tr>
    </thead>
    <tbody>
    <tr [ngClass]="{'bg-gray':producto.ESTADO_OFERTA==1}"
        *ngFor="let producto of   this.result  |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
      <th scope="row"><input (click)="agregarProducto($event,producto.PRODUCTO.ID_OFERTA )" type="checkbox" [checked]="vectorProductos.has(producto.PRODUCTO.ID_OFERTA)"></th>
      <td>
        {{producto.PRODUCTO.ID_PRODUCTO}}
      </td>
      <td>
        {{producto.PRODUCTO.COD_PRODUCTO}}
      </td>
      <td>
        {{producto.ID_OFERTA}}
      </td>
      <td>
        {{producto.PRODUCTO.NOMBRE_PRODUCTO}}
      </td>
      <td>
        {{producto.PRODUCTO.DESCRIPCION_PRODUCTO}}
      </td>
      <td>
        {{producto.PRODUCTO.MARCA}}
      </td>
      <td>
        {{producto.PRODUCTO.CONDICION}}
      </td>
      <td>
        {{producto.PRODUCTO.PESO_PRODUCTO}}
      </td>
      <td>
        <div class="btn-group">
          <button (click)="cambiarEstadoProducto(producto.ID_OFERTA,0)" placement="top" ngbTooltip="Mostrar"
                  *ngIf="producto.ESTADO_OFERTA==1"
                  class="btn btn-secondary   mt-md-0 mt-1" style="font-size: x-small">
            <span class="fa fa-eye"></span>
          </button>

          <button placement="top" ngbTooltip="Ocultar" *ngIf="producto.ESTADO_OFERTA==0"
                  (click)="cambiarEstadoProducto(producto.ID_OFERTA,1)" class="btn btn-secondary   mt-md-0 mt-1"
                  style="font-size: x-small"
          ><span class="fa fa-eye-slash"></span></button>

          <button (click)="cambiarEstadoProducto(producto.ID_OFERTA,2)" placement="top" ngbTooltip="Borrar"
                  class="btn btn-danger   mt-md-0 mt-1"
                  style="font-size: x-small"
          ><span class="fa fa-trash"></span></button>

          <button placement="top" ngbTooltip="Editar" *ngIf="producto.ESTADO_OFERTA==0"
                  class="btn btn-primary mt-md-0 mt-1" style="font-size: x-small"
                  [routerLink]="['../modificar-producto/', producto.ID_OFERTA ]"><span
            class="fa fa-edit"></span></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="this.result.length "></ngb-pagination>
  </div>


</div>


<br>


</body>
