body {
  height: 100vh !important;
  overflow: auto;
}
.iconos-pagos {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0px auto;
  padding:5%
}
.bg-gray{
  background-color: lightgray;
}



