<body>


<div class="container-fluid mt-5">
  <div class="row  justify-content-center">
    <h4 class=" col-md-11 text-left">Listado de productos</h4>
    <hr class=" col-md-11  ">
  </div>
  <div *ngIf="!result" class="row justify-content-center   ">
    <div class=" col-md-9  ml-md-5 ">
      <div class=" container  bg-white  shadow ">
        <br><br><br>
        <div class="mx-auto">
          <p class=" iconos-pagos "><span class="  fas fa-tags fa-5x" style="color: #2a4c75"></span> &nbsp;<label
            style="font-size: large">Productos</label></p>

        </div>
        <br><br>
        <div class="mx-auto">
          <h5 class="text-center">Gestiona tus productos</h5>
          <br>
          <div class=" mx-md-5  mx-auto">
            <p class="text-center mx-md-5">Aquí es donde agregarás productos y gestionarás tus precios. También puedes
              importar y exportar tu inventario de producto</p>
          </div>
        </div>

        <br> <br>
        <div class="mx-auto text-center">
          <button class="btn btn-primary  px-5" style="font-size: small"> Crear producto</button>
          <br> <br>
        </div>
        <br>
      </div>
    </div>


    <div class=" col-md-2   mt-5 mt-md-0   jackInTheBox   animated px-0 ">
      <div class="container card  card-body  shadow  ">
        <h5>Empecemos!</h5>
        <hr class="mb-0">
        <br>
        <p class=" iconos-pagos ">
          <img class="mx-auto  pt-md-4  mensaje-mascota " src="../../../assets/images/mascota-condero.png" width="100%">
        </p>
        <br><br><br>
        <button class="btn btn-primary" style="font-size: small"> Crear producto</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mx-auto px-md-5 ">


  <div class="form-row mb-2  ">
    <div class=" input-group col-md-4 mr-md-auto">
      <input class="form-control" style="font-size: small" type="text" #busquedaasd="ngModel"
             [(ngModel)]="this.busqueda" name="Busquedaasd" (input)="busquedasasd()"/>

      <div class="input-group-append">
        <span class="input-group-text  small"><li class="fas fa-search"></li></span>
      </div>
    </div>
    <div class="col-md-auto ">
      <button class="btn btn-primary w-100 mt-md-0 mt-2" style="font-size:small">Nuevo Producto</button>
    </div>
  </div>

  <table class="table table-bordered table-responsive-sm bg-white small w-100 text-center" >
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID_PRODUCTO</th>
      <th scope="col">COD_PRODUCTO</th>
      <th scope="col">ID_OFERTA</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">MARCA</th>
      <th scope="col">CONDICION</th>
      <th scope="col">PESO</th>
      <th scope="col">OPCIÓN</th>
    </tr>
    </thead>
    <tbody>
    <tr [ngClass]="{'bg-gray':producto.ESTADO_OFERTA==1}"
      *ngFor="let producto of   this.result  |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td >
        {{producto.PRODUCTO.ID_PRODUCTO}}
      </td>
      <td>
        {{producto.PRODUCTO.COD_PRODUCTO}}
      </td>
      <td>
        {{producto.ID_OFERTA}}
      </td>
      <td>
        {{producto.PRODUCTO.NOMBRE_PRODUCTO}}
      </td>
      <td>
        {{producto.PRODUCTO.DESCRIPCION_PRODUCTO}}
      </td>
      <td>
        {{producto.PRODUCTO.MARCA}}
      </td>
      <td>
        {{producto.PRODUCTO.CONDICION}}
      </td>
      <td>
        {{producto.PRODUCTO.PESO_PRODUCTO}}
      </td>
      <td>
        <div class="btn-group">
          <button  (click)="cambiarEstadoProducto(producto.ID_OFERTA,0)"  placement="top" ngbTooltip="Mostrar" *ngIf="producto.ESTADO_OFERTA==1"
                  class="btn btn-secondary  ml-md-2 mt-md-0 mt-1" style="font-size: x-small">
            <span class="fa fa-eye"></span>
          </button>

          <button placement="top" ngbTooltip="Ocultar" *ngIf="producto.ESTADO_OFERTA==0"
                  (click)="cambiarEstadoProducto(producto.ID_OFERTA,1)" class="btn btn-secondary  ml-md-2 mt-md-0 mt-1"
                  style="font-size: x-small"
          ><span class="fa fa-eye-slash"></span></button>

          <button (click)="cambiarEstadoProducto(producto.ID_OFERTA,2)" placement="top" ngbTooltip="Borrar" class="btn btn-danger  ml-md-2 mt-md-0 mt-1"
                  style="font-size: x-small"
          ><span class="fa fa-trash"></span></button>

          <button placement="top" ngbTooltip="Editar" *ngIf="producto.ESTADO_OFERTA==0"
                  class="btn btn-primary ml-md-2 mt-md-0 mt-1" style="font-size: x-small"
                  [routerLink]="['../modificar-producto/', producto.ID_OFERTA ]"><span
            class="fa fa-edit"></span></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="this.result.length "></ngb-pagination>
  </div>


</div>


<br>


</body>
