.section-header
{
  background-color: white;
}


.clearfix
{
  clear: both;
  float: none;
}
.logo{
  max-height: 55px;
}





@media (min-width: 1035px) {
  .container-menu{
    padding-right: 0px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }

}
