.section-header {
  background-color: white;
}

.clearfix {
  clear: both;
  float: none;
}

.logo {

  max-height: 55px;
  align-items: center;
  position: center;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1035px) {
  .container-menu {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  .search {
    margin-left: 140px;
    margin-right: -100px;
  }
}

body {
  max-height: 100%;
  overflow: auto;
}

/*Buscador de contenido*/
.search{
  z-index: 9;
}

#box-search {
  background: #fff;
  z-index: 8;
}

#box-search li a{
  display: block;
  color: #777777;
  padding: 6px 15px;
}



