.section-header {
  background-color: white;
}

.clearfix {
  clear: both;
  float: none;
}

.logo {
  max-height: 55px;
  align-items: center;
  position: center;

}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1035px) {
  .container-menu {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .search {
    margin-left: 0px;
    margin-right: 10px;
  }
}

body {
  max-height: 100%;
  overflow: auto;
}

.dropdown-toggle {
  font-size: small;
}

.btnTodos {
  background-color: rgb(42, 76, 117);
  border-color: rgb(42, 76, 117);
  border: 1px;
  color: white;
}


input[type="text"]:focus
 {

  box-shadow: 0 0 0.0005px;
  outline: 0.1px none;
}

.celular{
  display: none;
}



@media (max-width:720px) {
  .celular{
    display: flex;
  }

  .computadora{
    display: none;
  }
  .logo{
    width: 60%;
  }

}


