<body>
<header class="section-header">

  <div class="header-main border-bottom">
    <div class="container-fluid ">
      <div class="row justify-content-between">
        <div class="col-lg-2  col-sm-12  ">
          <a href="#" class="brand-wrap">
            <img class="logo mx-auto" src="../../../assets/images/logoValid4.png">
          </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg-7 col-sm-12 mx-auto">

          <div class="input-group  ">
            <input type="text" class="form-control " placeholder="Buscar">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-12 mx-auto">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header  mr-3">
              <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-bell" aria-hidden="true"></i></a>
              <span class="badge badge-pill badge-danger notify">0</span>
            </div>
            <div class="widget-header  mr-3">
              <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
              <span class="badge badge-pill badge-danger notify">0</span>
            </div>
            <div class="widget-header icontext">

              <li class="nav-item dropdown">
                <a href="#" class="icon icon-sm rounded-circle border" data-toggle="dropdown" href="#"
                   aria-expanded="false"><i class="fa fa-user"></i>
                </a>

                <div class="dropdown-menu ">
                  <a class="dropdown-item" href="#" routerLink="mi-cuenta/menu-mi-cuenta/vision-general"><span
                    class="fa fa-user "></span> &nbsp;Mi cuenta</a>

                  <a class="dropdown-item"   href="#" routerLink="/administrador/administrador-tienda/mis-tiendas">
                    <span class="fas fa-store-alt mr-2"></span>
                    Mis tiendas
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item col-2" href="#">Ver todas</a>

                </div>
              </li>

              <div class="text">
                <span class="text-muted">Bienvenido!</span>
                <div>
                  <a [routerLink]="['/loguin']">Loguin</a> |
                  <a [routerLink]="['/registro']"> Registro</a>
                </div>
              </div>
            </div>

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </div> <!-- header-main .// -->


</header> <!-- section-header.// -->

<router-outlet></router-outlet>
</body>
