<body>
<header class="section-header">

  <section class="header-main pb-0 pb-md-2">
    <div class="container-fluid computadora">
      <div class="row align-items-center  ">

        <div class="col-lg-3 col-md-3 col-sm-3 col-12 divlogo mx-auto">
          <a href="#" class="brand-wrap mb-2">
            <img class="logo mx-auto" src="../../../assets/images/logoValid4.png">
          </a> <!-- brand-wrap.// -->
        </div>

        <div class="col-lg-6 col-md-5 col-sm-5 col-12 mx-auto ">
          <div class="input-group search">
            <div class="input-group-prepend">
              <button class="btn dropdown-toggle btnTodos" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{tipoBuscador}}</button>
              <div class="dropdown-menu">
                <a style="cursor:pointer;" (click)="cambiarBuscador('Todos')" class="dropdown-item py-0">Todos</a>
                <div role="separator" class="dropdown-divider"></div>
                <a style="cursor:pointer;" (click)="cambiarBuscador('Productos')" class="dropdown-item">Productos</a>
                <a style="cursor:pointer;" (click)="cambiarBuscador('Tiendas')" class="dropdown-item">Tiendas</a>
              </div>
            </div>

            <input (keyup.enter)="buscarPalabra(this.palabraBuscadora)" id="typeahead-format" type="text"
                   class="form-control"
                   (keyup)="buscarDatos(this.palabraBuscadora)" #buscarTexto
                   [(ngModel)]="this.palabraBuscadora" [ngbTypeahead]="buscarDatosTerm"/>

            <div class="input-group-append">
              <button class="btn btnTodos" type="submit" (click)="buscarPalabra(buscarTexto.value)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-12 mx-auto">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header mr-3" *ngIf="this._agenteServicio.getIdentity()">
              <a data-toggle="dropdown" href="#"
                 aria-expanded="false" aria-haspopup="true" class="icon icon-sm rounded-circle border"><i
                class="fa fa-bell" aria-hidden="true"></i></a>
              <span class="badge badge-pill badge-danger notify"  *ngIf="this.notificaciones?.todas.length>0">{{this.notificaciones?.todas.length}}</span>


              <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                <h3 class="dropdown-header">Notificaciones</h3>
                <div class="dropdown-divider"></div>
                <div class="border-bottom " *ngFor="let notificaciones of this.notificaciones?.limitadas">

                  <a class="dropdown-item " *ngIf="notificaciones.ENVIAR_A=='Tienda'"
                     (click)="direccionar(notificaciones.CODIGO_COMPRA, notificaciones.CODIGO_TIENDA, notificaciones.ID_NOTIFICACION, 1, notificaciones.ESTADO_NOTIFICACION)">

                    <p class=" notificaciones text-success" style="text-transform: uppercase"
                       [ngClass]="{'text-success': notificaciones.ESTADO_NOTIFICACION==1, 'text-primary': notificaciones.ESTADO_NOTIFICACION==0}">
                      <a class="fa fa-exclamation-circle"></a>
                      &nbsp;{{notificaciones.ASUNTO}}  <a class="float-right notificaciones"
                                                          *ngIf="notificaciones.ESTADO_NOTIFICACION==1">Visto</a>
                    </p>

                      <label class="notificaciones"><i
                        class="text-muted">De: {{notificaciones.AGENTE.NOMBRE}}</i></label>
                      <p class="notificaciones"> {{notificaciones.MENSAJE}}</p>
                      <p class="notificaciones">Orden #: {{notificaciones.CODIGO_COMPRA}}</p>
                      <label class="notificaciones"><i
                        class="text-muted">Para: {{notificaciones.NOMBRE_TIENDA}}</i></label>


                    <div class="form-row mt-2 pl-1">
                      <small class="text-muted"> {{notificaciones.FECHA_NOTIFICACION }}</small>
                      <small class="ml-auto text-muted"> {{notificaciones.HORA_NOTIFICACION}}</small></div>
                  </a>

                  <a class="dropdown-item " *ngIf="notificaciones.ENVIAR_A=='Usuario'"
                     (click)="direccionar2(notificaciones.CODIGO_COMPRA,notificaciones.ID_NOTIFICACION, 1,notificaciones.ESTADO_NOTIFICACION)">

                    <p class="notificaciones text-success" style="text-transform: uppercase"
                       [ngClass]="{'text-success': notificaciones.ESTADO_NOTIFICACION==1, 'text-primary': notificaciones.ESTADO_NOTIFICACION==0}">
                      <a class="fa fa-exclamation-circle"></a>
                      &nbsp;&nbsp;{{notificaciones.ASUNTO}} <a class="notificaciones float-right" *ngIf="notificaciones.ESTADO_NOTIFICACION==1">Visto</a>
                    </p>

                      <label class="notificaciones"><i
                        class="text-muted">De: {{notificaciones.NOMBRE_TIENDA}}</i></label>
                      <p class="notificaciones"> {{notificaciones.MENSAJE}}  </p>
                      <p class="notificaciones">Orden #: {{notificaciones.CODIGO_COMPRA}}</p>
                      <label class="notificaciones"><i
                        class="text-muted">Para: Usuario</i></label>


                    <div class="form-row mt-2 pl-1">
                      <small class="text-muted"> {{notificaciones.FECHA_NOTIFICACION }}</small>
                      <small class="ml-auto text-muted"> {{notificaciones.HORA_NOTIFICACION}}</small></div>
                  </a>


                </div>
                <p class="text-center mt-1">
                  <button class=" notificaciones text-center btn btn-link text-secondary" routerLink="notificaciones">
                    Ver todas
                  </button>
                </p>

              </div>
            </div>
            <div class="widget-header  mr-3  " [ngClass]="{'heartBeat animated':banderaCarrito==true}"
                 *ngIf="this._agenteServicio.getIdentity()">
              <a routerLink="carrito-compras/{{this._agenteServicio.getIdentity().COD_AGENTE}}"
                 class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
              <span
                class="badge badge-pill badge-danger notify"  *ngIf="this.carritoIdentidad?.data.CANTIDAD_TOTAL_PRODUCTOS>0">{{this.carritoIdentidad?.data.CANTIDAD_TOTAL_PRODUCTOS}}</span>
            </div>
            <div class="widget-header icontext">

              <li class="nav-item dropdown">
                <a href="#" class="icon icon-sm rounded-circle border" data-toggle="dropdown" href="#"
                   aria-expanded="false" aria-haspopup="true"><i class="fa fa-user"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" *ngIf="this._agenteServicio.getIdentity()">
                  <small class="dropdown-item">{{this._agenteServicio.getIdentity().NOMBRE}}</small>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="mi-cuenta/menu-mi-cuenta/vision-general"><span
                    class="fa fa-user "></span> &nbsp;Mi cuenta</a>

                  <a class="dropdown-item" routerLink="/administrador/administrador-tienda/mis-tiendas">
                    <span class="fas fa-store-alt mr-2"></span>
                    Mis tiendas
                  </a>
                  <a class="dropdown-item" (click)="this._agenteServicio.logout()">
                    <span class="fas fa-power-off mr-2"></span>
                    Cerrar Sesión
                  </a>

                </div>
              </li>

              <div class="text" *ngIf="!this._agenteServicio.getIdentity()">
                <span class="text-muted">Bienvenido!</span>
                <div *ngIf="!this._agenteServicio.getToken()">
                  <a [routerLink]="['/loguin']">Loguin</a> |
                  <a [routerLink]="['/registro']"> Registro</a>
                </div>
              </div>
            </div>

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->


      </div>
    </div>

    <div class="container-fluid  celular">
      <div class="row align-items-center ">

        <div class="col-lg-3 col-md-3 col-sm-3 col-6 divlogo mr-auto ">
          <a href="#" class="brand-wrap mb-2">
            <img class="logo " src="../../../assets/images/logoValid4.png">
          </a> <!-- brand-wrap.// -->
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-6 text-right ">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header mr-3" *ngIf="this._agenteServicio.getIdentity()">
              <a data-toggle="dropdown" href="#"
                 aria-expanded="false" aria-haspopup="true" class="icon icon-xs rounded-circle border"><i
                class="fa fa-bell" aria-hidden="true"></i></a>
              <span class="badge badge-pill badge-danger notify"
                    *ngIf="this.notificaciones?.todas.length>0">{{this.notificaciones?.todas.length}}</span>


              <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                <h3 class="dropdown-header">Notificaciones</h3>
                <div class="dropdown-divider"></div>
                <div class="border-bottom item " *ngFor="let notificaciones of this.notificaciones?.limitadas">

                  <a class="dropdown-item " *ngIf="notificaciones.ENVIAR_A=='Tienda'"
                     (click)="direccionar(notificaciones.CODIGO_COMPRA, notificaciones.CODIGO_TIENDA, notificaciones.ID_NOTIFICACION, 1,notificaciones.ESTADO_NOTIFICACION)">

                    <p class=" notificaciones text-success" style="text-transform: uppercase"
                       [ngClass]="{'text-success': notificaciones.ESTADO_NOTIFICACION==1, 'text-primary': notificaciones.ESTADO_NOTIFICACION==0}">
                      <a class="fa fa-exclamation-circle"></a>
                      &nbsp;{{notificaciones.ASUNTO}}  <a class="float-right notificaciones"
                                                          *ngIf="notificaciones.ESTADO_NOTIFICACION==1">Visto</a>
                    </p>

                      <label class="notificaciones"><i
                        class="text-muted">De: {{notificaciones.AGENTE.NOMBRE}}</i></label>
                      <p class="notificaciones"> {{notificaciones.MENSAJE}}</p>
                      <p class="notificaciones">Orden #: {{notificaciones.CODIGO_COMPRA}}</p>
                      <label class="notificaciones"><i
                        class="text-muted">Para: {{notificaciones.NOMBRE_TIENDA}}</i></label>


                    <div class="form-row mt-2 pl-1">
                      <small class="text-muted"> {{notificaciones.FECHA_NOTIFICACION }}</small>
                      <small class="ml-auto text-muted"> {{notificaciones.HORA_NOTIFICACION}}</small></div>
                  </a>
                  <a class="dropdown-item " *ngIf="notificaciones.ENVIAR_A=='Usuario'"
                     (click)="direccionar2(notificaciones.CODIGO_COMPRA,notificaciones.ID_NOTIFICACION, 1,notificaciones.ESTADO_NOTIFICACION)">

                    <p class="notificaciones text-success" style="text-transform: uppercase"
                       [ngClass]="{'text-success': notificaciones.ESTADO_NOTIFICACION==1, 'text-primary': notificaciones.ESTADO_NOTIFICACION==0}">
                      <a class="fa fa-exclamation-circle"></a>
                      &nbsp;&nbsp;{{notificaciones.ASUNTO}}  <a class="float-right notificaciones" *ngIf="notificaciones.ESTADO_NOTIFICACION==1">Visto</a>
                    </p>

                      <label class="notificaciones"><i
                        class="text-muted">De: {{notificaciones.NOMBRE_TIENDA}}</i></label>
                      <p class="notificaciones"> {{notificaciones.MENSAJE}}</p>
                      <p class="notificaciones">Orden #: {{notificaciones.CODIGO_COMPRA}}</p>
                      <label class="notificaciones"><i
                        class="text-muted">Para: Usuario</i></label>

                    <div class="form-row mt-2 pl-1">
                      <small class="text-muted"> {{notificaciones.FECHA_NOTIFICACION }}</small>
                      <small class="ml-auto text-muted"> {{notificaciones.HORA_NOTIFICACION}}</small></div>

                  </a>
                </div>
                <p class="text-center mt-1">
                  <button class=" notificaciones text-center btn btn-link text-secondary" routerLink="notificaciones">
                    Ver todas
                  </button>
                </p>

              </div>
            </div>
            <div class="widget-header  mr-3" *ngIf="this._agenteServicio.getIdentity()">
              <a routerLink="carrito-compras/{{this._agenteServicio.getIdentity().COD_AGENTE}}"
                 class="icon icon-xs rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
              <span
                class="badge badge-pill badge-danger notify" *ngIf="this.carritoIdentidad?.data.CANTIDAD_TOTAL_PRODUCTOS>0">{{this.carritoIdentidad?.data.CANTIDAD_TOTAL_PRODUCTOS}}</span>
            </div>
            <div class="widget-header icontext">

              <li class="nav-item dropdown">
                <a href="#" class="icono-usuario-inicio icon icon-xs rounded-circle border mr-0" data-toggle="dropdown"
                   href="#"
                   aria-expanded="false"><i class="fa fa-user"></i>
                </a>

                <div class="dropdown-menu " *ngIf="this._agenteServicio.getIdentity()">
                  <small class="dropdown-item">{{this._agenteServicio.getIdentity().NOMBRE}}</small>
                  <a class="dropdown-item" routerLink="mi-cuenta/menu-mi-cuenta/vision-general"><span
                    class="fa fa-user "></span> &nbsp;Mi cuenta</a>

                  <a class="dropdown-item" routerLink="/administrador/administrador-tienda/mis-tiendas">
                    <span class="fas fa-store-alt mr-2"></span>
                    Mis tiendas
                  </a>
                  <a class="dropdown-item" (click)="this._agenteServicio.logout()">
                    <span class="fas fa-power-off mr-2"></span>
                    Cerrar Sesión
                  </a>

                </div>
              </li>

              <div class="text" *ngIf="!this._agenteServicio.getIdentity()">
                <span class="text-muted">Bienvenido!</span>
                <div>
                  <a [routerLink]="['/loguin']">Loguin</a> |
                  <a [routerLink]="['/registro']"> Registro</a>
                </div>
              </div>
            </div>

          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->

        <div class="col-lg-6 col-md-5 col-sm-5 col-12 mx-auto ">
          <div class="input-group search ">
            <div class="input-group-prepend">
              <button class="btn dropdown-toggle btnTodos" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{tipoBuscador}}</button>
              <div class="dropdown-menu">
                <a style="cursor:pointer;" (click)="cambiarBuscador('Todos')" class="dropdown-item py-0">Todos</a>
                <div role="separator" class="dropdown-divider"></div>
                <a style="cursor:pointer;" (click)="cambiarBuscador('Productos')" class="dropdown-item">Productos</a>
                <a style="cursor:pointer;" (click)="cambiarBuscador('Tiendas')" class="dropdown-item">Tiendas</a>
              </div>
            </div>

            <input (keyup.enter)="buscarPalabra(this.palabraBuscadora)" type="text" class="form-control "
                   (keyup)="buscarDatos(this.palabraBuscadora)" #buscarTexto
                   [(ngModel)]="this.palabraBuscadora" [ngbTypeahead]="buscarDatosTerm"/>

            <div class="input-group-append">
              <button class="btn btnTodos" type="submit" (click)="buscarPalabra(buscarTexto.value)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>


      </div> <!-- row.// -->
    </div>

  </section>

</header> <!-- section-header.// -->

<router-outlet></router-outlet>


</body>
