.clearfix {
  clear: both;
  float: none;
}

.colorNavbar {
  background-color: #2a4c75;
}

.nombre-producto {

}


.menu-categorias {
  display: flow;
}

.btn {
  font-size: small;
}


.nav-link {
  color: white;
  font-weight: normal;
  font-size: small;
}


.nav-link:hover {
  color: white;
  background-color: rgba(244, 246, 246, 0.2);
}

.alto-banner {
  height: auto;
}

.ancho-banner {
  width: 65%;
}

#sidebar {
  background: white;
  color: #2a4c75;
  transition: all 0.3s;


}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  overflow: auto;
  z-index: 100;
}

.scrollbar2 {
  height: 100%;
  overflow: auto;
}

.scrollbar2::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar2::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);
}

.scrollbar2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.categoriaCelular {
  display: none;
}

.categoriaNormal {
  display: block;
}


.ancho-cards{
  width: 13rem;
}

@media (max-width: 720px) {
  .alto-banner {
    height: 200px;
    width: 100%;
  }

  .ancho-banner2 {
    width: 100%;
  }

  .categoriaNormal {
    display: none;
  }

  .categoriaCelular {
    display: block;

  }

  #sidebar {
    margin-left: -250px;
  }

  .ancho-cards{
    width: 10rem

  }
}


footer p, li, a {
  font-size: small;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
}


#sidebar.active {
  margin-left: -250px;
}


body {
  height: 100vh !important;
  overflow: auto;
}

.contenidoMax100 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: justify
}

