.clearfix {
  clear: both;
  float: none;
}

.colorNavbar {
  background-color: #2a4c75;
}

.nav-link {
  color: white;
  font-weight: normal;
}

.nav-link:hover {
  color: #fca147;
  font-weight: bold;
}

.menu-categorias {
  display: flow;
}

.btn {
  font-size: small;
}

