
.body {
  /* background: linear-gradient(to right, #0062E6, #33AEFF);*/
  background-image: url('./../../../assets/estilos-loguin/images/fondo-loguin.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}

#imagenLogo {
  width: 70%;
  margin: 0px auto;
  display: block;
}

#divImagenLogo {
  width: 100%;
  margin: 0px auto;
  display: block;
  margin-bottom: 15px;
}

