.line-clamp-descripcion {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;
  text-align: justify;
}

.line-clamp-descri-tienda {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;
  text-align: justify;
}

.section-pagetop {
  padding: 12px 0;
}

.colorNavbar {
  background-color: #2a4c75;
}

.nav-link {
  color: white;
  font-weight: normal;
}

.nav-link:hover {
  color: #fca147;
  font-weight: bold;
}

.tituloTienda{
  font-size: small;
  padding-top: 10px;
  text-align: left;
}

/*TIENDAS*/
.item-logo {
  margin: 10px;
  text-align: center;
}

.box {
  padding: 15px;
}

#paginacion {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#paginacionTienda {
  display: table;
  margin-left: auto;
  margin-right: auto;
}








#sidebar {
  background: white;
  color: #2a4c75;
  transition: all 0.3s;


}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  overflow: auto;
  z-index: 100;
}

.scrollbar2 {
  height: 100%;
  overflow: auto;
}

.scrollbar2::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar2::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 35, 0.1);
}

.scrollbar2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
#sidebar.active {
  margin-left: -250px;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
}

body {
  height: 100vh !important;
  overflow: auto;
}


.categoriaCelular{
  display: none;
}

.categoriaNormal{
  display: block;
}
@media (max-width: 720px) {
  .line-nombre-producto {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
  }

  .categoriaNormal{
    display: none;
  }
  .categoriaCelular{
    display: block;

  }
  #sidebar {
    margin-left: -250px;
  }
}



