<section class="section-name bg  py-3 px-md-5  ">

  <article class="">
    <h6 class="text-center">ENCUENTRA LO QUE NECESITAS EN {{this.Tienda?.NOMBRE_COMERCIAL}}</h6>
    <div class="input-group   mx-auto  mt-3  ">

      <input type="text" class="form-control " style="border-radius:50px 0px 0px 50px;" #Busqueda="ngModel"
             name="busqueda" [(ngModel)]="this.busqueda" name="Busquedaasd" (input)="filtrar()">
      <div class="input-group-append ">
        <button class="btn btn-secondary  px-3 py-1" style="border-radius:0px 50px 50px 0px;" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div> <!-- buscador tienda-->
    <br>

    <div class="progress" *ngIf="this.loading">

      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
           aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </article>
  <p *ngIf="this.result.length==0">No se encontraron resultados.</p>
</section>
<div class="container">
  <section class="section-name padding-y-sm row ">
    <div class="col-md-3"
         *ngFor="let producto of this.vectorProductosObtenidos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">

      <div class="card  card-product-grid mx-2">
        <a routerLink="../../../../detalle-producto/{{producto.ID_OFERTA}}">
          <img [src]="getImagen(producto.IMAGEN)" width="100%" height="200rem">
        </a>
        <figcaption class="info-wrap">
          <a class="title" routerLink="../../../../detalle-producto/{{producto.ID_OFERTA}}" class="title"
             style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; text-align: justify"> {{producto.NOMBRE_PRODUCTO}}</a>


          <div class="rating-wrap">
            <ul class="rating-stars">
              <ngb-rating *ngIf="producto.PROMEDIO_CAL != null"
                          [(rate)]="producto.PROMEDIO_CAL">
                <ng-template let-fill="fill">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <ngb-rating *ngIf="producto.PROMEDIO_CAL == null" [(rate)]="currentRate">
                <ng-template let-fill="fill">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </ul>
            <span *ngIf="producto.TOTAL_COM != null"
                  class="label-rating text-muted">{{producto.TOTAL_COM}} comentarios</span>
            <span *ngIf="producto.TOTAL_COM == null" class="label-rating text-muted">0 Comentarios </span>
          </div> <!-- rating-wrap.// -->

          <div class="price-wrap" *ngIf="producto.DESCUENTO_AUTOMATICO == null">
            <span class="price h5"> {{producto.PRECIO_CON_IVA | currency }} </span>
          </div> <!-- info-price-detail // -->

          <div class="price-wrap" *ngIf="producto.DESCUENTO_AUTOMATICO != null">
            <span class="price h5"> {{producto.DESCUENTO_AUTOMATICO | currency }} </span>
            <del class="price-old"> {{producto.PRECIO_CON_IVA | currency }} </del>
          </div> <!-- info-price-detail // -->

        </figcaption>
      </div>

    </div>


    <div *ngIf="this.result.length > 0" class=" col-12 d-flex justify-content-center p-2">
      <ngb-pagination id="paginacion"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="this.result.length" [rotate]="true" [ellipses]="true"
                      [boundaryLinks]="false">
        <ng-template ngbPaginationPrevious>Anterior</ng-template>
        <ng-template ngbPaginationNext>Siguiente</ng-template>
      </ngb-pagination>
    </div>
  </section>

</div>
