.colorNavbar {
  background-color: #2a4c75;

}
input[type="text"]:focus
{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(0, 0, 0, 0.2);
 /* box-shadow: 0 0 0.0005px;*/
  outline: 0.1px none;
}

#paginacion {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.contenidoMax100 {
  width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: justify
}

.ancho-cards{
  width: 13rem;
}

@media (max-width: 720px) {

  .ancho-cards{
    width: 10rem

  }

  .contenidoMax100 {
    width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: justify
  }
}
