.alert {
  font-size: small;
  padding: 0;
  background-color: white;
  border: none;
  color: #bd2130;
  margin-left: 4px;
}

.p {
  font-size: x-small;
  font-weight: normal;
  padding-top: 3px;
  text-align: justify;
}

body {
  font-size: small;
  font-weight: normal;
}

::placeholder {
  font-size: small;
}

.editor_terminos {
  font-size: small;
}

.tamanioInputs {
  font-size: small;

}

.tamaniohorario {
  font-size: small;
}

/*Radio button*/
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

/*CheckBox*/
.checkbox-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

body {
  height: 100vh !important;
  overflow: auto;
}

.errorHorario{
  border: dashed  1px red;
}

button{
  font-size: small;
}
