<body>
<form #FormPaso1 id="formPaso1" class="datosregistro" validate-form>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <h4 class="col-11">General</h4>
      <hr class="col-11">
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-md-11">
        <div id="detalle-tienda">
          <h6>Detalles de la tienda</h6>
          <p></p>
          <div class="card card-body mt-3">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>* Razón Social</label>
                <input #Razon_Social="ngModel" style="text-transform: uppercase;" [(ngModel)]="this.Tienda.Razon_Social"
                       [ngClass]="{'is-invalid': Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched),
                 'is-valid': Razon_Social.valid && (Razon_Social.dirty || Razon_Social.touched)}"
                       [pattern]='this.LetrasNumerosPattern'
                       class="tamanioInputs form-control" name="razon_Social" placeholder=""
                       required type="text">
                <div *ngIf="Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched)">
                  <div *ngIf="Razon_Social.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                  <div *ngIf="Razon_Social.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                      numeros.</p>
                  </div>
                </div>
              </div> <!-- form-group end.// -->

              <div class="form-group col-md-6">
                <label>* Nombre comercial de su negocio</label>
                <input #Nombre_Comercial="ngModel" style="text-transform: uppercase;"
                       [(ngModel)]="this.Tienda.Nombre_Comercial" [ngClass]="{'is-invalid': Nombre_Comercial.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched),
                 'is-valid': Nombre_Comercial.valid && (Nombre_Comercial.dirty || Nombre_Comercial.touched)}"
                       [pattern]='this.LetrasNumerosPattern'
                       class="tamanioInputs form-control" name="nombre_Comercial" placeholder=""
                       required type="text">
                <div *ngIf="Nombre_Comercial.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched)">
                  <div *ngIf="Nombre_Comercial.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                  </div>
                  <div *ngIf="Nombre_Comercial.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                      numeros.</p>
                  </div>
                </div>
              </div> <!-- form-group end.// -->
            </div>

            <div class="form-group">
              <label>* Descripción del negocio</label>
              <textarea rows="3" style="font-size: small; resize: none;" #Descripcion_Tienda="ngModel"
                        [(ngModel)]="this.Tienda.Descripcion_Tienda"
                        [ngClass]="{'is-invalid': Descripcion_Tienda.invalid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched),
                 'is-valid': Descripcion_Tienda.valid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched)}"
                        class="tamanioInputs form-control" name="descripcion_Tienda" placeholder=""
                        required type="text" aria-label="With textarea"></textarea>
              <div *ngIf="Descripcion_Tienda.invalid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched)">
                <div *ngIf="Descripcion_Tienda.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                </div>
              </div>
              <p class="p">Escribe un breve resumen sobre tu negocio. Una buena descripción comunica a tus clientes acerca de lo
                que ofreces. </p>
            </div> <!-- form-group end.// -->

          </div>
        </div>
        <hr>
        <div id="contacto">
          <h6>Contacto</h6>
          <p></p>
          <div class="card card-body mt-3">

            <div class="form-group col-md-6 px-0">
              <label>* Correo electrónico</label>
              <input #Correo_Tienda="ngModel" style="text-transform: lowercase;"
                     [(ngModel)]="this.Tienda.Correo_Tienda" [ngClass]="{'is-invalid': Correo_Tienda.invalid && (Correo_Tienda.dirty || Correo_Tienda.touched),
                 'is-valid': Correo_Tienda.valid && (Correo_Tienda.dirty || Correo_Tienda.touched)}"
                     [pattern]='this.emailPattern'
                     class="tamanioInputs form-control" name="correo_tienda" placeholder="negocio@comdero.com"
                     required type="text">
              <div *ngIf="Correo_Tienda.invalid && (Correo_Tienda.dirty || Correo_Tienda.touched)">
                <div *ngIf="Correo_Tienda.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
                </div>
                <div *ngIf="Correo_Tienda.errors.pattern">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                    numeros.</p>
                </div>
              </div>
            </div> <!-- form-group end.// -->

            <div class="form-row">
              <div class="form-group col-sm-6">
                <label>Sitio Web</label>
                <input #Link_Pagina="ngModel" style="text-transform: lowercase;" [(ngModel)]="this.Tienda.Link_Pagina"
                       [ngClass]="{'is-invalid': Link_Pagina.invalid && (Link_Pagina.dirty || Link_Pagina.touched),
          'is-valid': Link_Pagina.valid && (Link_Pagina.dirty || Link_Pagina.touched)}" [pattern]='this.urlPattern'
                       class="tamanioInputs form-control"
                       name="link_Pagina" placeholder="www.comdero.com" type="text">

                <div *ngIf="Link_Pagina.invalid && (Link_Pagina.dirty || Link_Pagina.touched)">
                  <div *ngIf="Link_Pagina.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Debe cumplir con el formato</p>
                  </div>
                </div>
              </div> <!-- form-group end.// -->

              <div class="col-sm-6 form-group">
                <label>Link Facebook</label>
                <input #Link_Facebook="ngModel" style="text-transform: lowercase;"
                       [(ngModel)]="this.Tienda.Link_Facebook" [ngClass]="{
          'is-invalid': Link_Facebook.invalid && (Link_Facebook.dirty || Link_Facebook.touched),
          'is-valid': Link_Facebook.valid && (Link_Facebook.dirty || Link_Facebook.touched)}"
                       [pattern]='this.urlPattern' class="tamanioInputs form-control"
                       name="link_Facebook" placeholder="www.facebook.com/comdero" type="text">

                <div *ngIf="Link_Facebook.invalid && (Link_Facebook.dirty || Link_Facebook.touched)">
                  <div *ngIf="Link_Facebook.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Debe cumplir con el formato</p>
                  </div>
                </div>
              </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->

          </div>
        </div>

        <hr>
        <div id="horario-atencion">
          <h6>Horario de atención</h6>
          <p></p>
          <div class="card card-body mt-3">


            <div class="form-row">
              <div class="form-group col-sm-3">
                <label>Horario</label>
              </div>

              <div class="form-group col-sm-9">
                <div class="radio-item">
                  <input type="radio" name="horario" id="concreto" (change)="horarioRadio('Concreto')">
                  <label for="concreto">&nbsp;&nbsp;Abierto en horas concretas</label>
                </div>
                <br>

                <div class="radio-item">
                  <input type="radio" name="horario" id="siempre" (change)="horarioRadio('Siempre')">
                  <label for="siempre">&nbsp;&nbsp;Siempre abierto</label>
                </div>
                <br>

                <div class="radio-item">
                  <input type="radio" name="horario" id="noDisponible" (change)="horarioRadio('NoDisponible')">
                  <label for="noDisponible">&nbsp;&nbsp; Horario no disponible</label>
                </div>
                <br>

                <div *ngIf="banderaHoraConcreta" class="pt-3">

                  <!--INICIO -- LUNES-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Lunes" (click)="horarioCheckLunes($event)">
                        <label for="Lunes">&nbsp;&nbsp;Lunes</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableLunes" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1LunesI"
                             #J1LunesI="ngModel" [(ngModel)]="this.Dias_Atencion[0].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableLunes" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1LunesF"
                             #J1LunesF="ngModel" [(ngModel)]="this.Dias_Atencion[0].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasLunes" class="form-group col-1 my-0">
                      <button (click)="activarJ2(0)" [disabled]="banderaDisableLunes"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaLunesJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2LunesI"
                             #J2LunesI="ngModel" [(ngModel)]="this.Dias_Atencion[0].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2LunesF"
                             #J2LunesF="ngModel" [(ngModel)]="this.Dias_Atencion[0].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(0)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- LUNES-->

                  <!--INICIO -- MARTES-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Martes" (click)="horarioCheckMartes($event)">
                        <label for="Martes">&nbsp;&nbsp;Martes</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableMartes" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1MartesI"
                             #J1MartesI="ngModel" [(ngModel)]="this.Dias_Atencion[1].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableMartes" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1MartesF"
                             #J1MartesF="ngModel" [(ngModel)]="this.Dias_Atencion[1].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasMartes" class="form-group col-1 my-0">
                      <button (click)="activarJ2(1)" [disabled]="banderaDisableMartes"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaMartesJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2MartesI"
                             #J2MartesI="ngModel" [(ngModel)]="this.Dias_Atencion[1].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2MartesF"
                             #J2MartesF="ngModel" [(ngModel)]="this.Dias_Atencion[1].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(1)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- MARTES-->

                  <!--INICIO -- MIERCOLES-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Miercoles" (click)="horarioCheckMiercoles($event)">
                        <label for="Miercoles">&nbsp;&nbsp;Miercoles</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableMiercoles" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1MiercolesI"
                             #J1MiercolesI="ngModel" [(ngModel)]="this.Dias_Atencion[2].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableMiercoles" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1MiercolesF"
                             #J1MiercolesF="ngModel" [(ngModel)]="this.Dias_Atencion[2].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasMiercoles" class="form-group col-1 my-0">
                      <button (click)="activarJ2(2)" [disabled]="banderaDisableMiercoles"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaMiercolesJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2MiercolesI"
                             #J2MiercolesI="ngModel" [(ngModel)]="this.Dias_Atencion[2].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2MiercolesF"
                             #J2MiercolesF="ngModel" [(ngModel)]="this.Dias_Atencion[2].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(2)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- MIERCOLES-->

                  <!--INICIO -- JUEVES-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Jueves" (click)="horarioCheckJueves($event)">
                        <label for="Jueves">&nbsp;&nbsp;Jueves</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableJueves" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1JuevesI"
                             #J1JuevesI="ngModel" [(ngModel)]="this.Dias_Atencion[3].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableJueves" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1JuevesF"
                             #J1JuevesF="ngModel" [(ngModel)]="this.Dias_Atencion[3].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasJueves" class="form-group col-1 my-0">
                      <button (click)="activarJ2(3)" [disabled]="banderaDisableJueves"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaJuevesJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2JuevesI"
                             #J2JuevesI="ngModel" [(ngModel)]="this.Dias_Atencion[3].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2JuevesF"
                             #J2JuevesF="ngModel" [(ngModel)]="this.Dias_Atencion[3].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(3)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- JUEVES-->

                  <!--INICIO -- VIERNES-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Viernes" (click)="horarioCheckViernes($event)">
                        <label for="Viernes">&nbsp;&nbsp;Viernes</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableViernes" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1ViernesI"
                             #J1ViernesI="ngModel" [(ngModel)]="this.Dias_Atencion[4].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableViernes" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1ViernesF"
                             #J1ViernesF="ngModel" [(ngModel)]="this.Dias_Atencion[4].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasViernes" class="form-group col-1 my-0">
                      <button (click)="activarJ2(4)" [disabled]="banderaDisableViernes"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaViernesJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2ViernesI"
                             #J2ViernesI="ngModel" [(ngModel)]="this.Dias_Atencion[4].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2ViernesF"
                             #J2ViernesF="ngModel" [(ngModel)]="this.Dias_Atencion[4].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(4)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- VIERNES-->

                  <!--INICIO -- SABADO-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Sabado" (click)="horarioCheckSabado($event)">
                        <label for="Sabado">&nbsp;&nbsp;Sabado</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableSabado" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1SabadoI"
                             #J1SabadoI="ngModel" [(ngModel)]="this.Dias_Atencion[5].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableSabado" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1SabadoF"
                             #J1SabadoF="ngModel" [(ngModel)]="this.Dias_Atencion[5].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasSabado" class="form-group col-1 my-0">
                      <button (click)="activarJ2(5)" [disabled]="banderaDisableSabado"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaSabadoJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2SabadoI"
                             #J2SabadoI="ngModel" [(ngModel)]="this.Dias_Atencion[5].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2SabadoF"
                             #J2SabadoF="ngModel" [(ngModel)]="this.Dias_Atencion[5].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(5)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- SABADO-->

                  <!--INICIO -- DOMINGO-->
                  <div class="form-row mb-0">
                    <div class="form-group col-4">
                      <div class="checkbox-item">
                        <input type="checkbox" id="Domingo" (click)="horarioCheckDomingo($event)">
                        <label for="Domingo">&nbsp;&nbsp;Domingo</label>
                      </div>
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableDomingo" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1DomingoI"
                             #J1DomingoI="ngModel" [(ngModel)]="this.Dias_Atencion[6].Inicio_Jornada1">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input [disabled]="banderaDisableDomingo" class="px-1 tamaniohorario form-control text-center"
                             type="time" name="j1DomingoF"
                             #J1DomingoF="ngModel" [(ngModel)]="this.Dias_Atencion[6].Fin_Jornada1">
                    </div><!--Form-group end-->

                    <div *ngIf="btnMasDomingo" class="form-group col-1 my-0">
                      <button (click)="activarJ2(6)" [disabled]="banderaDisableDomingo"
                              class="tamaniohorario p-0 form-control">
                        <span class="fa fa-plus text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->

                  <div *ngIf="banderaActivaDomingoJ2" class="form-row">
                    <div class="form-group col-4">
                    </div><!--Form-group end-->
                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2DomingoI"
                             #J2DomingoI="ngModel" [(ngModel)]="this.Dias_Atencion[6].Inicio_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1">
                      <label class="center-x">_</label>
                    </div><!--Form-group end-->

                    <div class="form-group col-3">
                      <input class="px-1 tamaniohorario form-control text-center" type="time" name="j2DomingoF"
                             #J2DomingoF="ngModel" [(ngModel)]="this.Dias_Atencion[6].Fin_Jornada2">
                    </div><!--Form-group end-->

                    <div class="form-group col-1 my-0">
                      <button (click)="cerrarJ2(6)" class="tamaniohorario p-0 form-control">
                        <span class="fa fa-times text-center"></span>
                      </button>
                    </div>
                  </div><!--Form-row end 1-->
                  <!--FIN -- DOMINGO-->

                </div>

                <p class="p">Actualiza tu horario comercial para que se muestre a los cliente cuándo esté abierto el negocio.</p>
              </div>

            </div>


          </div>
        </div>

        <hr>
        <div id="terminos-condiciones">
          <h6>Más</h6>
          <div class="card card-body mt-3">
            <div class="form-group">
              <label>Términos y Condiciones</label>
              <app-ngx-editor #Terminos_Condiciones="ngModel" [(ngModel)]="this.Tienda.Terminos_Condiciones"
                              [(ngModel)]="this.htmlcomponent" [config]="editorConfig"
                              [placeholder]="'Inserte el texto aquí...'"
                              [spellcheck]="true" class="editor_terminos"
                              name="terminos_Condiciones"></app-ngx-editor>
            </div> <!-- form-group end.// -->
          </div>
        </div>

      </div>
    </div>

  </div>
</form>
</body>

