<body class="bg" id="body">
<div class=" container-fluid mt-5">
  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11">Listado de clientes</h4>
    <hr class="col-11">
  </div>
</div>

  <div class="form-row mb-2 mx-auto  container-fluid px-md-5 px-3  ">
    <div class=" input-group col-md-6 mr-md-auto px-0 mb-2">
      <input class="form-control" style="font-size: small" type="text" #Busquedaasd="ngModel"
             [(ngModel)]="this.busqueda" name="Busquedaasd" (input)="filtrar()"/>
      <div class="input-group-append">
        <span class="input-group-text  small"><li class="fas fa-search"></li></span>
      </div>

    </div>
    <div class="col-md-auto px-0">
      <button class="btn btn-primary dropdown-toggle w-100 " style="font-size: small" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exportar A
      </button>
      <div class="dropdown-menu  dropdown-menu-right " style="width: 2px" aria-labelledby="dropdownExportacion">
        <a class="dropdown-item text-success btn" (click)="exportexcel()" ><i class="fa fa-file-excel fa-1x "></i> &nbsp;Excel</a>

      </div>
    </div>
  </div>
  <div *ngIf="loading" class="px-5">
    <label>Buscando  . . .</label>
    &nbsp;  &nbsp;  &nbsp;
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
  </div>


  <div class="container-fluid mx-auto px-md-5 ">

    <div *ngIf="this.result.length==0" class="ml-1"><p class="text-left">No se encontraron resultados.</p></div>
  <table id="tablaUsuarios" class="table table-bordered table-responsive-sm bg-white small w-100 text-center" *ngIf="this.result.length>0">
    <thead>
    <tr>

      <th scope="col">NOMBRE</th>
      <th scope="col">IDENTIFICACIÓN</th>
      <th scope="col">CORREO</th>
      <th scope="col">TELEFONO</th>


    </tr>
    </thead>
    <tbody>
    <tr
        *ngFor="let cliente of   this.result  |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
      <td>
        {{cliente.NOMBRE_FACTURA}}
      </td>
      <td>
        {{cliente.IDENTIFICACION_FACTURA  }}
      </td>
      <td>
        {{cliente.CORREO_FACTURA}}
      </td>
      <td>
        {{cliente.TELEFONO_FACTURA}}
      </td>

    </tr>
    </tbody>
  </table>
    <div *ngIf="this.result.length > 0" class="d-flex justify-content-between p-2">
      <ngb-pagination id="paginacion"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="this.result.length" [rotate]="true" [ellipses]="true" [boundaryLinks]="false">
        <ng-template ngbPaginationPrevious>Anterior</ng-template>
        <ng-template ngbPaginationNext>Siguiente</ng-template>
      </ngb-pagination>
    </div>
  </div>

</body>
