<body id="body" class="bg">
<div class="mt-5 container-fluid">
  <div class="row  justify-content-center" id="top">
    <h4 class=" col-11">Estadisticas</h4>
    <hr class="col-11">
  </div>
  <div class="container-fluid  justify-content-center mt-3 ">
    <div class="row mx-5">

      <div class="col-lg-3">
        <div class="card borde shadow mover">
          <div class="card-body "><a class="bg-danger float-left mt-100  borde ">
            <i class="fa fa-tags fa-2x  p-3"></i></a>
            <p class="text-right text-danger font-weight-light mb-2 font-weight-bold" style="font-size: 1rem">Ventas</p>
            <h3 class=" text-right  font-weight-normal">{{ventas}}</h3>
          </div>
          <p class="pl-3 pb-2 text-muted link" style="font-size: small"> <span class="fa fa-warning text-danger "></span> &nbsp; Obtener más información</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card borde shadow mover">
          <div class="card-body "><a class="bg-warning float-left mt-100  borde"><i
            class="fa fa-star fa-2x  p-3"></i></a>
            <p class="text-right text-warning font-weight-light mb-2 font-weight-bold " style="font-size: 1rem">Calificación</p>
            <h3 class=" text-right  font-weight-normal">{{calificacion| number}}</h3>
          </div>
          <p class="pl-3 pb-2 text-muted " style="font-size: small"> <span class="fa fa-info-circle text-warning "></span> &nbsp; Promedio de calificacion</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card borde shadow mover">
          <div class="card-body "><a class="bg-primary float-left mt-100  borde "><i
            class="fa fa-box-open fa-2x  p-3"></i></a>
            <p class="text-right text-primary font-weight-light mb-2 font-weight-bold" style="font-size: 1rem">Productos</p>
            <h3 class=" text-right  font-weight-normal">{{productos}}</h3>
          </div>
          <p class="pl-3 pb-2 text-muted link " style="font-size: small"> <span class="fa fa-warning text-primary "></span> &nbsp; Obtener más información</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card borde shadow mover">
          <div class="card-body "><a class="bg-info float-left mt-100  borde "><i
            class="fa fa-eye fa-2x  p-3"></i></a>
            <p class="text-right text-info font-weight-light mb-2 " style="font-size: 1rem">Visitas</p>
            <h3 class=" text-right  font-weight-normal">23$</h3>
          </div>
          <p class="pl-3 pb-2 text-muted " style="font-size: small"> <span class="fa fa-info-circle text-info "></span> &nbsp; Visitas a tu tienda</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container-fluid mx-auto ">
    <div class="row mx-5 ">

      <div class="col-md-4">
        <div class="chart card card-body shadow">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      <div class="col-md-4">
        <div class="chart card card-body shadow">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      <div class="col-md-4">
        <div class="chart card card-body shadow">
          <canvas baseChart

                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>

    </div>
    <br><br><br>
    <div class="card card-body mx-5 ">

      <div class="row">
        <div class="col-md-6">
          <div style="display: block" >
            <canvas baseChart
                    [colors]="barChartColors"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div style="display: block">
            <canvas baseChart [colors]="curveChartColors" [datasets]="curveChartData" [labels]="curveChartLabels"
                    [options]="curveChartOptions"
                    [legend]="curveChartLegend" [chartType]="curveChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
</body>
