<body class="h-100 bg">
<p class="text-center text-md-left pb-0 ">
  <img src="../../../assets/images/logoValid4.png" class="p-3 p-md-5 comdero"></p>
<div class="container-fluid alto mt-md-5">

  <div class="row  justify-content-between h-auto">
    <div class="col-md-7 align-self-center text-center">


      <h1 class="display-1 ">ERROR 500</h1>
      <p class="letras px-md-5 container">Estamos experimentando problemas con el servidor, por favor contáctate con nosotros y ayudanos a resolver este error para brindarte un mejor servicio </p>

      <div class="container  mt-5 boton-inicio px-0 " >
        <div class="wrap-login100-form-btn ">
          <div class="login100-form-bgbtn "></div>
          <a href="/principales/menu/principal"> <button   class="login100-form-btn " >
          Regresar al Inicio
          </button></a>
        </div>
      </div>
    </div>
    <div class="col-md-5 align-self-md-center   ">
      <div class="container">
        <p class=" iconos-pagos ">
          <img class="mx-auto  pt-md-4  mensaje-mascota " src="../../../assets/images/mascota-condero-pensativo.png"
               width="100%">
        </p>
      </div>
    </div>
  </div>

</div>
</body>
