<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=604800" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="mx-auto  container-login100" style="max-width:650px;margin-top: 15px">
  <article class=" wrap-register100 card-body">
    <div class="rubberBand" id="divImagenLogo">
      <img id="imagenLogo" src="./../assets/images/logoValid2.png">
    </div>
    <header class="mb-4"><h4 class="card-title">Registrate</h4></header>
    <form>

      <div class="form-group">
        <label class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" checked="" type="radio" name="gender" value="option1" (change)="selectAdminsitrador()">
          <span class="custom-control-label"> Persona Natural  </span>
        </label>
        <label class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" name="gender" value="option2" (change)="selectAdminsitrador()">
          <span class="custom-control-label"> Empresa </span>
        </label>
      </div> <!-- form-group end.// -->

      <div  *ngIf="bandetTipo"  class="form-row">
        <div class="col form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <div  *ngIf="!bandetTipo" class="form-group">
        <label>Razon Social</label>
        <input type="text" class="form-control" placeholder="">
        <!--<small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="col form-group">
          <label *ngIf="bandetTipo">Cédula</label>
          <label *ngIf="!bandetTipo" >RUC</label>
          <input type="text" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Teléfono Celular</label>
          <input type="text" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="">
<!--        <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div> <!-- form-group end.// -->
      <br>
      <hr>

      <h6>Dirección</h6>
      <br>
      <div class=" form-group">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Provincia</label>
            <select id="inputState" class="form-control">
              <option> Choose...</option>
              <option>Uzbekistan</option>
              <option>Russia</option>
              <option selected="">United States</option>
              <option>India</option>
              <option>Afganistan</option>
            </select>
          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label>Ciudad</label>
            <input type="text" class="form-control">
          </div> <!-- form-group end.// -->

        </div> <!-- form-row.// -->

        <label>Calle Principal</label>
        <input type="text" class="form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="col-8 form-group">
          <label>Calle Secundaria</label>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class=" col-4 form-group">
          <label>Codigo Postal</label>
          <input type="text" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->


      </div>
      <br>
      <hr>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Contraseña</label>
          <input class="form-control" type="password">
        </div> <!-- form-group end.// -->
        <div class="form-group col-md-6">
          <label>Repetir contraseña</label>
          <input class="form-control" type="password">
        </div> <!-- form-group end.// -->
      </div>
<br>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn">
           Registrarse
          </button>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Estoy de acuerdo con los<a href="#">terminos y condiciones</a>  </div> </label>
      </div> <!-- form-group end.// -->
    </form>
  </article><!-- card-body.// -->
</div> <!-- card .// -->
<p class="text-center mt-4">Tienes una cuenta? <a href="">Inicia sesión</a></p>
<br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->



<!-- ========================= SECTION CONTENT END// ========================= -->


</body>
</html>
