#imagenLogo {
  width: 140px;
  margin: 0 auto;
  display: block;
}

#divImagenLogo {
  width: 50%;
  margin: 0px auto;
  display: block;
  margin-bottom: 15px;
}


.wrap-register100 {

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}


.login100-form-title-registro {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  line-height: 1.2;

}

.lineaSeparacion {
  margin-top: 20px;
  margin-bottom: 10px;

}

.lineaSeparacion2 {
  margin-top: 8px;
  margin-bottom: 8px;

}

.container-registro {
  max-width: 450px;
  position: relative;
  margin-top: 15px;
  clear: top;


}

@media (max-width: 1364px) {
  .container-registro {
    max-width: 380px;
    margin-top: 15px;
    position: relative;
  }


}

/* estilos para herrores  */
.tamanioCampos {
  font-size: small;
  font-weight: bolder;
}

.tamanioInputs {
  font-size: small;
}

.alert {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #bd2130;
  margin-left: 4px;

}

.alert2 {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #1da1f2;
  margin-left: 4px;

}

.alert3 {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #1a56e9;


}

.errorSelect {
  border: 1px solid red;
}

.satisfactorioSelect {
  border: 1px solid limegreen;
}

.toastValidacion {
  padding: 1%;
  margin: 0;
  border: red 2px solid;
  margin-left: 75%;
  position: absolute;
  z-index: 2;
  text-align: center;
  background-color: snow;
}

.fondoAnimacionCarga {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

}


#imagenCarga {
  width: 60%;
  margin-left: 18px;
}

@media all and (max-width: 500px) {
  .toastValidacion {
    border: red 1px solid;
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    margin: 0;
  }

}

.body-con-animacion{
  overflow: hidden;

}

