<body class="bg">
<div class="container mt-5">

  <div class="row justify-content-center">
    <h4 class="col-11">Métodos de envío</h4>
    <hr class="col-11">
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8" id="panelUno">
      <form #FormMetodoEnvio id="formMetodoEnvio" name="formMetodoEnvio" class="metodo-envio" validate-form>

        <div class="form-group">
          <div class="alert alert-primary col-12" role="alert">
            <a><span class="fa fa-exclamation fa-1x"></span></a>
            Establezca los métodos de envío que desea implementar en su tienda, es importante para los pedidos de los
            clientes.
          </div>
        </div>
        <hr>

        <!-- INICIO DE RETIRO EN EL LOCAL.// -->
        <div id="retiro-local">
          <div class="form-row">
            <div class="col-10">
              <h6 class="font-weight-bold">Retiro local</h6>
              <p class="p">Ofrece a los clientes la opción de retirar su pedido en tu negocio.</p>
            </div>

            <div class="col-2 text-right">
              <label class="switch mt-2">
                <input id="slideRetiroLocal" [disabled]="!banderaEdicionDeshabilitada" type="checkbox"
                       (click)="clickRetiroLocal($event)">
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="card card-body mt-3">
            <div class="form-group">
              <label>Hora estimada de retiro</label>
              <select [disabled]="!banderaRetiroLocal || !banderaEdicionDeshabilitada" #HoraEstimada="ngModel"
                      [(ngModel)]="this.objetoRetiroLocal.Hora_Estimada_Retiro"
                      [ngClass]="{'is-invalid': HoraEstimada.invalid && banderaEdicionDeshabilitada}"
                      class="tamanioInputs browser-default form-control" data-size="4"
                      name="masOpcionesHoraRetiro" required>
                <option value="1hora" [selected]="objetoRetiroLocal.Hora_Estimada_Retiro == '1hora'">Normalmente está
                  listo en 1 hora
                </option>
                <option value="4horas" [selected]="objetoRetiroLocal.Hora_Estimada_Retiro == '4horas'">Normalmente está
                  listo en 4 horas
                </option>
                <option value="24horas" [selected]="objetoRetiroLocal.Hora_Estimada_Retiro == '24horas'">Normalmente
                  está listo en 24 horas
                </option>
                <option value="4dias" [selected]="objetoRetiroLocal.Hora_Estimada_Retiro == '4dias'">Normalmente está
                  listo en 2 a 4 días
                </option>
                <option value="5dias" [selected]="objetoRetiroLocal.Hora_Estimada_Retiro == '5dias'">Normalmente está
                  listo en 5 o más días
                </option>
              </select>
              <div *ngIf="HoraEstimada.errors?.required && banderaEdicionDeshabilitada">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div> <!--form-group end.-->

            <div class="form-group">
              <label>Instrucciones de retiro</label>
              <textarea [disabled]="!this.banderaRetiroLocal || !banderaEdicionDeshabilitada" rows="3"
                        style="font-size: small; resize: none;"
                        #Instruccion_Retiro="ngModel" [(ngModel)]="this.objetoRetiroLocal.Instruccion_Retiro"
                        [ngClass]="{'is-invalid': Instruccion_Retiro.invalid && banderaEdicionDeshabilitada}"
                        class="tamanioInputs form-control" name="instruccion_retiro"
                        placeholder="Ejemplo: Debe traer su identificación para retirar su pedido."
                        required type="text" aria-label="With textarea" maxlength="255"></textarea>
              <div *ngIf="Instruccion_Retiro.errors?.required && banderaEdicionDeshabilitada">
                <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
              <p class="p">Si estás ofreciendo retiro en la tienda, puedes indicar a los clientes qué
                hacer cuando lleguen a tu tienda. (Máximo 255 caractéres)</p>
            </div> <!-- form-group end.// -->
          </div>
        </div>
        <hr>

        <!-- INICIO DE ENVIO A DOMICILIO.// -->
        <div id="envio-domicilio">
          <div class="form-row">
            <div class="col-10">
              <h6 class="font-weight-bold">Envío a domicilio</h6>
              <p class="p">Ofrece a tus cliente la opción de enviar sus pedidos a domicilio dentro y fuera de la
                ciudad. Las tarifas que configures se agregarán al final de los pedidos. </p>
            </div>

            <div class="col-2 text-right">
              <label class="switch mt-2">
                <input id="slideEnvioDomicilio" [disabled]="!banderaEdicionDeshabilitada" type="checkbox"
                       (click)="clickEnvioDomicilio($event)">
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="card card-body p-0 mt-3 mb-4">

            <div class="p-3">
              <div class="form-group">
                <label class="tituloDomicilio mb-0">Local</label>
                <p class="p">Él envió a domicilio local es para los clientes que se encuentran dentro de la zona de tu
                  negocio.</p>
              </div>

              <div class="form-group" *ngIf="this.vectorTarifasLocal.length == 0">
                <div class="alert alert-warning col-12" role="alert">
                  <a><span class="fa fa-exclamation-circle fa-1x"></span></a>
                  &nbsp; &nbsp;No existen tarifas, sus clientes no podrán completar el pago en esta zona.
                </div>
              </div>

              <div class="form-group">
                <table class="table table-hover" *ngIf="this.vectorTarifasLocal.length > 0">
                  <thead>
                  <tr>
                    <th scope="col" class="tituloTarifas">Nº</th>
                    <th scope="col" class="tituloTarifas">Condición</th>
                    <th scope="col" class="tituloTarifas">Precio</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="columnaTarifa" *ngFor="let item of this.vectorTarifasLocal; index as i">
                    <th scope="row">{{i + 1}}</th>

                    <td *ngIf="this.vectorTarifasLocal[i].Tipo_Medida == 'Peso'">{{this.vectorTarifasLocal[i].Minimo}}
                      kg
                      - {{this.vectorTarifasLocal[i].Maximo}} kg
                    </td>
                    <td
                      *ngIf="this.vectorTarifasLocal[i].Tipo_Medida == 'Precio'">{{this.vectorTarifasLocal[i].Minimo | currency}}
                      -
                      {{this.vectorTarifasLocal[i].Maximo | currency}}</td>

                    <td *ngIf="this.vectorTarifasLocal[i].Precio == 0"> Gratis</td>
                    <td
                      *ngIf="this.vectorTarifasLocal[i].Precio != 0">{{this.vectorTarifasLocal[i].Precio | currency }}</td>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button [disabled]="!this.banderaEnvioDomicilio || !banderaEdicionDeshabilitada"
                                id="btnTarifasLocal"
                                ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></button>
                        <div ngbDropdownMenu aria-labelledby="btnTarifasLocal">
                          <button ngbDropdownItem class="btnOpcTarifaLocal"
                                  (click)="editarAbrirTarifaLocal(i,modalLocal)">
                            Editar tarifa
                          </button>
                          <button ngbDropdownItem style="color:red" class="btnOpcTarifaLocal"
                                  (click)="eliminarTarifaLocal(i)">Eliminar
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <!-- Boton Modal -->
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="abrirModalLocal(modalLocal)"
                        [disabled]="!this.banderaEnvioDomicilio || !banderaEdicionDeshabilitada">Agregar tarifa
                </button>

                <!-- Modal -->
                <ng-template #modalLocal let-modal>
                  <form #FormModalLocal id="formModalLocal" class="login100-form validate-form">
                    <div class="modal-header">
                      <h6 class="modal-title">Agregar tarifa</h6>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">X</span>
                      </button>
                    </div>

                    <div class="modal-body px-0">

                      <div class="radio-item mx-3">
                        <input type="radio" name="opcTarifa" id="opcPeso" (change)="opcTarifaLocal('peso', $event)"
                               [checked]="banderaTarifaLocalPeso">
                        <label for="opcPeso">&nbsp;&nbsp;Según el peso del pedido</label>
                      </div>
                      <br>
                      <div class="radio-item mx-3">
                        <input type="radio" name="opcTarifa" id="opcPrecio" (change)="opcTarifaLocal('precio', $event)"
                               [checked]="banderaTarifaLocalPrecio">
                        <label for="opcPrecio">&nbsp;&nbsp;Según el precio del pedido</label>
                      </div>

                      <hr mt-0 *ngIf="banderaTarifaLocalPeso || banderaTarifaLocalPrecio ">

                      <div class="form-group col-12" *ngIf="banderaTarifaLocalPeso || banderaTarifaLocalPrecio ">
                        <label>* Precio</label>
                        <div class="input-group">
                          <input #PrecioTarifaLocal="ngModel" [(ngModel)]="this.objetoAuxiliarLocal.Precio"
                                 [ngClass]="{'is-invalid': PrecioTarifaLocal.invalid}"
                                 class="tamanioInputs form-control"
                                 min="0" step="0.01" oninput="validity.valid || (value='');"
                                 name="precioTarifaLocal" id="precioTarifaLocal" type="number"
                                 placeholder="0,00" (focusout)="transformar($event)" required>
                          <div class="input-group-append" *ngIf="this.objetoAuxiliarLocal.Precio != 0">
                            <span class="input-group-text tamanioInputs">US$</span>
                          </div>
                          <div class="input-group-append" *ngIf="this.objetoAuxiliarLocal.Precio == 0">
                            <span class="input-group-text tamanioInputs">Gratis</span>
                          </div>
                        </div>
                        <div *ngIf="PrecioTarifaLocal.errors?.required">
                          <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                            requerido.</p>
                        </div>
                      </div> <!-- form-group end.// -->

                      <div class="form-group mx-3" *ngIf="banderaTarifaLocalPeso">

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>* Peso Minimo</label>
                            <div class="input-group">
                              <input #MinPesoLocal="ngModel" [(ngModel)]="this.objetoAuxiliarLocal.Minimo"
                                     [ngClass]="{'is-invalid': MinPesoLocal.invalid}"
                                     class="tamanioInputs form-control" name="minPesoLocal"
                                     placeholder="0" min="0" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     type="number" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">kg</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MinPesoLocal.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->

                          <div class="form-group col-md-6">
                            <label>* Peso Máximo</label>
                            <div class="input-group">
                              <input #MaxPesoLocal="ngModel" [(ngModel)]="this.objetoAuxiliarLocal.Maximo"
                                     [ngClass]="{'is-invalid': MaxPesoLocal.invalid}"
                                     class="tamanioInputs form-control" name="maxPesoLocal"
                                     placeholder="999,99" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     type="number" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">kg</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MaxPesoLocal.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->
                        </div>
                        <div *ngIf="(this.objetoAuxiliarLocal.Minimo > this.objetoAuxiliarLocal.Maximo)">
                          <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; El peso mínimo
                            de pedido no puede ser superior al peso máximo de pedido.</p>
                        </div>
                      </div>

                      <div class="form-group mx-3" *ngIf="banderaTarifaLocalPrecio">
                        <div class="form-row">

                          <div class="form-group col-md-6">
                            <label>* Precio Minimo</label>
                            <div class="input-group">
                              <input #MinPrecioLocal="ngModel" [(ngModel)]="this.objetoAuxiliarLocal.Minimo"
                                     [ngClass]="{'is-invalid': MinPrecioLocal.invalid}"
                                     class="tamanioInputs form-control"
                                     min="0" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     name="minPrecioLocal" id="minPrecioLocal" type="number"
                                     placeholder="0,00" (focusout)="transformar($event)" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">US$</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MinPrecioLocal.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->

                          <div class="form-group col-md-6">
                            <label>* Precio Máximo</label>
                            <div class="input-group">
                              <input #MaxPrecioLocal="ngModel" [(ngModel)]="this.objetoAuxiliarLocal.Maximo"
                                     [ngClass]="{'is-invalid': MaxPrecioLocal.invalid}"
                                     class="tamanioInputs form-control" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     name="maxPrecioLocal" id="maxPrecioLocal" type="number"
                                     placeholder="999,99" (focusout)="transformar($event)" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">US$</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MaxPrecioLocal.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->
                        </div>
                        <div *ngIf="(this.objetoAuxiliarLocal.Minimo > this.objetoAuxiliarLocal.Maximo)">
                          <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; El precio
                            mínimo de pedido no puede ser superior al precio máximo de pedido.</p>
                        </div>
                      </div>
                      <div class="form-group mx-3 my-0">
                        <div class="alert alert-info col-12 my-0" role="alert">
                          <a><span class="fa fa-info-circle fa-1x"></span></a>
                          &nbsp; &nbsp;Asegurate de llenar los campos obligatorios.
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">

                      <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
                              (click)="cancelarTarifaLocal(); modal.close('Close click')">Cancelar
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" *ngIf="banderaTipoAccionLocal=='Agregar'"
                              [disabled]="!FormModalLocal.checkValidity()||(this.objetoAuxiliarLocal.Minimo > this.objetoAuxiliarLocal.Maximo)"
                              (click)="agregarTarifaLocal(); modal.close('Save click')">Agregar
                      </button>

                      <button type="button" class="btn btn-primary btn-sm" *ngIf="banderaTipoAccionLocal=='Editar'"
                              [disabled]="!FormModalLocal.checkValidity()"
                              (click)="editarTarifaLocal(); modal.close('Save click')">Aceptar
                      </button>

                    </div>
                  </form>
                </ng-template>
              </div>

            </div>

            <hr class="m-0"> <!--INTERMEDIO DE DOMICILIO-->

            <div class="p-3">
              <div class="form-group">
                <label class="tituloDomicilio mb-0">Resto del país</label>
                <p class="p"></p>
              </div>

              <div class="form-group" *ngIf="this.vectorTarifasResto.length == 0">
                <div class="alert alert-warning col-12" role="alert">
                  <a><span class="fa fa-exclamation-circle fa-1x"></span></a>
                  &nbsp; &nbsp;No existen tarifas, sus clientes no podrán completar el pago en esta zona.
                </div>
              </div>

              <div class="form-group">
                <table class="table table-hover" *ngIf="this.vectorTarifasResto.length > 0">
                  <thead>
                  <tr>
                    <th scope="col" class="tituloTarifas">Nº</th>
                    <th scope="col" class="tituloTarifas">Condición</th>
                    <th scope="col" class="tituloTarifas">Precio</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="columnaTarifa" *ngFor="let item of this.vectorTarifasResto; index as i">
                    <th scope="row">{{i + 1}}</th>

                    <td *ngIf="this.vectorTarifasResto[i].Tipo_Medida == 'Peso'">{{this.vectorTarifasResto[i].Minimo}}
                      kg
                      - {{this.vectorTarifasResto[i].Maximo}} kg
                    </td>
                    <td
                      *ngIf="this.vectorTarifasResto[i].Tipo_Medida == 'Precio'">{{this.vectorTarifasResto[i].Minimo | currency}}
                      -
                      {{this.vectorTarifasResto[i].Maximo | currency}}</td>

                    <td *ngIf="this.vectorTarifasResto[i].Precio == 0"> Gratis</td>
                    <td
                      *ngIf="this.vectorTarifasResto[i].Precio != 0">{{this.vectorTarifasResto[i].Precio | currency }}</td>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button [disabled]="!this.banderaEnvioDomicilio || !banderaEdicionDeshabilitada"
                                id="btnTarifasResto" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="btnTarifasResto">
                          <button ngbDropdownItem class="btnOpcTarifaResto"
                                  (click)="editarAbrirTarifaResto(i,modalResto)">
                            Editar tarifa
                          </button>
                          <button ngbDropdownItem style="color:red" class="btnOpcTarifaResto"
                                  (click)="eliminarTarifaResto(i)">Eliminar
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <!-- Boton Modal -->
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="abrirModalResto(modalResto)"
                        [disabled]="!this.banderaEnvioDomicilio || !banderaEdicionDeshabilitada">Agregar tarifa
                </button>

                <!-- Modal -->
                <ng-template #modalResto let-modal>
                  <form #FormModalResto id="formModalResto" class="login100-form validate-form">
                    <div class="modal-header">
                      <h6 class="modal-title">Agregar tarifa</h6>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">X</span>
                      </button>
                    </div>

                    <div class="modal-body px-0">

                      <div class="radio-item mx-3">
                        <input type="radio" name="opcTarifaResto" id="opcPesoResto"
                               (change)="opcTarifaResto('peso', $event)"
                               [checked]="banderaTarifaRestoPeso">
                        <label for="opcPesoResto">&nbsp;&nbsp;Según el peso del pedido</label>
                      </div>
                      <br>
                      <div class="radio-item mx-3">
                        <input type="radio" name="opcTarifaResto" id="opcPrecioResto"
                               (change)="opcTarifaResto('precio', $event)"
                               [checked]="banderaTarifaRestoPrecio">
                        <label for="opcPrecioResto">&nbsp;&nbsp;Según el precio del pedido</label>
                      </div>

                      <hr mt-0 *ngIf="banderaTarifaRestoPeso || banderaTarifaRestoPrecio ">

                      <div class="form-group col-12" *ngIf="banderaTarifaRestoPeso || banderaTarifaRestoPrecio ">
                        <label>* Precio</label>
                        <div class="input-group">
                          <input #PrecioTarifaResto="ngModel" [(ngModel)]="this.objetoAuxiliarResto.Precio"
                                 [ngClass]="{'is-invalid': PrecioTarifaResto.invalid}"
                                 class="tamanioInputs form-control"
                                 min="0" step="0.01" oninput="validity.valid || (value='');"
                                 name="precioTarifaResto" id="precioTarifaResto" type="number"
                                 placeholder="0,00" (focusout)="transformar($event)" required>
                          <div class="input-group-append" *ngIf="this.objetoAuxiliarResto.Precio != 0">
                            <span class="input-group-text tamanioInputs">US$</span>
                          </div>
                          <div class="input-group-append" *ngIf="this.objetoAuxiliarResto.Precio == 0">
                            <span class="input-group-text tamanioInputs">Gratis</span>
                          </div>
                        </div>
                        <div *ngIf="PrecioTarifaResto.errors?.required">
                          <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                            requerido.</p>
                        </div>
                      </div> <!-- form-group end.// -->

                      <div class="form-group mx-3" *ngIf="banderaTarifaRestoPeso">

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>* Peso Minimo</label>
                            <div class="input-group">
                              <input #MinPesoResto="ngModel" [(ngModel)]="this.objetoAuxiliarResto.Minimo"
                                     [ngClass]="{'is-invalid': MinPesoResto.invalid}"
                                     class="tamanioInputs form-control" name="minPesoResto"
                                     placeholder="0" min="0" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     type="number" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">kg</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MinPesoResto.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->

                          <div class="form-group col-md-6">
                            <label>* Peso Máximo</label>
                            <div class="input-group">
                              <input #MaxPesoResto="ngModel" [(ngModel)]="this.objetoAuxiliarResto.Maximo"
                                     [ngClass]="{'is-invalid': MaxPesoResto.invalid}"
                                     class="tamanioInputs form-control" name="maxPesoResto"
                                     placeholder="999,99" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     type="number" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">kg</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MaxPesoResto.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->
                        </div>

                        <div *ngIf="(this.objetoAuxiliarResto.Minimo > this.objetoAuxiliarResto.Maximo)">
                          <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; El peso mínimo
                            de pedido no puede ser superior al peso máximo de pedido.</p>
                        </div>
                      </div>

                      <div class="form-group mx-3" *ngIf="banderaTarifaRestoPrecio">
                        <div class="form-row">

                          <div class="form-group col-md-6">
                            <label>* Precio Minimo</label>
                            <div class="input-group">
                              <input #MinPrecioResto="ngModel" [(ngModel)]="this.objetoAuxiliarResto.Minimo"
                                     [ngClass]="{'is-invalid': MinPrecioResto.invalid}"
                                     class="tamanioInputs form-control"
                                     min="0" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     name="minPrecioResto" id="minPrecioResto" type="number"
                                     placeholder="0,00" (focusout)="transformar($event)" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">US$</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MinPrecioResto.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->

                          <div class="form-group col-md-6">
                            <label>* Precio Máximo</label>
                            <div class="input-group">
                              <input #MaxPrecioResto="ngModel" [(ngModel)]="this.objetoAuxiliarResto.Maximo"
                                     [ngClass]="{'is-invalid': MaxPrecioResto.invalid}"
                                     class="tamanioInputs form-control" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     name="maxPrecioResto" id="maxPrecioResto" type="number"
                                     placeholder="999,99" (focusout)="transformar($event)" required>
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">US$</span>
                              </div>
                            </div> <!-- input-group end.// -->
                            <div *ngIf="MaxPrecioResto.errors?.required">
                              <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo
                                requerido.</p>
                            </div>
                          </div> <!-- form-group end.// -->
                        </div>
                        <div *ngIf="(this.objetoAuxiliarResto.Minimo > this.objetoAuxiliarResto.Maximo)">
                          <p class="alert1 alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; El precio
                            mínimo de pedido no puede ser superior al precio máximo de pedido.</p>
                        </div>
                      </div>
                      <div class="form-group mx-3 my-0">
                        <div class="alert alert-info col-12 my-0" role="alert">
                          <a><span class="fa fa-info-circle fa-1x"></span></a>
                          &nbsp; &nbsp;Asegurate de llenar los campos obligatorios.
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">

                      <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
                              (click)="cancelarTarifaResto(); modal.close('Close click')">Cancelar
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" *ngIf="banderaTipoAccionResto=='Agregar'"
                              [disabled]="!FormModalResto.checkValidity()||(this.objetoAuxiliarResto.Minimo > this.objetoAuxiliarResto.Maximo)"
                              (click)="agregarTarifaResto(); modal.close('Save click')">Agregar
                      </button>

                      <button type="button" class="btn btn-primary btn-sm" *ngIf="banderaTipoAccionResto=='Editar'"
                              [disabled]="!FormModalResto.checkValidity()"
                              (click)="editarTarifaResto(); modal.close('Save click')">Aceptar
                      </button>

                    </div>
                  </form>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


        <form class="card card-body  col-md-12  mt-4">
          <div class=" container">
            <h6>Acciones</h6>
            <hr>
            <div class="text-right">
              <button *ngIf="banderaEdicionDeshabilitada" [disabled]="loading"
                      (click)="modificarMetodoEnvio()" class="btn btn-primary text-nowrap mb-4  col-auto"
                      type="button">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
                Guardar &nbsp;&nbsp;
                <span class="fa fa-save"></span>
              </button>
              &nbsp;&nbsp;
              <button *ngIf="banderaEdicionDeshabilitada" (click)="cancelarModificacion()"
                      class="btn btn-light text-nowrap mb-4  col-auto">
                Cancelar &nbsp;&nbsp;
                <span class="fa fa-close"></span></button>

              &nbsp;&nbsp;
              <button *ngIf="!banderaEdicionDeshabilitada" (click)="habilitarEdicion()"
                      class="btn btn-warning text-nowrap mb-4  col-auto">
                Modificar &nbsp;&nbsp;
                <span class="fa fa-edit"></span></button>


            </div>

          </div>
        </form>


      </form>
    </div>

    <div class="col-md-3 mt-3 mt-md-0" id="panelDos">
      <div class="card card-body m-1">
        <div class="card jackInTheBox animated alert alert-warning fade show" role="alert">
          <h4 class="alert-heading">Recuerda!</h4>
          <hr class="mb-0">
          <div class="form-row text-justify">
           <strong class="col-1">*</strong> <p class="col-11"> Configurar los métodos de envío de tu tienda para ofrecer un mejor y comodo servicio a
              tus
              clientes.</p>

            <strong class="col-1">*</strong> <p class="col-11">Si habilitas los métodos de envío, asegurate de que los rangos que apliques abarquen el precio o el peso de tus productos,
            de otra manera el precio de envío predeterminado es  <strong>GRATIS</strong> .</p>
          </div>
          <img class="mx-auto pt-md-4 mensaje-mascota" src="assets/images/mascota-condero.png" width="80%">
        </div>
      </div>
    </div>
  </div>

</div>
</body>
