<body>
<div class="container mt-5">

  <div class="row justify-content-center">
    <h4 class="col-11">Métodos de envío</h4>
    <hr class="col-11">
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8" id="panelUno">

      <div class="form-group">
        <div class="alert alert-primary col-12" role="alert">
          <a><span class="fa fa-exclamation fa-1x"></span></a>
          Establezca los métodos de envío que desea implementar en su tienda, es importante para los pedidos de los
          clientes.
        </div>
      </div>
      <hr>


      <div id="retiro-local">
        <div class="form-row">
          <div class="col-10">
            <h6 class="font-weight-bold">Retiro local</h6>
            <p class="p">Ofrece a los clientes la opción de retirar su pedido en tu negocio.</p>
          </div>

          <div class="col-2 text-right">
            <label class="switch mt-2">
              <input type="checkbox" (click)="clickRetiroLocal($event)">
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="card card-body mt-3">
          <div class="form-group">
            <label>Hora estimada de retiro</label>
            <select class="browser-default form-control" name="masOpcionesHoraRetiro" [disabled]="disabledRetiroLocal">
              <option selected>Selecciona una opción...</option>
              <option value="1hora">Normalmente está listo en 1 hora</option>
              <option value="4horas">Normalmente está listo en 4 horas</option>
              <option value="24horas">Normalmente está listo en 24 horas</option>
              <option value="4dias">Normalmente está listo en 2 a 4 días</option>
              <option value="5dias">Normalmente está listo en 5 o más días</option>
            </select>
          </div>

          <div class="form-group">
            <label>Instruciones de retiro</label>
            <textarea rows="3" style="font-size: small; resize: none;"
                      class="tamanioInputs form-control" name="instruccion_retiro" placeholder=""
                      required type="text" aria-label="With textarea" maxlength="255"
                      [disabled]="disabledRetiroLocal"></textarea>
            <p class="p">Si estás ofreciendo retiro en la tienda, puedes indicar a los clientes qué
              hacer cuando lleguen a tu tienda. (Máximo 255 caractéres)</p>
          </div> <!-- form-group end.// -->

        </div>
      </div>
      <hr>

      <div id="envio-domicilio">
        <div class="form-row">
          <div class="col-10">
            <h6 class="font-weight-bold">Envío a domicilio</h6>
            <p class="p">Ofrece a tus cliente la opción de enviar sus pedidos a domicilio dentro y fuera de la
              ciudad. Las tarifas que configures se agregarán al final de los pedidos. </p>
          </div>

          <div class="col-2 text-right">
            <label class="switch mt-2">
              <input type="checkbox" (click)="clickEnvioDomicilio($event)">
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="card card-body p-0 mt-3">

          <div class="p-3">
            <div class="form-group">
              <label class="tituloDomicilio mb-0">Local</label>
              <p class="p">Él envió a domicilio local es para los clientes que se encuentran dentro de la zona de tu
                negocio.</p>
            </div>

            <div class="form-group">
              <div>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" class="tituloTarifas">Nº</th>
                    <th scope="col" class="tituloTarifas">Condición</th>
                    <th scope="col" class="tituloTarifas">Precio</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="columnaTarifa" *ngFor="let item of this.vectorTarifasLocal; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>-</td>
                    <td>Precio</td>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button id="btnTarifas0" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="btnTarifas0">
                          <button ngbDropdownItem class="btnOpcTarifa">Editar tarifa</button>
                          <button ngbDropdownItem style="color:red" class="btnOpcTarifa"
                                  (click)="eliminarTarifaLocal(i)">Eliminar
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>

              <!-- Boton Modal -->
              <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                      data-target="#exampleModalCenter">Agregar tarifa
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6>Agregar tarifa</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body px-0">

                      <div class="radio-item mx-3">
                        <input type="radio" name="opcTarifa" id="opcPeso" (change)="opcTarifa('peso', $event)">
                        <label for="opcPeso">&nbsp;&nbsp;Según el peso del pedido</label>
                      </div>
                      <br>
                      <div class="radio-item mx-3">
                        <input type="radio" name="opcTarifa" id="opcPrecio" (change)="opcTarifa('precio', $event)">
                        <label for="opcPrecio">&nbsp;&nbsp;Según el precio del pedido</label>
                      </div>

                      <hr mt-0 *ngIf="activarTarifaLocalPeso || activarTarifaLocalPrecio ">

                      <div class="form-group col-12" *ngIf="activarTarifaLocalPeso || activarTarifaLocalPrecio ">
                        <label>Precio</label>
                        <input class="tamanioInputs form-control" name="" placeholder=""
                               required type="text">
                      </div> <!-- form-group end.// -->

                      <div class="form-group mx-3" *ngIf="activarTarifaLocalPeso">

                        <div class="form-row">

                          <div class="form-group col-md-6">
                            <label>Peso Minimo</label>
                            <div class="input-group">
                              <input #minPesoLocal="ngModel" [(ngModel)]="this.Opcion_EnvioLocal.Minimo"
                                     class="tamanioInputs form-control" name="minPesoLocal"
                                     placeholder="0" min="0" step="0.01" oninput="validity.valid || (value='');"
                                     type="number">
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">kg</span>
                              </div>
                            </div> <!-- input-group end.// -->
                          </div> <!-- form-group end.// -->

                          <div class="form-group col-md-6">
                            <label>Peso Máximo</label>
                            <div class="input-group">
                              <input #maxPesoLocal="ngModel" [(ngModel)]="this.Opcion_EnvioLocal.Minimo"
                                     class="tamanioInputs form-control" name="maxPesoLocal"
                                     placeholder="Sin límite" min="0" step="0.01"
                                     oninput="validity.valid || (value='');"
                                     type="number">
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">kg</span>
                              </div>
                            </div> <!-- input-group end.// -->
                          </div> <!-- form-group end.// -->

                        </div>

                      </div>

                      <div class="form-group mx-3" *ngIf="activarTarifaLocalPrecio">
                        <div class="form-row">

                          <div class="form-group col-md-6">
                            <label>Precio Minimo</label>
                            <div class="input-group">
                              <input #minPrecioLocal="ngModel" [(ngModel)]="this.Opcion_EnvioLocal.Minimo"
                                     class="tamanioInputs form-control"
                                     min="0" step="0.01" oninput="validity.valid||(value='');"
                                     name="minPrecioLocal" id="minPrecioLocal" type="number"
                                     placeholder="0,00" (focusout)="transformar($event)">

                              <input class="tamanioInputs form-control" name="" placeholder="" required type="text">
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">US$</span>
                              </div>
                            </div> <!-- input-group end.// -->
                          </div> <!-- form-group end.// -->

                          <div class="form-group col-md-6">
                            <label>Precio Máximo</label>
                            <div class="input-group">
                              <input class="tamanioInputs form-control" name="" placeholder="" required type="text">
                              <div class="input-group-append">
                                <span class="input-group-text tamanioInputs">US$</span>
                              </div>
                            </div> <!-- input-group end.// -->
                          </div> <!-- form-group end.// -->

                        </div>
                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"
                              (click)="cancelarTarifaLocal()">Cancelar
                      </button>
                      <button type="button" class="btn btn-primary btn-sm" (click)="agregarTarifaLocal()">Agregar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <hr class="m-0">

          <div class="p-3">
            <div class="form-group">
              <label class="tituloDomicilio">Resto del país</label>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 mt-3 mt-md-0" id="panelDos">
      <div class="card card-body m-1">
        <div class="card jackInTheBox animated alert alert-warning fade show" role="alert">
          <h4 class="alert-heading">Recuerda!</h4>
          <hr class="mb-0">
          <label>Configurar los métodos de envío de tu tienda, agilizará el registro de tus productos, además ofrecer
            este tipo de servicio aumenta la popularidad de tu tienda.</label>
          <img class="mx-auto pt-md-4 mensaje-mascota" src="../../../assets/images/mascota-condero.png" width="80%">
        </div>
      </div>
    </div>
  </div>

</div>
</body>
