<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V4</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

</head>

<div *ngIf="loading" class="fondoAnimacionCarga">
  <div class="pulse animated infinite" style="position: absolute;z-index: 150;">
    <img id="imagenCarga" src="./../assets/images/cargando.png">
    <br><br>
    <div>
      <label style="color: white; text-align: center">Espere por favor..</label>
    </div>
  </div>
</div>
<body style="height:100%;">

<div class="limiter">

  <div class="container-login100 pt-5">

    <div class=" shadow-lg   rounded mx-auto wrap-login100 p-l-55 p-r-55 pt-2 p-b-54 ">
      <div class="row  justify-content-md-end justify-content-center">
        <div class="col-auto mt-2">
          <a style="font-size: small" [routerLink]="['/login']">Iniciar sesión</a> |
          <a style="font-size: small"  [routerLink]="['/registro']"> Registro</a>
        </div>
      </div>
      <form class=" login100-form  validate-form">

        <span class="login100-form-title p-b-49 mt-2 ">
						Recuperar contraseña
					</span>


        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
          <span class="label-input100">Ingrese su correo electronico registrado </span>
          <input #CorreoA="ngModel" [(ngModel)]="this.Correo" class="input100" name="correoA"
                 placeholder="Correo electrónico"
                 type="email">
          <span class="focus-input100" data-symbol="&#xf007;"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>

            <button [disabled]="!Correo" (click)="this.resetearContrasenia()" class="login100-form-btn">
              Enviar
            </button>
          </div>

          <label *ngIf="response" class="mt-2">Si no recibio ningun correo por favor click <button (click)="reEnviar()" class="btn btn-link px-0 pt-0">aquí</button></label>
        </div>


      </form>
    </div>
  </div>
</div>


</body>
</html>
