<div *ngFor="let compra of comprasObtenidas">
<div class="card ">
  <div class="card-header ">
    <div class=" mb-0 font-weight-bold row    justify-content-between mx-md-auto"><a class="col-auto">Tienda:asdasd</a><a class="col-auto">Estado del pedido:</a></div>
    <ul class="nav nav-tabs card-header-tabs pull-left mx-md-auto pt-2  " id="myTab2" role="tablist">

      <li class="nav-item">
        <div class="nav-link  py-0 ">
          <p>Pedido realizado</p>
          <p>27/45/9</p>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link  py-0 ">
          <p>Total</p>
          <p>27</p>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link  py-0 ">
          <p>Pedido No</p>
          <p>27</p>
        </div>
      </li>

    </ul>

    <ul class="nav nav-pills card-header-pills   justify-content-md-end justify-content-center  pt-4" id="myTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active py-0 " id="home-tab" data-toggle="tab" href="#home" role="tab"
           aria-controls="home"
           aria-selected="true">Pedido</a>
      </li>

      <li class="nav-item">
        <a class="nav-link py-0 " id="contact-tab" data-toggle="tab" href="#contact" role="tab"
           aria-controls="contact"
           aria-selected="false">Detalle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0 " id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
           aria-selected="false">Recivo</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">home</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">profile</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">contacto</div>
    </div>
  </div>
</div>
</div>
