p{
  font-size:smaller;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
a{
  font-size:smaller;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.nav-item .active{
  font-size: smaller;
  font-weight: normal;
  text-decoration-line: underline;
  background-color: transparent;
  color: #007bff;

}


button{
  font-size: small;
}

.encabezado_recivo > p {
  text-align: left;
  font-size: smaller;
  color: black;
}
.encabezado_recivo  > dl >dd {
  text-align: left;
  font-size: smaller;
  color: black;
}
.encabezado_recivo  > dl >dt {
  text-align: left;
  font-size: smaller;
  color: black;
}

