

<body>
<article class="card mb-3">
  <div class="card-body">

    <figure class="icontext">
      <div class="icon">
        <a href="#" class="icon icon-lg rounded-circle border"><i class="fas fa-lock"></i></a>
      </div>
      <div class="text">
        <h5> Cambiar Contraseña </h5>
      </div>
    </figure>
    <hr>
    <!--<p class="alert3 justify-content-center pb-2 text-primary small"><i class='fa fa-exclamation-circle'> </i> &nbsp;
      Los campos marcados con <strong>*</strong> son obligatorios.</p>-->
    <form   #FormCambiarContrasenia  id="formCambiarContrasenia" class="validate-form" >
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>* Contraseña actual</label>
          <input #PasswordActual="ngModel" [(ngModel)]="this.objCambiarContrasenia.contraseniaActual" [ngClass]="{
          'is-invalid': PasswordActual.invalid && (PasswordActual.dirty || PasswordActual.touched),
          'is-valid': PasswordActual.valid && (PasswordActual.dirty || PasswordActual.touched)}"
                 class="tamanioInputs form-control" minlength="6"
                 name="passwordActual" placeholder="" required type="password">
          <div *ngIf="PasswordActual.invalid && (PasswordActual.touched||Password.dirty)">
            <div *ngIf="PasswordActual.errors.required">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                Campo requerido.</p>
            </div>
            <div *ngIf="PasswordActual.errors.minlength">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                Más de 6 caracteres.</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>* Contraseña nueva</label>
          <input #Password="ngModel" [(ngModel)]="this.objCambiarContrasenia.contraseniaNueva" [ngClass]="{
          'is-invalid': Password.invalid && (Password.dirty || Password.touched),
          'is-valid': Password.valid && (Password.dirty || Password.touched)}"
                 class="tamanioInputs form-control" minlength="6"
                 name="password" placeholder="" required type="password">
          <div *ngIf="Password.invalid && (Password.touched||Password.dirty)">
            <div *ngIf="Password.errors.required">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                Campo requerido.</p>
            </div>
            <div *ngIf="Password.errors.minlength">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                Más de 6 caracteres.</p>
            </div>
          </div>
        </div>  <!--form-group end.-->
        <div class="form-group col-md-6">
          <label>* Repetir contraseña</label>
          <input #PasswordR="ngModel" [(ngModel)]="this.compararContrasenia" [ngClass]="{
          'is-invalid': PasswordR.invalid && (PasswordR.dirty || PasswordR.touched),
          'is-valid': PasswordR.valid && (PasswordR.dirty || PasswordR.touched)}"
                 [pattern]='this.objCambiarContrasenia.contraseniaNueva'
                 class="tamanioInputs form-control" name="passwordR" placeholder="" required type="password">
          <div *ngIf="PasswordR.invalid && (PasswordR.touched||PasswordR.dirty)">
            <div *ngIf="PasswordR.errors.required">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                Campo requerido.</p>
            </div>
            <div *ngIf="PasswordR.errors.pattern">
              <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                La contraseña no coincide.</p>
            </div>
          </div>
        </div>  <!--form-group end.-->
      </div>
    </form>
  </div>
</article>


<form class="card card-body  col-md-12  mt-4">
  <div class=" container">
    <h6>Acciones</h6>
    <hr>
    <div class="text-right">
      <button [disabled]="!FormCambiarContrasenia.checkValidity() || loading"   (click)="actualizarContrasenia()" href="#" class="btn btn-primary text-nowrap mb-4  col-auto"
               type="button">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
       &nbsp; Cambiar Contraseña  <span class="fas fa-retweet "></span>
      </button>
      &nbsp;&nbsp;

    </div>

  </div>
</form>
</body>
