<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="max-age=604800"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registro Tienda</title>
</head>

<body>
<div class="mx-auto  container-login100  container-registro">
  <article class=" wrap-register100 card-body">

    <header class="login100-form-title-registro">
      <h5 class="card-title titulo">Cuéntanos sobre tu empresa o negocio</h5>
    </header>

    <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">

      <aw-wizard-step [stepTitle]="'Steptitle 1'">
        <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
        <div class="datosregistro">

          <div class="form-group">
            <label class="tamanioCampos">Nombre comercial de su empresa o negocio</label>
            <input #Nombre_Comercial="ngModel" [(ngModel)]="this.Tienda.Nombre_Comercial" [ngClass]="{'is-invalid': Nombre_Comercial.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched),
                 'is-valid': Nombre_Comercial.valid && (Nombre_Comercial.dirty || Nombre_Comercial.touched)}"
                   [pattern]='this.LetrasNumerosPattern'
                   class="tamanioInputs form-control" name="nombre_Comercial" placeholder=""
                   required type="text">
            <div *ngIf="Nombre_Comercial.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched)">
              <div *ngIf="Nombre_Comercial.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
              <div *ngIf="Nombre_Comercial.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                  numeros.</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->


          <div class="form-group">
            <label class="tamanioCampos">Razón Social</label>
            <input #Razon_Social="ngModel" [(ngModel)]="this.Tienda.Razon_Social" [ngClass]="{'is-invalid': Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched),
                 'is-valid': Razon_Social.valid && (Razon_Social.dirty || Razon_Social.touched)}"
                   [pattern]='this.LetrasNumerosPattern'
                   class="tamanioInputs form-control" name="razon_Social" placeholder=""
                   required type="text">
            <div *ngIf="Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched)">
              <div *ngIf="Razon_Social.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
              <div *ngIf="Razon_Social.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                  numeros.</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->


          <div class="form-row">
            <div class="col-lg-6 form-group">
              <label class="tamanioCampos">Página Web</label>
              <input #Link_Pagina="ngModel" [(ngModel)]="this.Tienda.Link_Pagina" [ngClass]="{
          'is-invalid': Link_Pagina.invalid && (Link_Pagina.dirty || Link_Pagina.touched),
          'is-valid': Link_Pagina.valid && (Link_Pagina.touched || Link_Pagina.dirty )}" [pattern]='this.emailPattern'
                     class="form-control tamanioInputs"
                     name="link_Pagina" placeholder="" required type="url">

              <div *ngIf="Link_Pagina.invalid && (Link_Pagina.touched||Link_Pagina.dirty)">
                <div *ngIf="Link_Pagina.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
                <div *ngIf="Link_Pagina.errors.pattern">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Debe cumplir con el formato</p>
                </div>
              </div>
            </div> <!-- form-group end.// -->

            <div class="col-lg-6 form-group">
              <label class="tamanioCampos">Facebook</label>
              <input #Link_Facebook="ngModel" [(ngModel)]="this.Tienda.Link_Facebook" [ngClass]="{
          'is-invalid': Link_Facebook.invalid && (Link_Facebook.dirty || Link_Facebook.touched),
          'is-valid': Link_Facebook.valid && (Link_Facebook.touched || Link_Facebook.dirty )}" [pattern]='this.emailPattern'
                     class="form-control tamanioInputs"
                     name="link_Facebook" placeholder="" required type="url">

              <div *ngIf="Link_Facebook.invalid && (Link_Facebook.touched||Link_Facebook.dirty)">
                <div *ngIf="Link_Facebook.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
                <div *ngIf="Link_Facebook.errors.pattern">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Debe cumplir con el formato</p>
                </div>
              </div>
            </div> <!-- form-group end.// -->
          </div> <!-- form-row end.// -->

          <div class="form-group">
            <label class="tamanioCampos">Descripción del negocio</label>
            <textarea rows="3" style="font-size: small; resize: none;" #Descripcion_Tienda="ngModel" [(ngModel)]="this.Tienda.Descripcion_Tienda" [ngClass]="{'is-invalid': Descripcion_Tienda.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched),
                 'is-valid': Descripcion_Tienda.valid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched)}"
                        class="form-control" name="descripcion_Tienda" placeholder=""
                        required type="text" aria-label="With textarea"></textarea>
            <div *ngIf="Descripcion_Tienda.invalid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched)">
              <div *ngIf="Descripcion_Tienda.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->

          <div class="form-group">
            <label class="tamanioCampos">Términos y Condiciones</label>

            <app-ngx-editor #Terminos_Condiciones="ngModel" [(ngModel)]="this.Tienda.Terminos_Condiciones"
                            [(ngModel)]="this.htmlcomponent" [config]="editorConfig"
                            [placeholder]="'Inserte el texto aquí...'"
                            [spellcheck]="true" class="editor_terminos"
                            name="terminos_Condiciones"></app-ngx-editor>

            <div *ngIf="Terminos_Condiciones.invalid && (Terminos_Condiciones.touched||Terminos_Condiciones.dirty)">
              <div *ngIf="Terminos_Condiciones.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Campo requerido.</p>
              </div>
              <div *ngIf="Terminos_Condiciones.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Debe cumplir con el formato</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->
        </div>

        <br>
        <div class="container-login100-form-btn btn_continue centered-content">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="button" class="login100-form-btn" awNextStep>
              Continuar
            </button>
          </div>
        </div>

      </aw-wizard-step>


      <aw-wizard-step [stepTitle]="'Steptitle 2'">
        <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
        <div>


          <div class="datosregistro">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="tamanioCampos">Provincia</label>
                <select #Provincia="ngModel" (change)="getDpaCiudades($event.target.value)"
                        [(ngModel)]="this.Sucursal.Provincia"
                        [ngClass]="{
          'errorSelect': Provincia.invalid && (Provincia.dirty || Provincia.touched),
          'satisfactorioSelect': Provincia.valid && (Provincia.dirty || Provincia.touched)}"
                        class=" tamanioInputs form-control"  name="provincia"
                        required>
                  <option selected="true" disabled="true" >Selecciona una.. </option>
                  <option *ngFor="let provincia of this.provincias"
                          value="{{provincia.COD_DPA}}"> {{provincia.NOMBRE }}</option>
                </select>
                <div *ngIf="Provincia.invalid && (Provincia.touched||Provincia.dirty)">
                  <div *ngIf="Provincia.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo equerido</p>
                  </div>

                </div>
              </div> <!--form-group end.-->

              <div class="form-group col-md-6">
                <label class="tamanioCampos">Ciudad</label>
                <select #Ciudad="ngModel" [(ngModel)]="this.Sucursal.Ciudad " [ngClass]="{
          'errorSelect': Ciudad.invalid && (Ciudad.dirty || Ciudad.touched),
          'satisfactorioSelect': Ciudad.valid && (Ciudad.dirty || Ciudad.touched)}"
                        class="tamanioInputs form-control" name="ciudad" placeholder=""
                        required>
                  <option selected="true" disabled="true" >Selecciona una.. </option>
                  <option *ngFor="let ciudad of this.ciudades" value="{{ciudad.COD_DPA}}"> {{ciudad.NOMBRE }}</option>
                </select>
                <div *ngIf="Ciudad.invalid && (Ciudad.touched||Ciudad.dirty)">
                  <div *ngIf="Ciudad.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                </div>
              </div> <!--form-group end.-->

            </div>  <!--form-row.-->

            <div class="form-group">
              <label class="tamanioCampos">Calle Principal</label>
              <input #CallePrincipal="ngModel" [(ngModel)]="this.Sucursal.Calle_Principal"
                     [ngClass]="{
          'errorSelect': CallePrincipal.invalid && (CallePrincipal.dirty || CallePrincipal.touched),
          'satisfactorioSelect': CallePrincipal.valid && (CallePrincipal.dirty || CallePrincipal.touched)}"
                     class="tamanioInputs form-control"
                     name="callePrincipal" placeholder="" required type="search" id="CallePrincipal">
              <div *ngIf="CallePrincipal.invalid && (CallePrincipal.touched||CallePrincipal.dirty)">
                <div *ngIf="CallePrincipal.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
              </div>
            </div><!-- form-group end.// -->

            <div class="form-group">
              <label class="tamanioCampos">Calle Secundaria</label>
              <input #CalleSecundaria="ngModel" [(ngModel)]="this.Sucursal.Calle_Secundaria_Sucursal"
                     [ngClass]="{
          'errorSelect': CalleSecundaria.invalid && (CalleSecundaria.dirty || CalleSecundaria.touched),
          'satisfactorioSelect': CalleSecundaria.valid && (CalleSecundaria.dirty || CalleSecundaria.touched)}"
                     class="tamanioInputs form-control"
                     name="calleSecundaria" placeholder="" required type="text" id="calleSecundaria">
              <div *ngIf="CalleSecundaria.invalid && (CalleSecundaria.touched||CalleSecundaria.dirty)">
                <div *ngIf="CalleSecundaria.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-6 form-group">
                <label class="tamanioCampos">Número de referencia</label>
                <input #NumCasaAgente="ngModel" [(ngModel)]="this.Sucursal.Num_Casa_Sucursal" class="tamanioInputs form-control"  name="numCasaAgente" placeholder=""  type="text">

                <div>
                  <p class="alert2 alert-primary"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo opcional.</p>
                </div>
              </div>
              <div class=" col-lg-6 form-group">
                <label class="tamanioCampos">Codigo Postal</label>
                <input #CodigoPostal="ngModel" [(ngModel)]="this.Sucursal.Num_Cod_Postal"
                       [ngClass]="{
          'is-invalid': CodigoPostal.invalid && (CodigoPostal.dirty || CodigoPostal.touched),
          'is-valid': CodigoPostal.valid && (CodigoPostal.dirty || CodigoPostal.touched)}"
                       class="tamanioInputs form-control" maxlength="12"
                       name="codigoPostal" placeholder="" required type="text">
                <div *ngIf="CodigoPostal.invalid && (CodigoPostal.touched||CodigoPostal.dirty)">
                  <div *ngIf="CodigoPostal.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo Requerido</p>
                  </div>
                  <div *ngIf="CodigoPostal.errors.maxlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      No mas de 12 caracteres.</p>
                  </div>

                </div>
              </div> <!--form-group end.-->
            </div>

            <div class="form-row">
              <div class="col-lg-6 form-group">
                <label class="tamanioCampos">Teléfono Celular</label>
                <input #Telefono="ngModel" [(ngModel)]="this.Sucursal.Telefono" [ngClass]="{'is-invalid': Telefono.invalid && (Telefono.dirty || Telefono.touched),
                 'is-valid': Telefono.valid && (Telefono.dirty || Telefono.touched)}"
                       [pattern]='this.soloNumerosPattern' class="tamanioInputs form-control" maxlength="10" minlength="10"
                       name="telefono" placeholder="" required
                       style="font-size: small" type="text">
                <div *ngIf="Telefono.invalid && (Telefono.dirty|| Telefono.touched) ">
                  <div *ngIf="Telefono.errors.required">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Campo requerido.</p>
                  </div>
                  <div *ngIf="Telefono.errors.minlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Minimo 10 digitos.</p>
                  </div>
                  <div *ngIf="Telefono.errors.maxlength">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Maximo 10 digitos.</p>
                  </div>
                  <div *ngIf="Telefono.errors.pattern">
                    <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                      Utilice solo numeros.</p>
                  </div>
                </div>
              </div> <!-- form-group end.//-->
              <div class="col-lg-6 form-group">
              </div><!--form-group end.;-->

            </div> <!-- form-row end.// -->
            <hr class="lineaSeparacion">

          </div>


          <div class="btn-group">
            <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
            <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
          </div>
        </div>
      </aw-wizard-step>


      <aw-wizard-step [stepTitle]="'Steptitle 3'">
        <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
        <div class="centered-content">
          <div>
            Content: Step 3
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
            <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
          </div>
        </div>
      </aw-wizard-step>

    </aw-wizard>
  </article><!-- card-body.// -->
</div>
</body>
</html>

