.datosregistro{
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 2%;
}

.centered-content {
  margin: auto;
  text-align: center;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-color: #0c5460;*/
}

.titulo{
  text-align: center;
}

.wrap-register100 {

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.login100-form-title-registro {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  line-height: 1.2;

}

.lineaSeparacion{
  margin-top: 1px;
  margin-bottom: 1px;

}
.lineaSeparacion1 {
  margin-top: 20px;
  margin-bottom: 10px;

}
.tamanioCampos{
  font-size: small;
  font-weight: bolder;
  font-size: 0.8em;
}

.tamanioInputs
{
  font-size: small;
}

.editor_terminos{
  font-size: small;
}

.btn_continue{
  max-width:150px
}

.container-registro
{
  max-width:850px;
  margin-top: 15px;
}

@media (max-width: 1366px) {
  .container-registro
  {
    max-width: 750px;
    margin-top: 15px;
  }
}
