<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="max-age=604800"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registro Tienda</title>
</head>

<body>


<div class="mx-auto  container-login100  container-registro">
  <article class=" wrap-register100 card-body">

    <header class="login100-form-title-registro">
      <h5 class="card-title titulo">Cuéntanos sobre tu empresa o negocio</h5>
    </header>

    <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">

      <aw-wizard-step [stepTitle]="'Steptitle 1'">
        <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
        <div class="datosregistro">
          <div class="form-group">
            <label class="tamanioCampos">Nombre comercial de su empresa o negocio</label>
            <input type="text" class="tamanioCampos form-control" placeholder="">
          </div> <!-- form-group end.// -->

          <div class="form-group">
            <label class="tamanioCampos">Razón social</label>
            <input type="text" class="tamanioCampos form-control" placeholder="">
          </div> <!-- form-group end.// -->

          <div class="form-group">
            <label class="tamanioCampos">RUC</label>
            <input type="text" class="tamanioCampos form-control" placeholder="">

          </div> <!-- form-group end.// -->

        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </aw-wizard-step>


      <aw-wizard-step [stepTitle]="'Steptitle 2'">
        <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
        <div class="centered-content">
          <div>
            Content: Step 2
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
            <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
          </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-step [stepTitle]="'Steptitle 3'">
        <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
        <div class="centered-content">
          <div>
            Content: Step 3
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
            <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
          </div>
        </div>
      </aw-wizard-step>

    </aw-wizard>


    <form>


      <label class="tamanioCampos">¿Cuenta con un espacio físico?</label>
      <div class="form-row">
        <div class="col form-group">
          <label class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" checked="" type="radio" name="espacioFisico" value="option1"
                   (change)="selectEspacioFisico()">
            <span class="custom-control-label"> Si  </span>
          </label>
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="espacioFisico" value="option2"
                   (change)="selectEspacioFisico()">
            <span class="custom-control-label"> No </span>
          </label>
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <!-- Separacion de seccion// -->
      <label style="font-size: large">Sucursales</label>

      <div class="form-group">
        <label class="tamanioCampos">Dirección</label>
        <input type="text" class="tamanioCampos form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-group">
        <label class="tamanioCampos">Provincia</label>
        <input type="text" class="tamanioCampos form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="col form-group">
          <label style="font-size: small">RUC</label>
          <input type="text" class="tamanioCampos form-control" placeholder="">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label class="tamanioCampos">Teléfono Celular</label>
          <input style="font-size: small" type="text" class="tamanioCampos form-control" placeholder="">
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <div class="form-group">
        <label class="tamanioCampos">Email</label>
        <input type="email" class="tamanioCampos form-control" placeholder="">
        <!--        <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div> <!-- form-group end.// -->
      <hr class="lineaSeparacion">
      <div class=" form-group">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="tamanioCampos">Provincia</label>
            <select id="inputState" class="tamanioCampos form-control">
              <option> Choose...</option>
              <option>Uzbekistan</option>
              <option>Russia</option>
              <option selected="">United States</option>
              <option>India</option>
              <option>Afganistan</option>
            </select>
          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label class="tamanioCampos">Ciudad</label>
            <input type="text" class="tamanioCampos form-control">
          </div> <!-- form-group end.// -->

        </div> <!-- form-row.// -->

        <label class="tamanioCampos">Calle Principal</label>
        <input type="text" class="tamanioCampos form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="col-lg-8 form-group">
          <label class="tamanioCampos">Calle Secundaria</label>
          <input type="text" class="tamanioCampos form-control" placeholder="">
        </div>
        <div class=" col-lg-4 form-group">
          <label class="tamanioCampos">Codigo Postal</label>
          <input type="text" class=" tamanioCampos form-control" placeholder="">
        </div> <!-- form-group end.// -->
      </div>

      <hr class="lineaSeparacion2">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="tamanioCampos">Contraseña</label>
          <input class="tamanioCampos form-control" type="password">
        </div> <!-- form-group end.// -->
        <div class="form-group col-md-6">
          <label class="tamanioCampos">Repetir contraseña</label>
          <input class="tamanioCampos form-control" type="password">
        </div> <!-- form-group end.// -->
      </div>
      <br>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn">
            Crea tu cuenta en condero
          </button>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked="">
          <div class="custom-control-label" style="font-size: smaller"> Estoy de acuerdo con los<a href="#"
                                                                                                   style="font-size: smaller">terminos
            y condiciones</a></div>
        </label>
      </div> <!-- form-group end.// -->

    </form>
  </article><!-- card-body.// -->
</div>

</body>
</html>

