html, body{
  margin:0;
  height:100%;
}

.wrap-register100 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.container-registro {
  max-width: 950px;
  margin-top: 15px;
  position: relative;
  clear: top;
  height: auto;
  overflow: hidden;
}

@media (max-width: 1366px) {
  .container-registro {
    max-width: 850px;
    margin-top: 15px;
    position: relative;
    height: auto;
    overflow: hidden;
  }
}

.datosregistro {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 2%;
}

.tamanioInputs {
  font-size: small;
}

label {
  font-size: small;
  font-weight: normal;
}

.btn_continue {
  max-width: 150px
}

.centered-content {
  margin: auto;
  text-align: center;
}

.alert {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #bd2130;
  margin-left: 4px;
}

.alert2 {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #1da1f2;
  margin-left: 4px;

}

.alert3 {
  font-size: smaller;
  padding: 0;
  background-color: white;
  border: none;
  color: #1a56e9;
  font-weight: bolder;
}

.editor_terminos {
  font-size: small;
}

.agregar-sucursal{
  color: #1a56e9;
  cursor: pointer;
  border-bottom: #1a56e9 solid 1.5px;
}

.agregar-sucursal:hover{
  opacity: 0.8;
}

.eliminar-sucursal{
  color: #f90f0f;
  cursor: pointer;
  border-bottom: #f90f0f solid 1.5px;
}

.eliminar-sucursal:hover{
  opacity: 0.8;
}

.agregar-sucursal span{
  font-size: 12px;
}

.btnActivo:disabled {
  color:white;
  background: #6c757d;
}

.boton-cerrar {
  display: block;
  font-size: 0.9rem;
  width: 80%;
  margin-left: 10%;
  border-radius: 15px;
}

.btn-paso2{
  width: 100%;
  height: 75px;
}

/*IMAGENES LOGO*/
.file {
  display: none;
}

.borde-imagenesL {
  border: rgba(0, 0, 0, 0.3) 2px dashed;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.borde-imagenesL:hover {
  border: #2a4c75 2px dashed;
  background-color: rgba(18, 52, 95, 0.2);
}

.borde-imagenes1L {
  border: rgba(0, 0, 0, 0.3) 2px dashed;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  justify-content: center;
}

.borde-imagenes1L:hover {
  border: #2a4c75 2px dashed;
  background-color: rgba(18, 52, 95, 0.2);
}

.imagen-agregar {
  opacity: 0.7;
}

.imagen-agregar:hover {
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
  color: #2a4c75;
}

/*IMAGENES BANNER*/
.borde-imagenesB {
  border: rgba(0, 0, 0, 0.3) 2px dashed;
  padding-bottom: 10px;
  margin-left: 5px;
  width: 100%;
  height: 135px;
}

.borde-imagenesB:hover {
  border: #2a4c75 2px dashed;
  background-color: rgba(18, 52, 95, 0.2);
}

.borde-imagenes1B {
  border: rgba(0, 0, 0, 0.3) 2px dashed;
  padding-top: 1px;
  width: 100%;
  height: 135px;
}

.borde-imagenes1B:hover {
  border: #2a4c75 2px dashed;
  background-color: rgba(18, 52, 95, 0.2);
}

.imagen-agregar {
  opacity: 0.7;
}

.imagen-agregar:hover {
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
  color: #2a4c75;
}

.color-fa{
  color: #2a4c75;
}

/*IMG TIENDA COLUMNA 2*/
.columnas{
  width: auto;
  height: 430px;
}

.ejemplo-tienda{
  width: 100%;
  height: 100%;
}







