<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="cache-control" content="max-age=604800"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registro Tienda</title>
</head>

<body>
<div class="mx-auto  container-login100  container-registro">
  <article class=" wrap-register100 card-body">

    <header class="login100-form-title-registro">
      <h5 class="card-title titulo">Cuéntanos sobre tu empresa o negocio</h5>
    </header>

    <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">

      <aw-wizard-step [stepTitle]="'Steptitle 1'">
        <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
        <div class="datosregistro">


          <div class="form-group">
            <label class="tamanioCampos">Nombre comercial de su empresa o negocio</label>
            <input #Nombre_Comercial="ngModel" [(ngModel)]="this.Tienda.Nombre_Comercial" [ngClass]="{'is-invalid': Nombre_Comercial.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched),
                 'is-valid': Nombre_Comercial.valid && (Nombre_Comercial.dirty || Nombre_Comercial.touched)}"
                   [pattern]='this.LetrasNumerosPattern'
                   class="tamanioInputs form-control" name="nombre_Comercial" placeholder=""
                   required type="text">
            <div *ngIf="Nombre_Comercial.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched)">
              <div *ngIf="Nombre_Comercial.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
              <div *ngIf="Nombre_Comercial.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                  numeros.</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->


          <div class="form-group">
            <label class="tamanioCampos">Razón Social</label>
            <input #Razon_Social="ngModel" [(ngModel)]="this.Tienda.Razon_Social" [ngClass]="{'is-invalid': Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched),
                 'is-valid': Razon_Social.valid && (Razon_Social.dirty || Razon_Social.touched)}"
                   [pattern]='this.LetrasNumerosPattern'
                   class="tamanioInputs form-control" name="razon_Social" placeholder=""
                   required type="text">
            <div *ngIf="Razon_Social.invalid && (Razon_Social.dirty || Razon_Social.touched)">
              <div *ngIf="Razon_Social.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
              <div *ngIf="Razon_Social.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Utilice solo letras y
                  numeros.</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->


          <div class="form-row">
            <div class="col-lg-6 form-group">
              <label class="tamanioCampos">Página Web</label>
              <input #Link_Pagina="ngModel" [(ngModel)]="this.Tienda.Link_Pagina" [ngClass]="{
          'is-invalid': Link_Pagina.invalid && (Link_Pagina.dirty || Link_Pagina.touched),
          'is-valid': Link_Pagina.valid && (Link_Pagina.touched || Link_Pagina.dirty )}" [pattern]='this.emailPattern'
                     class="form-control tamanioInputs"
                     name="link_Pagina" placeholder="" required type="url">

              <div *ngIf="Link_Pagina.invalid && (Link_Pagina.touched||Link_Pagina.dirty)">
                <div *ngIf="Link_Pagina.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
                <div *ngIf="Link_Pagina.errors.pattern">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Debe cumplir con el formato</p>
                </div>
              </div>
            </div> <!-- form-group end.// -->

            <div class="col-lg-6 form-group">
              <label class="tamanioCampos">Facebook</label>
              <input #Link_Facebook="ngModel" [(ngModel)]="this.Tienda.Link_Facebook" [ngClass]="{
          'is-invalid': Link_Facebook.invalid && (Link_Facebook.dirty || Link_Facebook.touched),
          'is-valid': Link_Facebook.valid && (Link_Facebook.touched || Link_Facebook.dirty )}" [pattern]='this.emailPattern'
                     class="form-control tamanioInputs"
                     name="link_Facebook" placeholder="" required type="url">

              <div *ngIf="Link_Facebook.invalid && (Link_Facebook.touched||Link_Facebook.dirty)">
                <div *ngIf="Link_Facebook.errors.required">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Campo requerido.</p>
                </div>
                <div *ngIf="Link_Facebook.errors.pattern">
                  <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                    Debe cumplir con el formato</p>
                </div>
              </div>
            </div> <!-- form-group end.// -->
          </div> <!-- form-row end.// -->

          <div class="form-group">
            <label class="tamanioCampos">Descripción del negocio</label>
            <textarea rows="3" style="font-size: small; resize: none;" #Descripcion_Tienda="ngModel" [(ngModel)]="this.Tienda.Descripcion_Tienda" [ngClass]="{'is-invalid': Descripcion_Tienda.invalid && (Nombre_Comercial.dirty || Nombre_Comercial.touched),
                 'is-valid': Descripcion_Tienda.valid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched)}"
                        class="form-control" name="descripcion_Tienda" placeholder=""
                        required type="text" aria-label="With textarea"></textarea>
            <div *ngIf="Descripcion_Tienda.invalid && (Descripcion_Tienda.dirty || Descripcion_Tienda.touched)">
              <div *ngIf="Descripcion_Tienda.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp; Campo requerido.</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->

          <div class="form-group">
            <label class="tamanioCampos">Términos y Condiciones</label>

            <app-ngx-editor #Terminos_Condiciones="ngModel" [(ngModel)]="this.Tienda.Terminos_Condiciones"
                            [(ngModel)]="this.htmlcomponent" [config]="editorConfig"
                            [placeholder]="'Inserte el texto aquí...'"
                            [spellcheck]="true" class="editor_terminos"
                            name="terminos_Condiciones"></app-ngx-editor>

            <div *ngIf="Terminos_Condiciones.invalid && (Terminos_Condiciones.touched||Terminos_Condiciones.dirty)">
              <div *ngIf="Terminos_Condiciones.errors.required">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Campo requerido.</p>
              </div>
              <div *ngIf="Terminos_Condiciones.errors.pattern">
                <p class="alert alert-danger"><i class='fa fa-exclamation-circle'> </i> &nbsp;
                  Debe cumplir con el formato</p>
              </div>
            </div>
          </div> <!-- form-group end.// -->
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </aw-wizard-step>


      <aw-wizard-step [stepTitle]="'Steptitle 2'">
        <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
        <div class="centered-content">
          <div>
            Content: Step 2
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
            <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
          </div>
        </div>
      </aw-wizard-step>
      <aw-wizard-step [stepTitle]="'Steptitle 3'">
        <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
        <div class="centered-content">
          <div>
            Content: Step 3
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
            <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
          </div>
        </div>
      </aw-wizard-step>

    </aw-wizard>


    <form>


      <label class="tamanioCampos">¿Cuenta con un espacio físico?</label>
      <div class="form-row">
        <div class="col form-group">
          <label class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" checked="" type="radio" name="espacioFisico" value="option1"
                   (change)="selectEspacioFisico()">
            <span class="custom-control-label"> Si  </span>
          </label>
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="espacioFisico" value="option2"
                   (change)="selectEspacioFisico()">
            <span class="custom-control-label"> No </span>
          </label>
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <!-- Separacion de seccion// -->
      <label style="font-size: large">Sucursales</label>

      <div class="form-group">
        <label class="tamanioCampos">Dirección</label>
        <input type="text" class="tamanioCampos form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-group">
        <label class="tamanioCampos">Provincia</label>
        <input type="text" class="tamanioCampos form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="col form-group">
          <label style="font-size: small">RUC</label>
          <input type="text" class="tamanioCampos form-control" placeholder="">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label class="tamanioCampos">Teléfono Celular</label>
          <input style="font-size: small" type="text" class="tamanioCampos form-control" placeholder="">
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <div class="form-group">
        <label class="tamanioCampos">Email</label>
        <input type="email" class="tamanioCampos form-control" placeholder="">
        <!--        <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div> <!-- form-group end.// -->
      <hr class="lineaSeparacion">
      <div class=" form-group">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="tamanioCampos">Provincia</label>
            <select id="inputState" class="tamanioCampos form-control">
              <option> Choose...</option>
              <option>Uzbekistan</option>
              <option>Russia</option>
              <option selected="">United States</option>
              <option>India</option>
              <option>Afganistan</option>
            </select>
          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label class="tamanioCampos">Ciudad</label>
            <input type="text" class="tamanioCampos form-control">
          </div> <!-- form-group end.// -->

        </div> <!-- form-row.// -->

        <label class="tamanioCampos">Calle Principal</label>
        <input type="text" class="tamanioCampos form-control" placeholder="">
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="col-lg-8 form-group">
          <label class="tamanioCampos">Calle Secundaria</label>
          <input type="text" class="tamanioCampos form-control" placeholder="">
        </div>
        <div class=" col-lg-4 form-group">
          <label class="tamanioCampos">Codigo Postal</label>
          <input type="text" class=" tamanioCampos form-control" placeholder="">
        </div> <!-- form-group end.// -->
      </div>

      <hr class="lineaSeparacion2">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="tamanioCampos">Contraseña</label>
          <input class="tamanioCampos form-control" type="password">
        </div> <!-- form-group end.// -->
        <div class="form-group col-md-6">
          <label class="tamanioCampos">Repetir contraseña</label>
          <input class="tamanioCampos form-control" type="password">
        </div> <!-- form-group end.// -->
      </div>
      <br>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn">
            Crea tu cuenta en condero
          </button>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked="">
          <div class="custom-control-label" style="font-size: smaller"> Estoy de acuerdo con los<a href="#"
                                                                                                   style="font-size: smaller">terminos
            y condiciones</a></div>
        </label>
      </div> <!-- form-group end.// -->

    </form>
  </article><!-- card-body.// -->
</div>

</body>
</html>

