<section>
  <h5 class="font-weight-bold text-lg-left text-center py-3 px-5">Encuentranos <span class="fa fa- fa-location-arrow"></span></h5>
  <hr>
  <div class="catalogo-tiendas mx-auto w-100 "></div>

  <div class="row justify-content-center  " *ngFor="let sucursal of this.Tienda?.SUCURSALs; let i= index">
    <div class="col-md-6 mt-3">

      <div class="card bg-white ">

        <div class="card-body text-center">
          <h5 class="card-title font-weight-bold">Sucursal &nbsp;{{i + 1}}</h5>
          <p class="map fas fa-map-marked-alt fa-4x text-primary"></p>
          <hr>
          <div class="row justify-content-center no-gutters">
            <p class="col-3 text-left mb-0"><strong>Dirección:</strong></p>
            <p class="card-text col-7 text-left mb-0">{{sucursal.DIRECCION_SUCURSAL}}</p>
            <p class="col-3 text-left mb-0"><strong>Telefono:</strong></p>
            <p class="card-text col-7 text-left mb-0">{{sucursal.TELEFONO_SUCURSAL}}</p>
            <p class="col-3 text-left mb-0"><strong>Cod Postal:</strong></p>
            <p class="card-text col-7 text-left mb-0">{{sucursal.NUM_COD_POSTAL_SUCURSAL}}</p>
            <p class="col-3 text-left mb-0"><strong># Referencia:</strong></p>
            <p class="card-text col-7 text-left mb-0">{{sucursal.NUM_REFERENCIA}}</p>
            <p class="col-3 text-left mb-0"><strong>Provincia:</strong></p>
            <p class="card-text col-7 text-left mb-0">{{sucursal.DPA.NOMBRE}}</p>
            <p class="col-3 text-left mb-0"><strong>Ciudad:</strong></p>
            <p class="card-text col-7 text-left mb-0">{{sucursal.DPA.DPAP.NOMBRE}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
